@use '../common' as *;
@use '../component/list';

#keymapList {
    .b3-list {
        &-item {
            min-height: 36px;
            .config-keymap__key,
            .b3-text-field {
                @include component('small', 1px);
            }

            &:hover {
                .b3-text-field {
                    background-color: get($bg, 'page', 1);
                }
            }

            .fn__space {
                width: $interval;
            }

            &__action {
                @include icon-btn('component', 24px, get($icon, 'small'));
                margin-left: $interval;
            }
        }

        &--border .b3-list__panel:before {
            left: -19px;
        }
    }
}
