@use 'sass:math';
@use '../common' as *;
@use 'big';

$com-bg: get($bg, 'page', 1);
$com-radius: get($radius, 'large');

//集市Readme
#configBazaarReadme {
    background-color: get($bg, 'base', 1);
    border-radius: big.$dialog-radius;
    padding: 16px;

    .item {
        // 侧栏
        &__side {
            background-color: $com-bg;
            border-radius: $com-radius;
            width: 350px;

            // 按钮
            .block__icon {
                &[data-type='goBack'] {
                    width: auto;
                    margin-top: 16px;
                    @include component-base();
                }
                &.ft__primary {
                    @include item-unchange('page', $important: true);
                }
            }
        }

        // 预览图
        &__preview {
            border-radius: unset;
            //             margin-bottom: 0;
        }

        // Readme主页
        &__main {
            background-color: $com-bg;
            border-radius: $com-radius;
            // Readme正文
            .b3-typography {
                // box-sizing: content-box;
                padding: 0 96px;
            }
        }

        &__readme {
            margin-top: 0;
            padding-bottom: 30vh;
        }
    }
}
