@use "../common" as *;
.b3-dialog {
  &__container:has(.b3-dialog__cardblock) {
    width: 50vw !important;
  }
  &__card {
    &block {
      .protyle-wysiwyg {
        padding-bottom: 16px !important;
      }
    }
    &action {
      > div:not(.fn__flex-1) {
        width: 20%;
        .b3-button {
          width: 100%;
        }
      }
      > .b3-button {
        width: 20%;
      }
    }
  }
}
