@use "sass:math";
@use "../common" as *;
@use "../component/form";
@use "../component/list";
@use "big";

$padding: $fn-space;
$btn-h: get($component-size, "base");
$form-h: 42px;

.b3-dialog__container:has(#searchList) {
  width: 80vw !important;
  .fn__flex-column[style*="80vh"] {
    border-radius: big.$dialog-radius !important;
  }

  .fn__loading--top {
    top: $form-h;
    border-radius: big.$dialog-radius;
  }
}

.search {
  &__header {
    @include form.search-input($form-h, 0, 16px);

    // 搜索文本框
    .b3-text-field {
      flex-shrink: unset;
      border: none !important;
      background-color: get($bg, "page", 1);

      &#searchInput,
      &#replaceInput {
        padding-left: $form-h + $fn-space !important;
      }

      &:hover,
      &:focus {
        box-shadow: unset;
        border: none;
      }
    }

    .block__icons {
      border-radius: 0 big.$dialog-radius 0 0;
      height: $form-h;
      padding: math.div($form-h - 28px, 2) $fn-space;
      .block__icon {
        opacity: 1;
        @include svg-div(28px, 12px, $important: true);
      }
    }

    // 搜索结果筛选行
    + .b3-form__space--small {
      margin: 0;
      height: $form-h;
      padding: 0 $fn-space 0 $fn-space * 2;
      border-bottom: $fn-border;
      .block__icon {
        @include svg-div(28px, 12px, $important: true);
        margin: auto 0;
      }

      #searchResult {
        @include v-center($form-h);
      }

      #searchPathInput:not(:empty) {
        @include component($border: 1);
        border-radius: get($radius, "max");
        border: 1px solid transparent;
        padding-right: 28px;
        font-size: get($font-size, "small");
        &:hover {
          border-color: get($border, 3);
        }
        .search__rmpath {
          $w: 18px;
          @include svg($w, 8px);
          @include item("page");
          top: math.div(get($component-size, "base") - $w, 2) - 1px;
          right: math.div(get($component-size, "base") - $w, 2) - 1px;
        }
      }
    }
  }

  &__arrowdown {
    margin-left: $interval;
  }
}

// 搜索结果列表
#searchList {
  padding: $fn-space;

  > .b3-list-item {
    // &:not([data-type="search-item"]) {
    //   @include item("component");
    // }
    // 分组
    + div:not([data-type="search-item"]) {
      box-shadow: 16px 0 rgba(var(--page-1), 1) inset,
        17px 0 rgba(var(--border-3), 1) inset;
      > [data-type="search-item"] {
        height: 32px;
        margin-left: 24px !important;
        padding-left: list.$padding !important;
      }
    }

    // 未分组
    &[data-type="search-item"] {
      $text-h: list.$text-h;
      $padding: $interval;
      padding: $padding;
      display: block;
      height: auto;
      padding-bottom: $text-h + $padding;
      .b3-list-item {
        &__graphic {
          position: absolute;
          top: $padding * 2;
        }
        &__text {
          overflow-y: auto !important;
          text-overflow: ellipsis !important;
          -webkit-box-orient: inherit;
          margin: 0;
          padding: $padding $padding $padding * 2 20px + $padding;
        }
        &__meta {
          position: absolute;
          bottom: $padding * 2;
          left: $padding * 2 + 20px;
          max-width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin: 0;
          width: calc(100% - $padding * 4 - 20px);
        }
      }
    }
  }
}

// 搜索预览
#searchPreview {
  // 面包屑
  .protyle {
    &-breadcrumb {
      &__bar {
        margin-right: $fn-space;
        // display: -webkit-box;
      }
      .block__icon {
        @include svg-div(
          get($component-size, "exsmall"),
          10px,
          $important: true
        );
      }
    }

    &-wysiwyg {
      padding: 5px 48px 90px !important;
    }
  }
}

/*ctrl+p改造成左右排列*/
.b3-dialog__container:has(#searchList) {
  /*先把容器改成左右排列并自动换行*/
  > div > .fn__flex-column {
    flex-direction: row !important;
    flex-wrap: wrap;
  }

  /*设置需要占满一行的项目*/
  .search__header,
  .b3-form__space--small {
    width: 100%;
  }

  /*窗口宽度大于一定尺寸时候，左右排列*/
  @media screen and (min-width: 960px) {
    /*搜索结果列表占一半宽度，靠左排列*/
    #searchList {
      float: left;
      width: 45%;
      border-right: $fn-border;
    }

    /*结果预览自动占满剩余宽度，高度和结果列表等高*/
    #searchPreview {
      border: none;
      border-radius: 0 0 big.$dialog-radius;
    }

    //替换界面高度
    #searchList,
    #searchPreview {
      height: calc(100% - ($form-h + 1px) * 3) !important;
    }

    // 搜索界面
    .search__header.fn__none {
      ~ #searchList,
      ~ #searchPreview {
        height: calc(100% - ($form-h + 1px) * 2) !important;
      }
    }
  }

  /*窗口宽度小于一定尺寸时候，上下排列*/
  @media screen and (max-width: 960px) {
    #searchList {
      width: 100%;
    }
  }
}

/* 修复搜索文章不能完整显示的问题 */
// .protyle-content {
//   .spread-search__preview & {
//     padding-bottom: 56px;
//   }
//   div[data-key="⌘R"] #searchPreview & {
//     padding-bottom: 90px;
//   }
// }
