@use 'sass:math';
@use '../common' as *;
@use '../component/list';
@use '../component/form';
@use 'big';

$w: get($component-size, 'small');
$spacing: math.div(16px * 2 + 24px - $w, 2);
$mar: 12px;
$padding: 24px;
$meta-w: 80px;

$small-radius: big.$dialog-radius;
$space: 3%;

@mixin actions {
    .fn__space {
        width: $space;
    }

    .b3-button {
        @include item('pop');
        color: get($text, 'primary');
        box-shadow: get($shadow, 0);
        letter-spacing: 0.3px;
        width: math.div(100% - $space, 2);

        // 确认按钮
        &.b3-button--text {
            @include item-primary();
        }
    }
}

// @mixin close {
//     @include item-close();
//     @include component();
//     @include svg($w, 16px);
//     background-color: get($bg, 'page', 2);
//     top: $spacing;
//     right: $spacing;
// }

//小弹窗
.b3-dialog__container {
    &[style*='50vw'],
    &[style*='520px'] {
        width: 520px !important;
        // padding: 0 16px;

        .b3-dialog {
            //弹窗标题
            &__header {
                padding: 16px $padding - $mar;
                margin: 0 $mar;

                // border: none;
                // border-radius: $small-radius $small-radius 0 0;
                // background-color: get($bg, "base", 1);
                // 新建日记弹窗
                &.fn__none {
                    display: block !important;

                    &::before {
                        content: '新建日记';
                        display: block;
                    }
                }

                .ft__smaller.ft__on-surface {
                    display: block;
                    margin-top: $interval;
                }
            }

            //弹窗关闭按钮
            &__close {
                display: none;
                // @include close();
            }

            // 弹窗底部按钮
            &__action {
                padding: $padding $padding - $mar;
                margin: 0 $mar;
                @include actions();
            }
        }

        // 属性弹窗
        .custom-attr {
            padding: 16px $padding;

            .b3-label {
                padding: 0;
                margin: 0 0 24px;
                font-size: get($font-size, 'base');
            }

            + .b3-dialog__action .b3-button {
                width: math.div(100% - $space * 2, 3);
            }

            textarea {
                line-height: 18px;
            }

            // 自定义属性区域
            .custom-attr__add {
                padding: 0;
                height: get($component-size, 'base') * 4 + 16px * 3;

                // 自定义属性添加按钮
                .b3-button {
                    width: $meta-w !important;
                }
            }
        }

        .b3-form__icon {
            @include form.search-input(list.$item-h, 0, 12px);
            margin: $fn-space $mar !important;
        }

        // 移动弹窗的搜索结果列表
        #foldList {
            margin: 0 $mar;
            .b3-list {
                &-item {
                    padding: list.$padding !important;
                    &__graphic {
                        align-self: flex-start;
                    }
                    &__showall {
                        margin-left: list.$padding;
                        line-height: list.$text-h;
                    }
                }
            }
        }

        #foldTree {
            margin: 0 $mar;
        }
    }

    &[style*='520px'] {
        width: 360px !important;
        .b3-dialog {
            &__content {
                padding: 28px $padding;

                > .b3-text-field {
                    @include component('medium');
                    border-radius: get($radius, 'base');
                    + .b3-label__text {
                        margin-top: 8px;
                    }
                }

                &[style*='height'] {
                    height: auto !important;
                    padding: 0px $padding;
                }
            }
        }
        &:has([style*='40vh']) {
            width: 450px !important;
            .ft__on-surface {
                line-height: 1.6;
            }
            [style*='40vh'] {
                height: 20vh !important;
            }
        }
    }
}
