$util-border-radius: $rc-bradius-medium;
// $util-button-bg-hover: $gray-2;
$util-topbar-border: 1px solid $rc-border-3;
$util-textarea-bg: $rc-container-bg;

//工具窗
.protyle-util {
    border-radius: $util-border-radius;

    .protyle-font {
        padding: 0px 16px 16px;

        *[style*="margin"] {
            color: $rc-text-secondary;
            margin: 16px 0 10px !important;
        }
        .fn__flex{
            .b3-color__square{
                width: 18px;
                height: 18px;
                box-shadow: unset;
                padding: 0;
                border: 1px solid $rc-border-3;
                &:not(:last-child){
                    margin-right: 8px;
                }
                &:hover{
                    border-color: $rc-border-1;
                }
            }
            .protyle-font__style{
                padding: 0 12px;
                &:hover{
                    border-color: $rc-border-3;
                }
            }
        }
    }

    // 特殊语言弹窗
    .block__popover--move {
        .block__icons {
            border-radius: $util-border-radius $util-border-radius 0 0;
            padding: 0 8px;
            height: 36px;
            border-bottom: $util-topbar-border;
        }

        textarea {
            border-radius: 0 0 $util-border-radius $util-border-radius;
            background-color: $util-textarea-bg;

            &,
            &:hover,
            &:focus {
                border: none !important;
            }
        }
    }

    //代码块选择语言
    .b3-list {
        min-width: 240px;
        margin-bottom: 4px !important;

        .b3-list-item {
            &:last-child {
                margin-bottom: 0;
            }

            padding-left: 12px !important;
            // text-transform: capitalize;
        }
    }
}