//大弹窗（80vw）
@import "big";
//小弹窗（50vw/520px）
@import "small";
//集市
@import "bazaar";
//快捷键
@import "keymapList";
//reademe
@import "readme";
//搜索
@import "search";
//账号
@import "account";
//数据历史
@import "history";

