//数量按钮
%counter__model {
  height: 22px;
  width: auto;
  padding: 0 7px;
  text-align: center;
  justify-content: center;
  line-height: 22px;
  &:hover {
    background-color: $rc-theme-list-button;
  }
}

//界面上按钮
@mixin block__icon__model($width, $svg-width) {
  width: $width;
  height: $width;
  padding: 0;
  border-radius: 4px;
  &:hover {
    background-color: $rc-theme-surface-button;
  }
  &.ft__primary:hover {
    background-color: $rc-theme-surface-button-focus;
  }
  svg {
    width: $svg-width;
    height: $svg-width;
    padding: ($width - $svg-width)/2;
  }
}
