$snackbar-shadow: fluent-shadow(16);
$snackbar-border-radius: $rc-bradius-small;
$snackbar-color: $rc-text-primary;
$snackbar-bg: $rc-container-bg;
$snackbar-info-color: $rc-brand;
$snackbar-link-color: $rc-brand;
$snackbar-danger-color: $rc-error;

//通知弹窗
.b3-snackbars {

  .fn__flex-1 {
    padding: 16px 16px 0 64px;
  }

  .b3-snackbar {
    // display: flex;
    // width: auto;
    // align-self: baseline;
    // height: 46px+16px;
    // margin: 0;
    // border-bottom: 16px solid transparent;

    // margin: 0;
    .b3-snackbar__content {
      position: relative;
      color: $snackbar-color; //$rc-brand;
      box-shadow: $snackbar-shadow  !important;
      background-color: $snackbar-bg; //$brand-2;
      border-radius: $snackbar-border-radius  !important;
      // border: 1px solid $rc-brand;
      padding: 13px 16px 13px 16px+18px+12px;
      font-size: 13px;
      // padding-left: 15px;
      max-width: 30vw;

      &::before {
        content: "";
        margin-top: 2px;
        display: block;
        position: absolute;
        left: 16px;
        top: calc(50% - 18px / 2);
        width: 18px !important;
        height: 18px;
        margin: 0;
        // margin-right: 8px;
        @include add_icon("info", $snackbar-info-color, 18, "round");
      }

      a {
        color: $snackbar-link-color;
      }
    }

    .b3-snackbar__close {
      display: none;
      // display: inline-flex;
      // position: unset;
      width: 20px;
      height: 20px;
      right: 16px;
      top: 13px;
      padding: 4px;
      color: $rc-text-placeholder;

      &:hover {
        color: $rc-text-secondary;
        background-color: $snackbar-bg;
      }
      
    }
    
    // &:last-child{
    //   margin-bottom: 0;
    // }
    &--error {
      .b3-snackbar__content {

        &::before {
          @include add_icon("warning", $snackbar-danger-color, 18, "round");
        }
      }
    }
  }

  .b3-button {
    margin: 0;
    padding: 8px 16px 16px;
    background-color: transparent;
    width: auto;
    // height: 46px;
    // transform: translateX(-16px-40px);

    svg,
    &::before {
      display: none !important;
    }

    &::after {
      display: flex;
      margin: 0;
      opacity: 1;
      width: auto;
      margin: 0;
      content: '全部已读';
      // padding: 0;
      // line-height: 1;
      box-shadow: fluent-shadow(16);
      position: unset;
      transform: unset;
      color: $rc-text-anti;
      background-color: $rc-brand;
      
    }

    &:hover {
      background-color: transparent  !important;

      &::after {
        background-color:$rc-brand-hover;
        color: $rc-text-anti;
      }
    }
  }
}