//边栏
@import "surface/dock";
//界面按钮
@import "surface/block-icons";
//边窗
@import "surface/wnd";
//开关
@import "surface/switch";
//输入框
@import "surface/input";

//顶栏
@import "surface/top-bar";
//页签
@import "surface/tab-bar";
//面包屑
@import "surface/bread-crumb";

//菜单
@import "surface/menu";
//对话弹窗
@import "surface/dialog";
//emoji面板
@import "surface/emojis";
// 列表
@import "surface/list";
//块引用悬浮窗
@import "surface/block-popover";
//滚动条
@import "surface/scroller";
//通知弹窗
@import "surface/snackbar";
//按钮
@import "surface/button";
//滑条
@import "surface/slider";

//选择菜单
.b3-select {
  background-color: $rc-theme-surface-control;
  &:focus {
    box-shadow: none;
  }
}

//tips
.b3-tooltips {
  &::before {
    border: none;
  }
  &::after {
    box-shadow: #{$rc-inline-link-tooltip-shadow};
    background-color: $rc-theme-surface-background;
    color: $rc-theme-on-background;
    padding: 6px 8px;
    // z-index: 999 !important;
  }
}

//表单
.b3-form__space--small {
  .block__icon {
    @include block__icon__model(28px, 14px);
  }
}

// .layout__resize:hover:after{
//   background-color: $rc-theme-list-button;
// }

.layout__resize--lr {
  margin: #{$interval} calc((#{$interval} - 6px) / 2 - #{$interval});
  &::after {
    left: 2.5px;
  }
}

.layout__resize:not(.layout__resize--lr) {
  margin: calc((#{$interval} - 6px) / 2 - #{$interval}) #{$interval};
  width: calc(100% - #{$interval}* 2);
}

::selection {
  background-color: $rc-selection-color;
}


.protyle-scroll {
  opacity: 0;
  &:hover {
    transition: opacity 0.3s ease-out;
    opacity: 1;
  }
}
