//边栏
@import "surface/dock";
//界面按钮
@import "surface/block-icons";
//边窗
@import "surface/wnd";
//开关
@import "surface/switch";
//输入框
@import "surface/input";

//顶栏
@import "surface/top-bar";
//页签
@import "surface/tab-bar";
//面包屑
@import "surface/bread-crumb";

//菜单
@import "surface/menu";
//对话弹窗
@import "surface/dialog";
//emoji面板
@import "surface/emojis";
// 列表
@import "surface/list";
//块引用悬浮窗
@import "surface/block-popover";
//滚动条
@import "surface/scroller";
//通知弹窗
@import "surface/snackbar";
//按钮
@import "surface/button";

//选择菜单
.b3-select {
  background-color: $rc-theme-surface-control;
  &:focus {
    box-shadow: none;
  }
}

//tips
.b3-tooltips {
  &::before {
    border: none;
  }
  // &::after{
  //   z-index: 999 !important;
  // }
}

//表单
.b3-form__space--small {
  .block__icon {
    @include block__icon__model(28px, 14px);
  }
}

// .layout__resize:hover:after{
//   background-color: $rc-theme-list-button;
// }

.layout__resize--lr {
  margin: #{$interval} calc((#{$interval} - 6px) / 2 - #{$interval});
  &::after {
    left: 2.5px;
  }
}

.layout__resize:not(.layout__resize--lr) {
  margin: calc((#{$interval} - 6px) / 2 - #{$interval}) #{$interval};
  width: calc(100% - #{$interval}* 2);
}

::selection {
  background-color: $rc-selection-color;
}

.b3-slider {
  height: 44px;
  &::-webkit-slider-thumb {
    width: 14px;
    height: 14px;
    box-shadow: unset;
    border: 2px solid $rc-theme-primary-4;
    background-color: $rc-theme-surface-background;
    margin-top: -6px;
    transform: unset !important;
  }
  &::-webkit-slider-runnable-track {
    height: 2px;
    background-color: $rc-theme-primary-4;
    border-radius: 2px;
  }
  &:focus,
  &:hover {
    &::-webkit-slider-thumb {
      box-shadow: unset;
      width: 14px;
      height: 14px;
      transform: unset;
      border-color: $rc-theme-primary-6;
    }
    &:-webkit-slider-runnable-track {
      background-color: $rc-theme-primary-6 !important;
    }
  }
}

.protyle-scroll{
  opacity: 0;
  &:hover{
    transition: opacity 0.3s ease-out;
    opacity: 1;
  }
}