//边栏
@import "surface/dock";
//界面按钮
@import "surface/block-icon";
//边窗
@import "surface/wnd";

//顶栏
@import "surface/top-bar";
//页签
@import "surface/tab-bar";
//面包屑
@import "surface/bread-crumb";

//菜单
@import "surface/menu";
//对话弹窗
@import "surface/dialog";
//emoji面板
@import "surface/emojis";
// 列表
@import "surface/list";
//块引用悬浮窗
@import "surface/block-popover";

//按钮
.b3-button:not(.b3-button--text):not(.b3-button--cancel):not(.b3-button--outline) {
  &:hover {
    background-color: rgba($rc-theme-primary, 0.9);
    box-shadow: none;
  }
}
.b3-button--outline {
  svg {
    width: 12px;
    height: 12x;
  }
  &:hover {
    background-color: $rc-button-cancel-hover;
  }
}

//输入框
.b3-text-filed {
  border: 1px solid $rc-border-color !important;
  border-radius: 6px;
  &.b3-text-filed--small {
    height: 24px;
  }
  &:not(.b3-text-filed--small):not(.b3-text-filed--text) {
    background-color: $rc-theme-surface-control;
  }
  .b3-list-item > & {
    background-color: $rc-theme-background !important;
  }
  &:hover,
  &:focus {
    box-shadow: none;
    border: 1px solid $rc-border-color !important;
  }
}

//选择菜单
.b3-select {
  background-color: $rc-theme-surface-control;
  &:focus {
    box-shadow: none;
  }
}

//开关
.b3-switch {
  background-color: $rc-theme-surface-control;
}

//label
.b3-label {
  background-color: $rc-theme-background;
}

//tips

.b3-tooltips {
  &::before {
    border: none;
  }
  // &::after{
  //   z-index: 999 !important;
  // }
}
//表单
.b3-form__space--small {
  .block__icon {
    @include block__icon__model(28px, 14px);
  }
}

// .layout__resize:hover:after{
//   background-color: $rc-theme-list-button;
// }

.b3-snackbar {
  .b3-snackbar__content {
    border-radius: 8px !important;
    box-shadow: #{$rc-snackbar-shadow} !important;
  }
}

.layout__resize--lr {
  margin: 0 ($interval - 6px)/2;
}

.layout__resize:not(.layout__resize--lr) {
  margin: ($interval - 6px)/2 - $interval 0;
}

//滚动条
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
}

::selection {
  background-color: $rc-selection-color;
}
