@use "sass:map";
@use "sass:math";
@use "../common" as *;
@use "../panel/block-icons";

$item-h: map.get($component-size, "base");
$item-color: map.get($text, "placeholder");
$fz: map.get($font-size, "exsmall");

//面包屑
.protyle-breadcrumb {
  padding: 0px 8px 0px;
  min-height: $item-h;

  &__bar {
    min-height: $item-h;
    margin: 0;
  }

  &__item {
    @include v-center($item-h);
    padding: 0;
    margin: 0;
    transition: map.get($transition, "all");

    svg {
      @include svg(20px, 10px);
      color: $item-color;
      margin: math.div($item-h - 20px, 2) 0;
    }

    .protyle-breadcrumb__text:not(:empty) {
      color: $item-color;
      margin: 0;
      font-size: map.get($font-size, "exsmall");
      transition: map.get($transition, "all");
    }

    &:hover,
    &--active {
      background-color: transparent;

      .protyle-breadcrumb__text:not(:empty) {
        color: map.get($text, "primary");
      }
    }

    margin: 0 8px;
    &:first-child {
      margin-left: 0;
    }
  }

  &__arrow {
    // @include svg(8px);
    // color: map.get($text, "disabled");
    // margin: math.div($item-h - 8px, 2) 4px;
    width: 0;
    height: $fz;
    border-right: 1px solid map.get($text, "disabled");
    transform: rotate(23deg);
    margin: 0;
  }

  .block__icon {
    @include block-icons.btn($important: true);
    &::after {
      display: none;
    }
  }
}
