@use "../common" as *;

$tran: 6px;
$h: 28px;
//块标识按钮
.protyle-gutters {
  transform: translateX(0 - $tran);
  border-right: $tran solid transparent;

  button {
    @include item-tran("page");
    @include svg-div(24px, 12px, $h);
    border-radius: get($radius, "small");
    color: get($text, "disabled");

    &:hover {
      color: get($text, "secondary");
    }

    &[data-type="fold"] {
      @include svg-div(24px, 8px, $h, true);
    }
  }
}
