@use "sass:math";
@use "../common" as *;

$width: 750px;
$padding: max(64px, 50% - math.div($width, 2));
$item-pad: 3px 2px;

.protyle {
  &-content {
    overflow: overlay;

    &[data-fullwidth="true"] {
      .protyle {
        &-background {
          &__img .protyle-icons {
            right: 96px;
          }
        }
        &-title {
          margin-top: 0 !important;
        }
      }
    }

    &:not([data-fullwidth="true"]) {
      .protyle {
        &-background {
          &__iconw {
            left: $padding !important;
          }
          &__img .protyle-icons {
            right: $padding;
          }
        }
        &-title {
          margin: 0 $padding !important;
          width: auto !important;
        }
        &-wysiwyg {
          padding-left: $padding !important;
          padding-right: $padding !important;
          transition: unset !important;
          width: 100% !important;
        }
      }
    }
  }

  &-wysiwyg {
    padding-top: 5px !important;
    padding-bottom: 30vh !important;

    [data-node-id][fold="1"]:not(.li):not([data-type="NodeHeading"]) {
      font-size: 1em !important;
    }

    [data-type] {
      border-radius: get($radius, "base");
    }

    > [data-type] {
      padding: $item-pad;
    }

    .def--mark {
      color: get($text, "primary") !important;
    }
  }

  &-scroll {
    right: -60px;
  }

  //反链计数
  &-attr {
    &--refcount {
      top: 50%;
      right: -50%;
      @include counter(22px);
    }
  }

  //文本转语音按钮
  &-speech {
    border-color: get($border, 2);
  }
}
