@use "../../common" as *;

.footnotes-ref {
  a {
    color: get($text, "brand") !important;
    border: none;
    &::before {
      display: none !important;
    }
    &:hover {
      border-bottom: 1px solid get($text, "brand") !important;
    }
  }
}
