//主色
$rc-theme-primary: rgb(0, 135, 255);
$rc-theme-primary-light: rgba($rc-theme-primary, 0.54);
$rc-theme-primary-lighter: rgba($rc-theme-primary, 0.38);
$rc-theme-primary-lightest: rgba($rc-theme-primary, 0.12);

$rc-background: rgb(255, 255, 255);

$rc-theme-surface: rgb(252,252,252); //rgb(252, 252, 252);
$rc-theme-surface-button: rgb(247,247,247);
$rc-theme-surface-border: rgb(238, 238, 238);
$rc-theme-surface-hover: rgb(225,225,225); //rgb(231, 231, 231);
f
$rc-theme-list-hover:rgb(246,246,246);
$rc-theme-list-focus:rgb(246,246,246);

//文字颜色
$rc-theme-on-background: rgb(31, 34, 37);
$rc-theme-on-surface: rgb(53, 56, 59); //rgba($rc-theme-on-background, 0.8);

$rc-surface-boder: 1px solid $rc-theme-surface-border;

$rc-border-color: rgb(238, 238, 238);



//页签
$rc-topbar-color: #424243;
$rc-button-background-hover: rgb(242, 242, 242);

//边窗动画时间
$rc-width-time: 0.25s;

//滚动条
$rc-scroll-color: rgba(0, 0, 0, 0.1);

$rc-dock-active: rgba($rc-theme-primary, 0.1);

$rc-mark-background: rgb(212, 240, 255);

$rc-menu-shadow: "rgb(0 0 0 / 20%) 0px 0px 1px, rgb(0 0 0 / 16%) 0px 10px 20px";
$rc-dialog-shadow: "rgb(0 0 0 / 20%) 0px 0px 1px, rgb(0 0 0 / 20%) 0px 20px 50px";

$rc-menu-background: #fff;

$rc-tooltips-color: rgb(15, 15, 15);

//rgb(166, 251, 222);

// $rc-dock-shadow: "0 2px 2px rgb(65 65 85 / 14%), 0 3px 1px rgb(65 65 85 / 12%), 0 1px 5px rgb(65 65 85 / 20%)";

@font-face {
  font-family: "HarmonyOS Sans SC";
  src: url("src/fonts/HarmonyOS_Sans_SC_Regular.ttf");
}

:root {
  // 主色
  --b3-theme-primary: #{$rc-theme-primary};
  --b3-theme-primary-light: #{$rc-theme-primary-light};
  --b3-theme-primary-lighter: #{$rc-theme-primary-lighter};
  --b3-theme-primary-lightest: #{$rc-theme-primary-lightest};
  --b3-theme-secondary: #f3a92f;
  --b3-theme-background: #{$rc-background};
  --b3-theme-background-light: #{$rc-background};
  --b3-theme-surface: #{$rc-theme-surface};
  --b3-theme-surface-light: rgba(243, 243, 243, 0.86);
  --b3-theme-error: #d23f31;

  // 文字颜色
  --b3-theme-on-primary: #fff;
  --b3-theme-on-secondary: #fff;
  --b3-theme-on-background: #{$rc-theme-on-background};
  --b3-theme-on-surface: #{$rc-theme-on-surface};
  --b3-theme-on-error: #fff;

  // 字体
  --b3-font-family: "quote", "HarmonyOS Sans SC", "Helvetica Neue", "Luxi Sans",
    "DejaVu Sans", "Hiragino Sans GB", "Microsoft Yahei", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol",
    "Android Emoji", "EmojiSymbols";
  --b3-font-family-code: "JetBrainsMono-Regular", "HarmonyOS Sans SC", mononoki,
    Consolas, "Liberation Mono", Menlo, Courier, monospace, "Apple Color Emoji",
    "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    "EmojiSymbols";
  --b3-font-family-graph: mononoki;
  --b3-font-family-emoji: "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI",
    "Apple Color Emoji", "Twemoji Mozilla", "Noto Color Emoji", "Android Emoji";

  // 线条
  --b3-border-color: #{$rc-background};

  // 滚动条
  --b3-scroll-color: #{$rc-scroll-color};

  // 列表
  --b3-list-hover: #{$rc-theme-list-hover};

  // 菜单
  --b3-menu-background: #{$rc-menu-background};

  // 提示
  --b3-tooltips-color: #{$rc-tooltips-color};

  // 卡片背景
  --b3-card-error-color: rgb(97, 26, 21);
  --b3-card-error-background: rgb(253, 236, 234);
  --b3-card-warning-color: rgb(102, 60, 0);
  --b3-card-warning-background: rgb(255, 244, 229);
  --b3-card-info-color: rgb(13, 60, 97);
  --b3-card-info-background: rgb(232, 244, 253);
  --b3-card-success-color: rgb(30, 70, 32);
  --b3-card-success-background: rgb(237, 247, 237);

  // 自定义文字
  --b3-font-color1: var(--b3-card-error-color);
  --b3-font-color2: var(--b3-card-warning-color);
  --b3-font-color3: var(--b3-card-info-color);
  --b3-font-color4: var(--b3-card-success-color);
  --b3-font-color5: var(--b3-theme-on-surface);
  --b3-font-color6: var(--b3-theme-primary);
  --b3-font-color7: var(--b3-theme-secondary);
  --b3-font-color8: var(--b3-theme-error);
  --b3-font-color9: #f5539e;
  --b3-font-color10: #944194;
  --b3-font-color11: #65b84d;
  --b3-font-color12: #f5822e;
  --b3-font-color13: var(--b3-theme-background);
  --b3-font-background1: var(--b3-card-error-background);
  --b3-font-background2: var(--b3-card-warning-background);
  --b3-font-background3: var(--b3-card-info-background);
  --b3-font-background4: var(--b3-card-success-background);
  --b3-font-background5: var(--b3-theme-surface);
  --b3-font-background6: var(--b3-theme-primary-light);
  --b3-font-background7: rgba(217, 211, 215, 0.5);
  --b3-font-background8: rgba(255, 193, 153, 0.5);
  --b3-font-background9: rgba(189, 201, 255, 0.5);
  --b3-font-background10: rgba(239, 218, 251, 0.5);
  --b3-font-background11: rgba(234, 202, 220, 0.5);
  --b3-font-background12: rgba(253, 198, 200, 0.5);
  --b3-font-background13: var(--b3-theme-on-background);

  // 动画效果
  --b3-transition: all 0.15s cubic-bezier(0, 0, 0.2, 1) 0ms;
  --b3-width-transition: width #{$rc-width-time} ease-out 0s; //rc-width-transition

  // 阴影
  --b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  --b3-dialog-shadow: #{$rc-menu-shadow};

  // diff
  --b3-diff-add: #dfd;
  --b3-diff-add-surface: #97f295;
  --b3-diff-del: #fee8e9;
  --b3-diff-del-surface: #ffb6ba;

  /* 图表颜色 */
  --b3-graph-p-point: #076f7e;
  --b3-graph-heading-point: #9876aa;
  --b3-graph-math-point: #80ffa5;
  --b3-graph-code-point: #00ddff;
  --b3-graph-table-point: #37a2ff;
  --b3-graph-list-point: #ff0087;
  --b3-graph-todo-point: #ffbf00;
  --b3-graph-olist-point: #b3005f;
  --b3-graph-listitem-point: #f65b00;
  --b3-graph-bq-point: #8d48e3;
  --b3-graph-super-point: #dd79ff;
  --b3-graph-doc-point: #e8eaed;
  --b3-graph-tag-point: #dbf32f;
  --b3-graph-asset-point: #05c091;
  --b3-graph-line: #9aa0a6;
  --b3-graph-ref-line: #d23f31;
  --b3-graph-tag-line: #5f6b06;
  --b3-graph-tag-tag-line: #dbf32f;
  --b3-graph-asset-line: #037457;
  --b3-graph-hl-point: #f3a92f;
  --b3-graph-hl-line: #4285f4;

  // 编辑器搜索颜色
  --b3-protyle-search-background: #{$rc-mark-background};
  --b3-protyle-search-border-color: #f2e680;
  --b3-protyle-search-current-background: #a5d3fe;

  // 代码片段背景
  --b3-protyle-code-background: rgba(27, 31, 35, 0.05);

  // 所见即所得行内元素颜色
  --b3-protyle-inline-strong-color: #202124;
  --b3-protyle-inline-em-color: #202124;
  --b3-protyle-inline-s-color: #202124;
  --b3-protyle-inline-link-color: #4285f4;
  --b3-protyle-inline-mark-background: #{$rc-mark-background};
  --b3-protyle-inline-mark-color: #202124;
  --b3-protyle-inline-tag-color: #5f6368;
  --b3-protyle-inline-blockref-color: #660e7a;

  /* PDF */
  --b3-pdf-sidebar-width: 200px;
  --b3-pdf-offset: 0;
  --b3-pdf-background1: var(--b3-theme-error);
  --b3-pdf-background2: #f5822e;
  --b3-pdf-background3: var(--b3-theme-secondary);
  --b3-pdf-background4: #65b84d;
  --b3-pdf-background5: #f5539e;
  --b3-pdf-background6: var(--b3-theme-primary);
  --b3-pdf-background7: #944194;
}

// PDF
.textLayer,
.pdf__resize {
  mix-blend-mode: darken;
}

//间隔空白宽度
$interval: 8px;

//两侧边栏
.dock--vertical_model {
  border-radius: 6px;
  padding: 4px;
  background-color: $rc-theme-surface;
  border: $rc-surface-boder;
  span {
    width: 35px;
    padding: 0 0 0 1px;
    justify-content: center;
    background-color: $rc-theme-surface;
    transform: translateZ(0px) scale(1);
    line-height: 0;
    height: 40px;
    flex-grow: 1;
    position: relative;
    border-radius: 4px;
    transition: all 0s ease 0s;
    margin: 1px 0px;
    cursor: pointer;
    &:hover {
      background-color: $rc-theme-surface-button;
    }
    &.dock__item--active:hover {
      background-color: $rc-dock-active;
    }
    svg {
      $dock-svg-width: 15px;
      width: $dock-svg-width;
      height: $dock-svg-width;
    }
  }
}

.dock--vertical {
  width: 46px;
  margin-left: $interval;
  margin-right: $interval;
  z-index: 43;
  div:first-child:not(:empty) {
    @extend .dock--vertical_model;
    margin-top: $interval;
  }
  div:last-child:not(:empty) {
    @extend .dock--vertical_model;
    margin-bottom: $interval;
  }
  .dock__item[data-index="0"]::after {
    margin: 0 10px;
    top: -28px;
  }
  .dock__item[data-index="1"]::after {
    bottom: 70%;
  }
}

// 两侧边窗

.counter__model {
  height: 22px;
  width: auto;
  padding: 0 7px;
  text-align: center;
  justify-content: center;
  line-height: 22px;
  &:hover {
    background-color: $rc-theme-surface-hover;
  }
}

@mixin block__icon__model($width, $svg-width) {
  width: $width;
  height: $width;
  padding: 0;
  border-radius: 4px;
  &:hover {
    background-color: $rc-theme-surface-button;
  }
  &.ft__primary:hover {
    background-color: $rc-dock-active;
  }
  svg {
    width: $svg-width;
    height: $svg-width;
    padding: ($width - $svg-width)/2;
  }
}

.block__icons {
  &.block__icons--active {
    background-color: var(--b3-theme-surface);
  }
  :not(.block__popover) > & {
    padding: 4px 16px;
  }
  font-size: 15px;
  font-weight: 500;
  // font-family: "Noto Sans SC Bold";
  .fn__space {
    width: 0;
  }
  .block__icon {
    @include block__icon__model(24px, 12px);
    margin-left: 6px;
  }
  .listCount,
  .listMCount {
    @extend .counter__model;
    margin: 2px 8px 0 0;
    + .fn__space {
      display: none;
    }
  }
  .b3-form__icon-icon {
    padding-top: 1px;
  }
}

@keyframes wnd-close-left {
  from {
    opacity: 1;
    transform: translateX(0);
    max-height: 100%;
  }
  50% {
    opacity: 0;
    transform: translateX(-50%);
    max-height: 100%;
  }
  to {
    opacity: 0;
    transform: translateX(-50%);
    max-height: 0;
  }
}

@keyframes wnd-close-right {
  from {
    opacity: 1;
    transform: translateX(0);
    max-height: 100%;
  }
  50% {
    opacity: 0;
    transform: translateX(50%);
    max-height: 100%;
  }
  to {
    opacity: 0;
    transform: translateX(50%);
    max-height: 0;
  }
}

#layouts > .fn__flex {
  overflow: hidden;
  //两侧边窗共有属性
  > .fn__flex-column:not(.layout__center) {
    transition: var(--b3-width-transition) !important;
    $wnd-transition: all $rc-width-time ease-out 0s;
    .wnd {
      min-height: 10% !important;
      margin: $interval 0 !important;
      border-radius: 8px;
      border: $rc-surface-boder;
      transition: $wnd-transition;
      // box-shadow: #{$rc-dock-shadow};
    }
    > .fn__flex {
      overflow-x: hidden;
      > div[data-type="wnd"] {
        @extend .wnd;
        opacity: 1;
        transform: translateX(0);
        .layout-tab-container > .fn__flex-1 {
          overflow-x: hidden;
          min-width: 0;
          > .fn__flex-1 {
            min-height: 0 !important;
          }
        }
      }
    }
    > .fn__none:not(.layout__resize) {
      display: flex !important;
      animation: wnd-close-right $rc-width-time * 2 forwards ease-in-out;
      > div[data-type="wnd"] {
        @extend .wnd;
        opacity: 0;
        transform: translateX(50%);
      }
    }
  }
  //左侧边窗特殊处理
  > .fn__flex-shrink:not(.layout__center) {
    > .fn__none:not(.layout__resize) {
      animation: wnd-close-left $rc-width-time * 2 forwards ease-in-out !important;
      > div[data-type="wnd"] {
        transform: translateX(-50%);
      }
    }
  }
}

//列表UI
.b3-list--files,
.b3-list--background {
  padding: 0 8px 8px;

  &.b3-tab-bar {
    padding: 0 8px;
    // background-color: #fff;
  }

  .b3-list-item {
    $list-left: 24px;
    $list-text-height: 24px;
    height: auto;
    border-radius: 0.375rem;
    line-height: $list-text-height;
    * {
      color: $rc-theme-on-surface !important;
    }

    &.b3-list-item--focus:not(.dragover):not(.dragover__top):not(.dragover__bottom) {
      background-color: $rc-theme-list-focus !important;
    }
    &.b3-list-item--big {
      margin-bottom: 8px;
      &:first-child {
        margin-top: 8px !important;
      }
    }
    &:not(.b3-list-item--big) {
      padding: (32.8px-$list-text-height)/2 8px !important;
      .b3-list-item__toggle {
        height: $list-text-height;
        padding: 0 !important;
        &.fn__hidden {
          width: 0;
          margin: 0;
          padding: 0;
        }
      }
      .b3-list-item__toggle--hl:hover {
        background-color: transparent;
      }
      @mixin graphic($graphic-width) {
        width: $graphic-width;
        height: $graphic-width;
        padding: ($list-text-height - $graphic-width)/2;
      }
      .b3-list-item__graphic {
        opacity: 1 !important;
        margin: 0;
        @include graphic($graphic-width: 12px);
        &.fn__hidden {
          display: none;
        }
        &.b3-list-item__graphic--arrow {
          @include graphic($graphic-width: 9px);
        }
      }
      .b3-list-item__icon {
        padding: 0;
        height: $list-text-height;
        width: $list-text-height;
        font-size: 14px;
        line-height: $list-text-height;
        text-align: center;
        justify-content: center;
        &:hover {
          background-color: $rc-theme-surface-hover;
        }
        svg {
          margin: ($list-text-height - 14px)/2;
        }
      }
      .b3-list-item__text {
        margin-top: 1.5px;
      }
      .b3-list-item__action {
        padding: ($list-text-height - 18px)/2;
        width: 18px;
        height: 18px;
        justify-content: center;
        margin-left: 4px;
        border-radius: 4px;
        svg {
          display: block;
        }
        &:hover {
          background-color: $rc-theme-surface-hover;
        }
        + .fn__space {
          display: none;
        }
      }
      .counter {
        @extend .counter__model;
      }
      + ul > .b3-list-item {
        margin-left: $list-left * 1 !important;
        + ul > .b3-list-item {
          margin-left: $list-left * 2 !important;
          + ul > .b3-list-item {
            margin-left: $list-left * 3 !important;
            + ul > .b3-list-item {
              margin-left: $list-left * 4 !important;
              + ul > .b3-list-item {
                margin-left: $list-left * 5 !important;
                + ul > .b3-list-item {
                  margin-left: $list-left * 6 !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

//顶部边栏
%toolbar_before {
  z-index: 1;
  width: auto;
  height: auto;
  display: flex;
  position: unset;
  opacity: 1;
  transform: none;
  font-size: 13px;
  color: $rc-topbar-color;
}

.toolbar {
  height: 30px;
  z-index: 99;
  #toolbarVIP {
    &:empty {
      -webkit-app-region: drag;
      margin: 5px;
      width: 25px;
      height: 20px;
      background-image: url("src/icons/siyuan.svg");
      background-repeat: round;
    }
  }
  .toolbar__item {
    color: $rc-topbar-color;
    height: 30px;
    cursor: unset;
    &:hover {
      background-color: $rc-button-background-hover;
    }
    &:not(#barMore):not(#barBack):not(#barForward):not(#closeWindow):not(.toolbar__item--action) {
      width: 42px;
      svg:not(.ft__secondary) {
        display: none;
      }
    }
    &#barDailyNote::before {
      @extend %toolbar_before;
      content: "日记";
    }
    &#barSearch::before {
      @extend %toolbar_before;
      content: "搜索";
    }
    &#barDock::before {
      @extend %toolbar_before;
      content: "边栏";
    }
    &#barThemeMode::before {
      @extend %toolbar_before;
      content: "暗黑";
    }
    &#barSync::before {
      @extend %toolbar_before;
      content: "同步";
    }
    &#barMore {
      width: 36px;
      padding: 0 11px;
    }
    &.toolbar__item--action {
      width: 42px;
      padding: 0 14px;
    }
    &#restoreWindow,
    &#maxWindow {
      padding-top: 4px;
      z-index: -1;
    }
    &#closeWindow {
      z-index: -1;
      width: 42px;
      padding: 0 16px;
      &:hover {
        color: #fff;
        background-color: rgba(232, 17, 35, 0.9);
      }
    }
    &.b3-tooltips__se::after {
      left: 35%;
    }
    &.b3-tooltips__sw::after {
      right: 35%;
    }
  }
}

//页签栏

.layout-tab-bar {
  opacity: 1 !important;
  .item {
    border-radius: 4px;
    height: 16px;
    padding: 4px 6px;
    background-color: #fff; //$rc-theme-surface;
    margin-right: 4px;
    &:not(.item--focus):hover {
      background-color: $rc-theme-surface;
    }
    * {
      opacity: 0.6 !important;
    }
    .item__text {
      margin-top: 0.5px;
    }
    .item__close {
      border-radius: 4px;
      width: 9px;
      height: 9px;
      margin-left: 6px;
      margin-top: 0.5px;
      &:hover {
        background-color: $rc-theme-surface-hover;
      }
    }
    &.item--focus {
      background-color: $rc-theme-list-focus;
      * {
        opacity: 1 !important;
      }
    }
  }
}

//面包屑
.protyle-breadcrumb {
  height: 45px;
  // .protyle:not(.block__edit) &{
  //   padding-left: 60px;
  // }
  .protyle-breadcrumb__item {
    border-radius: 4px;
    padding: 0 6px;
    height: 24px;
    line-height: 24px;
    &:hover {
      background-color: $rc-theme-list-hover;
    }
    .protyle-breadcrumb__text:not(:empty) {
      margin-left: 4px;
    }

    svg {
      width: 12px;
      height: 12px;
      margin: 1px 0 0 1px;
      &.ft__primary {
        color: $rc-theme-on-background;
      }
    }
  }
  .fn__space {
    width: 0;
  }
  .block__icon {
    @include block__icon__model(28px, 14px);
    margin: 8.5px 6px 0 0;
  }
}

//菜单
.menu__model {
  border-radius: 6px;
  padding: 7px 6px 6px;
  min-width: 200px;
}

.b3-menu {
  @extend .menu__model;
  .b3-menu__item:not(.b3-menu__item--readonly) {
    height: 31.2px;
    min-width: 0px;
    padding: 8px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 6px;
    transition: all 0.3s ease 0s;
  }
  .b3-menu__submenu {
    $sub-menu-vertical: 10px;
    @extend .menu__model;
    margin-left: $sub-menu-vertical;
    margin-right: $sub-menu-vertical;
    top: -9px;
  }
  .b3-menu__separator {
    margin-left: -6px;
    margin-right: -6px;
    width: calc(100% + 12px);
    padding-top: 4px;
    margin-bottom: 4px;
    border-bottom: 1px solid rgb(242, 242, 242);
    padding: 0;
    height: 0;
  }
  .b3-menu__item--readonly {
    font-size: 12px;
    line-height: 16px;
    color: rgba(55, 53, 47, 0.4);
    margin-bottom: 4px;
  }
  .b3-menu__item--custom.b3-menu__item--current {
    background-color: $rc-menu-background;
  }
}

//按钮
.b3-button:not(.b3-button--text):not(.b3-button--cancel):not(.b3-button--outline) {
  &:hover {
    background-color: rgba($rc-theme-primary, 0.9);
    box-shadow: none;
  }
}
.b3-button--outline {
  svg {
    width: 12px;
    height: 12x;
  }
  &:hover {
    background-color: rgb(230, 243, 255);
  }
}

//输入框
.b3-text-filed {
  border: 1px solid $rc-border-color;
  border-radius: 6px;
  &.b3-text-filed--small {
    height: 24px;
  }
  &:not(.b3-text-filed--small):not(.b3-text-filed--text) {
    background-color: rgb(247, 247, 247);
  }
  &:hover,
  &:focus {
    box-shadow: none;
    border: 1px solid $rc-border-color !important;
  }
}

//弹窗

//蒙版
.b3-dialog__scrim {
  background-color: rgba(31, 34, 37, 0.05);
}
//大弹窗
.b3-dialog__container {
  box-shadow: #{$rc-dialog-shadow};
  $radius: 10px;
  border-radius: $radius;
  .b3-dialog__close {
    display: none;
  }
  .b3-text-filed.b3-text-filed--text {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    border: 1px solid $rc-border-color;
  }
  #searchPreview {
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
  }
  //小弹窗
  &[style="width:50vw"] {
    width: 420px !important; //320px !important;
    background-color: $rc-background;
    padding: 0 16px;
    //弹窗标题
    .b3-dialog__header {
      font-size: 16px;
      font-weight: 500;
      color: rgb(31, 34, 37);
      padding: 19px 0 18px 0;
      border-bottom: 1px solid rgb(234, 234, 234);
    }
    //弹窗关闭按钮
    .b3-dialog__close {
      display: block;
      color: rgba(31, 34, 37, 0.4);
      background-color: rgb(242, 242, 242);
      border: 1px solid transparent;
      align-items: center;
      width: 24px;
      height: 24px;
      padding: 5px;
      box-sizing: border-box;
      border-radius: 50%;
      cursor: pointer;
      user-select: none;
      transform: translateX(-50px) translateY(9px);
      &:hover {
        color: rgba(31, 34, 37, 0.4);
        background-color: rgb(234, 234, 234);
      }
    }
    //弹窗输入框
    .b3-dialog__content,
    .b3-form__space {
      padding: 16px 0;
      font-size: 15px;
      margin: 0;
      min-height: 40px;
      line-height: 40px;
      .block__icon {
        @include block__icon__model(28px, 10px);
      }
      .ft__on-surface {
        font-size: 15px;
        width: 80px !important;
        text-align: center !important;
      }

      .b3-text-filed[placeholder="属性名"] {
        text-align: center !important;
        width: 76px !important;
      }
      .fn__space {
        width: 15px;
      }
      .b3-button {
        width: 76px !important;
        svg {
          width: 10px;
          height: 10px;
        }
      }
    }
    //弹窗中的搜索按钮
    .b3-form__icon-icon {
      top: (72px - 16px)/2;
    }

    .b3-text-filed {
      background-color: rgb(247, 247, 247);
      border: 1px solid $rc-border-color;
      height: 40px;
      padding: 0px 10px;
      border-radius: 6px;
      font-size: 15px;
      font-weight: 400;
      //多行文本框
      &[rows="1"] {
        line-height: 38px;
      }
      &:focus {
        box-shadow: none;
      }
    }
    //弹窗按钮
    .b3-dialog__action {
      padding: 0;
      margin-bottom: 16px;
      .fn__space {
        width: 2%;
      }
      .b3-button {
        // font-weight: 600;
        height: 40px;
        letter-spacing: 0.3px;
        border: 1px solid transparent;
        width: 49%;
        &.b3-button--text {
          background-color: $rc-theme-primary;
          color: #fff;
          &:hover {
            background-color: rgba($rc-theme-primary, 0.9);
          }
        }
        &.b3-button--cancel {
          color: $rc-theme-primary;
          border: 1px solid $rc-theme-primary;
          &:hover {
            background-color: rgb(230, 243, 255);
          }
        }
      }
    }
  }
}

//表情
.emojis {
  padding: 0 2px 0;
  > div:first-child {
    margin: 4px 0 6px;
    .block__icon {
      @include block__icon__model(28px, 14px);
    }
  }

  .emojis__panel {
    .emojis__title {
      padding: 18px 0 8px;
      font-size: 11px;
      font-weight: 500;
      color: rgba(31, 34, 37, 0.7);
      letter-spacing: 0.3px;
      &:first-child {
        padding-top: 12px;
      }
    }
    .fn__hr {
      display: none;
      & + .emojis__content {
        padding-top: 0;
      }
    }
    .emojis__content {
      div[style*="4px"] {
        height: 28px;
        line-height: 28px;
        width: 100%;
        margin: 0 !important;
      }
      .emojis__item {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        height: 32px;
        width: 32px;
        font-size: 20px;
        border-radius: 4px;
        background-color: transparent;
        border: 1px solid transparent;
        box-sizing: border-box;
        cursor: pointer;
        padding: 0;
        &[data-unicode*="-"] {
          width: 64px;
        }
        &:hover {
          background-color: rgb(247, 247, 247);
        }
      }
    }
  }
  > div:last-child {
    padding-top: 6px;
  }
}

//块引用
.block__popover {
  box-shadow: #{$rc-dialog-shadow};
  .block__icons--border {
    .block__icon {
      @include block__icon__model(28px, 14px);
      transform: translateY(37px) translateX(2px);
      margin: 0 6px 0 0;
      z-index: 99;
      &[data-type="pin"] {
        $pin-transition: transform 300ms ease;
        svg {
          transform: rotate(45deg);
          transition: $pin-transition;
          &.ft__primary {
            transform: rotate(0deg);
            transition: $pin-transition;
          }
        }
        &[aria-label="取消钉住"] {
          &:hover {
            background-color: $rc-dock-active;
          }
        }
      }
      &[data-type="close"] {
        @include block__icon__model(28px, 12px);
      }
    }
  }
  .protyle-breadcrumb {
    padding-right: 74px;
  }
}

//选择菜单
.b3-select {
  background-color: $rc-theme-surface;
  &:focus {
    box-shadow: none;
  }
}

//开关
.b3-switch {
  background-color: $rc-theme-list-hover;
}

//label
.b3-label {
  background-color: $rc-background;
}

//tips

.b3-tooltips::before {
  border: none;
}

// .layout__resize:hover:after{
//   background-color: $rc-theme-surface-hover;
// }
::-webkit-scrollbar{
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
}

::selection {
  background-color: rgba(45, 170, 219, 0.3);
}

//编辑器
.layout__center {
  transition: width 0.01ms linear !important;
  div[data-type="wnd"] {
    min-height: 10% !important;
    margin: $interval 0;
  }
}

.layout__resize--lr {
  margin: 0 $interval/2-3;
}

$content-margin: "max(calc(50% - 354px), 96px)";

.protyle {
  .protyle-background {
    //有题头图，无emoji
    &[style*="30vh"] {
      border-bottom: 36px solid transparent !important;
      .protyle-icons {
        top: 30vh;
      }
    }
    //有题头图，有emoji
    &[style*="30vh"][style*="40px"] {
      min-height: 30vh !important;
      border-bottom: 72px solid transparent !important;
      .protyle-icons {
        top: calc(30vh + 36px);
      }
    }
    //无题头图，有emoji
    &[style*="40px"][style*="48px"] {
      min-height: 96px+78px+36px !important;
      margin: 0px !important;
      .protyle-background__icon {
        top: 96px;
        margin: 0 0 36px 3px;
      }
      .protyle-icons {
        top: 96px+78px;
      }
    }
    //无题头图，无emoji
    min-height: 108px;
    margin: 0 !important;
    .protyle-icons {
      background-color: transparent;
      margin: 8px 0 4px;
      height: 24px;
      top: 72px;
      left: #{$content-margin};
      transition: opacity 100ms ease;
      opacity: 0;
      .b3-tooltips {
        display: inline-flex;
        height: 28px;
        border-radius: 4px;
        padding: 0 8px 0 6px;
        color: rgba(55, 53, 47, 0.4);
        background-color: transparent;
        &:hover {
          background-color: rgba(55, 53, 47, 0.08);
        }
        svg {
          width: 14px;
          height: 14px;
          padding: 7px 6px 0 0;
          display: inline-flex;
        }
        &::after {
          display: inline-flex;
          height: 28px;
          font-size: 14px;
          line-height: 28px;
          transform: none;
          transition: none;
          opacity: 1;
          color: rgba(55, 53, 47, 0.4);
          background-color: transparent;
          position: static;
          margin: 0;
          padding: 0;
        }
        input {
          width: 100% !important;
          font-size: 0;
        }
      }
    }

    .protyle-background__icon {
      left: #{$content-margin} !important;
      width: 78px;
      height: 78px;
      font-size: 54px;
      top: calc(30vh - 42px);
      line-height: 78px;
      text-align: center;
      border-radius: 4px;
      svg {
        width: 78px;
        height: 78px;
      }
      &:hover {
        background-color: rgba($rc-theme-surface-button);
      }
    }
    &:hover {
      .protyle-icons {
        opacity: 1;
      }
    }
  }
  .protyle-title {
    margin: 0 #{$content-margin} !important;
    max-width: 708px;
  }

  &:not(.block__edit) .protyle-wysiwyg {
    padding: 16px 96px 235px 96px !important;
    max-width: 708px;
    margin: 0 auto;
  }
  .protyle-wysiwyg {
    kbd {
      font-family: var(--b3-font-family-code) !important;
    }
    .list {
      &::before {
        background-color: $rc-theme-surface-hover !important;
      }
    }
  }
}

.protyle-attr--refcount {
  @extend .counter__model;
  height: 22px;
  width: 22px;
  padding: 0;
  line-height: 22px;
  font-weight: 600;
}
