.layout__resize {
  &::after {
    background-color: $rc-ui-bg;
  }

  &:hover::after {
    background-color: $rc-brand-hover;
  }
}

.layout__resize--lr {
  margin: $interval -3px; // calc(($interval - 6px) / 2 - $interval);

  &::after {
    left: 2.5px;
  }
}

.layout__resize:not(.layout__resize--lr) {
  margin: -3px $interval; // calc(($interval - 6px) / 2 - $interval)
  width: calc(100% - $interval* 2);
}