#status {
    color: $rc-text-secondary ;
    background-color: $rc-ui-bg;

    // 右下角按钮
    .toolbar__item {
        color: $rc-text-secondary ;
        padding: 5px 10px;
        margin: 0;
        border-radius: unset;

        svg {
            width: 10px;
            height: 10px;
        }

        &:hover {
            background-color: $rc-component-button;
        }

    }

    // 边栏设置按钮
    #barDock {
        transform: translateX(calc(100vw - 30px * 5 - 2px));

        .b3-menu {
            bottom: 20px !important;
            left: unset !important;
            right: 0px;

            &.fn__none {
                display: block !important;
            }
        }

        &::after {
            display: none;
        }
    }

    // 状态栏
    .status__msg {
        display: flex;
        color: $rc-text-secondary ;
        margin-left: 45px - 30px;

        &:not(:empty):before {
            content: '';
            display: flex;
            width: 12px;
            height: 12px;
            margin: 5px;
            @include add_icon("notifications", $rc-text-secondary, 24, round);
        }
    }

    >.fn__flex-1 {
        margin-right: 30px + 2px;
    }

    // 文档统计
    .status__counter {
        color: $rc-text-secondary ;
        transform: translateX(- 30px - 2px);
    }
}