$topbar-bg: $rc-ui-bg;
$topbar-color: $rc-text-primary;
$topbar-height: 30px;
$topbar-text-height: 22px;
$topbar-item-bg-hover: $rc-component-button;
$close-window-color: #fff;
$close-window-bg-hover: rgba(232, 17, 35, 0.9);

//顶部工具栏
%toolbar_before {
  z-index: 1;
  width: fit-content;
  height: $topbar-text-height;
  line-height: $topbar-text-height;
  display: flex;
  top: unset;
  bottom: unset;
  right: unset;
  left: 8px;
  margin: 0 auto;
  opacity: 1;
  transform: none;
  font-size: 12px;
  color: $topbar-color;
}

//顶部工具栏
.toolbar {
  height: $topbar-height;
  background-color: $topbar-bg;

  .toolbar__item {
    color: $topbar-color;
    padding: 0;
    height: $topbar-height;
    cursor: unset;

    &:hover {
      background-color: $topbar-item-bg-hover;
    }

    &:not(#barBack):not(#barForward):not(#closeWindow):not(.toolbar__item--win) {
      width: 24px + 8px *2;
      margin: calc(($topbar-height - $topbar-text-height)/2) 0;
      border-radius: $rc-bradius-small;
      height: $topbar-text-height;

      svg:not(.ft__secondary) {
        display: none;
      }
    }

    &::after {
      top: 100% !important;
      left: 35%;
      // display: none;
    }

    @each $id in DailyNote,
    Search,
    ThemeMode,
    History,
    Setting,
    Feedback {
      &#bar#{$id} {
        &::before {
          @extend %toolbar_before;
        }
      }
    }

    &#barDailyNote {
      &::before {
        content: "日记";
      }

      &::after {
        content: "Alt + 5";
      }
    }

    &#barSearch {
      &::before {
        content: "搜索";
      }

      &::after {
        content: "Ctrl + P";
      }
    }

    &#barThemeMode {
      &::before {
        content: "暗黑";
      }

      &::after {
        // display: none;
        content: "暗黑模式";
      }
    }

    &#barHistory {
      &::before {
        content: "历史";
      }

      &::after {
        content: 'Alt + H';
      }
    }

    &#barSetting {
      &::before {
        content: "设置";
      }

      &::after {
        content: 'Alt + P';
      }
    }

    &#barFeedback {
      &::before {
        content: "反馈";
      }

      &::after {
        display: none;
      }
    }

    &#barBack,
    &#barForward {
      padding: 0 10px;
      width: 10px + 10px*2;
      margin: calc(($topbar-height - $topbar-text-height)/2) 0;
      border-radius: $rc-bradius-small;
      height: $topbar-text-height;

      svg {
        width: 10px;
        height: $topbar-text-height;
      }

      &.toolbar__item--disabled {
        color: $rc-text-disabled;
        cursor: not-allowed;

        &:hover {
          background-color: transparent;
        }

        &::after {
          display: none;
        }
      }
    }

    &.toolbar__item--win {
      width: 42px;
      padding: 0 14px;
      z-index: -1;

      svg {
        width: 14px;
        height: $topbar-height;
      }

      &::after {
        display: none;
      }
    }

    &#maxWindow {
      padding: 0 16px;

      svg {
        width: 10px;
        height: $topbar-height  !important;
      }
    }

    &#closeWindow {
      z-index: -1;
      width: 42px;
      padding: 0 16px;

      svg {
        width: 10px;
        height: $topbar-height;
      }

      &::after {
        display: none;
      }

      &:hover {
        color: $close-window-color;
        background-color: $close-window-bg-hover;
      }
    }

    // &.b3-tooltips__se::after {
    //   // left: 35%;
    // }
    // &.b3-tooltips__sw::after {
    //   // right: 35%;
    // }
  }

  #toolbarVIP {
    -webkit-app-region: drag;

    &:empty {
      padding: calc(($topbar-height - 14px)/2) #{$interval};
      width: calc(36px + #{$interval} * 2) !important;
      height: $topbar-height  !important;

      &::before {
        content: "";
        display: block;
        width: 36px;
        background-image: url("#{$asset-path}/icons/siyuan.svg");
        background-repeat: round;
        z-index: 0;
      }

      svg {
        width: 36px;
        height: 20px;
      }
    }

    &:not(:empty) {
      .toolbar__item {
        padding: calc(($topbar-height - 14px)/2) #{$interval};
        width: calc(36px + #{$interval} * 2) !important;
        height: $topbar-height  !important;
        margin: 0 !important;

        &:hover {
          background-color: inherit;
        }

        svg {
          // padding: 0 10px;
          width: 36px;
          height: 14px;
        }
      }
    }

    // &:hover {
    //   @each $id in DailyNote, Search, Dock, ThemeMode, Sync {
    //     ~ .toolbar__item#bar#{$id} {
    //       padding: 0 8px;
    //       width: calc(#{$topbar-height} * 7 / 5);
    //       opacity: 1;
    //       transition: width 0.2s ease-out, padding 0.2s ease-out,
    //         opacity 0.2s ease-out;
    //     }
    //   }
    // }
  }

  .fn__ellipsis {
    line-height: $topbar-height;
    // color: $color-text-3;
  }
}