@use "sass:map";
@use "../common" as *;

$item-w: 36px;
$item-h: 36px;
$item-radius: map.get($radius, "medium");

//边栏
@mixin dock {
  border-radius: $item-radius;
  padding: 0px;
  background-color: map.get($bg, "base");
  margin-bottom: $interval;
  span {
    border-radius: $item-radius;
    transition: map.get($transition, "all");
    @include btn-on-base();
    @include svg-div($item-w, $item-h, 13px);
    &:not(:last-child) {
      margin-bottom: $interval;
    }
    &.dock__item--active {
      background-color: map.get($fill, "base");
      @include focus_before(10.35px, 0);
    }
  }
}

//边栏
.dock--vertical {
  width: $item-w;

  &#dockLeft {
    margin-left: $interval;
    border: none;
  }

  &#dockRight {
    margin-right: $interval;
    border: none;

    .dock__item--active::before {
      left: auto;
      right: 0;
    }
  }

  div:first-child:not(:empty) {
    @include dock();
    margin-top: $interval;
  }

  div:last-child:not(:empty) {
    @include dock();
  }

  .dock__item[data-index="0"]::after,
  .dock__item[data-index="1"]::after {
    display: none;
  }
}
