
@use "../common" as *;

$item-w: 36px;

//边栏
@mixin dock {
  padding: 0px;
  background-color: get($bg, "base", 1);
  margin-bottom: $interval;

  span {
    @include item("base");
    @include svg-div($item-w, 13px);
    color: get($text, "secondary");
    border-radius: get($radius, "medium");

    &:not(:last-child) {
      margin-bottom: $interval;
    }

    &.dock__item--active {
      @include item("base", 2);
      @include focus-before(10.35px, 0);
    }
  }
}

//边栏
.dock--vertical {
  width: $item-w;

  &#dockLeft {
    margin-left: $interval;
    border: none;
  }

  &#dockRight {
    margin-right: $interval;
    border: none;

    .dock__item--active::before {
      left: auto;
      right: 0;
    }
  }

  div:first-child:not(:empty) {
    @include dock();
    margin-top: $interval;
  }

  div:last-child:not(:empty) {
    @include dock();
  }

  .dock__item[data-index="0"]::after,
  .dock__item[data-index="1"]::after {
    display: none;
  }
}
