
@use "../common" as *;
@use "../component/list";

.layout__empty {
  margin: 0 !important;
  // transform: translateY(-30px);
  h1 {
    margin: 0;
    color: get($text, "primary");
  }
  .fn__hr {
    height: 12px;
  }
  .b3-list-item {
    width: 196px;
    margin: $interval 0;
    &__graphic {
      @include svg(list.$text-h, get($icon, "small"));
    }
    span {
      font-size: get($font-size, "base");
      margin-left: 5px;
    }
  }
}
