
@use "../common" as *;

$s-h: 22px;

#status {
  // 右下角按钮
  .toolbar__item {
    @include item("base");
    @include svg-div(30px, $s-h, 10px);
    border-radius: unset;
  }

  // 边栏设置按钮
  #barDock {
    transform: translateX(calc(100vw - 30px * 5));

    .b3-menu {
      bottom: $s-h !important;
      left: unset !important;
      right: 0px;
      z-index: 0;

      &__icon{
        margin-right: 8px;
      }

    }

    &::after {
      display: none;
    }
  }

  // 状态栏
  .status__msg {
    display: flex;
    margin-left: 45px - 30px;
    @include v-center($s-h);

    &:not(:empty):before {
      content: "";
      display: flex;
      width: 12px;
      height: 12px;
      margin: 5px;
      @include add-icon(
        "notifications",
        get($text, "secondary"),
        24,
        round
      );
    }
  }

  > .fn__flex-1 {
    margin-right: 30px;
  }

  // 文档统计
  .status__counter {
    transform: translateX(-30px - 2px);
  }
}
