@use "sass:list";
@use "../common" as *;
@use "dock";

$bar-h: dock.$top-h;
$bar-bg: get($bg, "base", 1);

$item-w: 34px;
$item-h: 25px;
$item-color: get($text, "secondary");

$padding: 8px;

$icon-w: get($icon, "medium");

$win-control-w: 46px;

$icons-w-left: ($item-w + 4px) * 6;
$icons-w-right: ($item-w + 4px) * 4 + $win-control-w * 3 - dock.$dock-w;

$mac-pad-right: 3px;

$list: (
  "Sync",
  "History",
  "DailyNote",
  "Search",
  "Readonly",
  "Mode",
  "Setting"
);

@mixin top-item {
  @include item("base", $important: true);
  @include component-base();
  @include svg-div($item-w, $icon-w, $item-h);
  margin-right: $interval;

  &--active {
    background-color: get($bg, "base", 2) !important;
  }

  &--disabled {
    @include item-disabled(true);
  }

  cursor: unset;
}

@mixin win-control($svg-w) {
  @include item-tran("base", $important: true);
  @include svg-div($win-control-w, $svg-w, $bar-h);
  border-radius: unset;
  cursor: pointer;
  &::after {
    display: none;
  }
}

:root {
  --b3-toolbar-background: #{$bar-bg};
  --b3-toolbar-blur-background: #{$bar-bg};
  --b3-toolbar-color: #{$item-color};
}

//顶部工具栏
#toolbar {
  height: $bar-h;
  margin-bottom: -$bar-h;
  border: none;
  -webkit-app-region: drag;
  padding-right: $mac-pad-right;

  body.body--win32 & {
    padding: 0;
  }

  .toolbar__item {
    -webkit-app-region: no-drag;
    z-index: 1;
    @include top-item();

    &#bar {
      &Back,
      &Forward {
        @include svg-div($item-w, $icon-w - 2px, $item-h);
        margin-right: $interval;
      }
    }
    // @each $id in $list {
    //   &#bar#{$id} {
    //   }
    // }
  }

  #toolbarVIP {
    $width: dock.$dock-w;

    &:empty {
      width: $width;
      height: $bar-h;
      &::before {
        content: "";
        display: block;
        width: $icon-w;
        height: $icon-w;
        margin: auto;
        background-image: url("#{$asset-path}/icons/siyuan.svg");
        background-repeat: round;
      }
    }

    &:not(:empty) {
      .toolbar__item {
        &:first-child {
          @include svg-div($width, $icon-w, $item-h, true);
          -webkit-app-region: drag;
        }

        // 头衔
        // &:nth-child(2) {
        //   // @include top-item();
        //   background-color: get($bg, "base", 2) !important;
        //   margin: 0;
        //   width: auto;
        //   height: $item-h;
        //   padding: 0 $padding;
        //   border-radius: get($radius, "max");
        //   margin-right: 8px;
        //   display: inline-flex;
        //   cursor: pointer;

        //   svg {
        //     @include svg(10px);
        //     margin: auto 0;
        //   }
        //   &::after {
        //     @include reset-style();
        //     @include v-center($item-h);
        //     @include center();
        //     content: "";
        //     width: auto;
        //     font-size: 11px;
        //     z-index: 0;
        //     color: $item-color;
        //   }

        //   $types: "捐赠者", "支持者", "赞助者";
        //   @each $type in $types {
        //     &[aria-label*="#{$type}"] {
        //       &::after {
        //         content: $type;
        //         margin-left: 6px;
        //       }
        //     }
        //   }
        // }
      }
    }
  }

  #drag {
    height: 0;
    body:has(.layout__empty) & {
      @include v-center($bar-h);
      font-size: 14px;
    }
  }

  #windowControls {
    height: $bar-h;
    .toolbar__item {
      @include win-control(12px);
    }

    #maxWindow {
      @include win-control(10px);
    }

    #closeWindow {
      @include win-control(10px);
      @include item-close(true);
    }
  }
}
