@use "sass:map";
@use "sass:list";

@use "../common" as *;
@use "dock";

$bar-h: 28px;
$item-h: 24px;
$padding: 8px;

$item-w: 28px + $padding * 2;

$win-control-w: 46px;

$map: (
  "DailyNote": (
    "日记",
    "Alt + 5",
  ),
  "Search": (
    "搜索",
    "Ctrl + P",
  ),
  "ThemeMode": (
    var(--mode-btn),
    var(--mode-after),
  ),
  "History": (
    "历史",
    "Alt + H",
  ),
  "Setting": (
    "设置",
    "Alt + P",
  ),
  "Sync": (
    "同步",
    null,
  ),
);

@mixin top-item {
  @include item("base");
  @include component-base();
  width: $item-w;
  height: $item-h;
  margin: auto 0;
  padding: 0;
  cursor: unset;
}

@mixin item-before($content) {
  &::before {
    @include reset-style();
    @include v-center($item-h);
    @include center();
    @include component-base();
    content: $content;
    color: map.get($text, "secondary");
    z-index: 0;
    width: 100%;
  }
}

@mixin win-control($svg-w) {
  @include item-tran("base");
  @include svg-div($win-control-w, $bar-h, $svg-w);
  &::after {
    display: none;
  }
}

//顶部工具栏
.toolbar {
  height: $bar-h;
  margin-top: $interval;

  #toolbarVIP {
    -webkit-app-region: drag;
    $icon-w: 13px; //map.get($icon, "default");
    $width: dock.$item-w + $interval * 2;

    &:empty {
      width: $width;
      height: $bar-h;
      &::before {
        content: "";
        display: block;
        width: $icon-w;
        height: $icon-w;
        margin: auto;
        background-image: url("#{$asset-path}/icons/siyuan.svg");
        background-repeat: round;
      }
    }

    &:not(:empty) {
      .toolbar__item {
        &:first-child {
          @include svg-div($width, $item-h, $icon-w);
        }

        // 头衔
        &:nth-child(2) {
          margin: 0;
          width: auto;
          height: $item-h;
          padding: 0 $padding;
          border-radius: map.get($radius, "max");
          background-color: map.get($bg, "base", 2);
          margin-right: 8px;
          display: inline-flex;

          svg {
            @include svg(10px);
            margin: auto 0;
          }
          &::after {
            @include reset-style();
            @include v-center($item-h);
            @include center();
            content: "";
            width: auto;
            font-size: 11px;
            z-index: 0;
            color: map.get($text, "secondary");
          }

          $types: "捐赠者", "支持者", "赞助者";
          @each $type in $types {
            &[aria-label*="#{$type}"] {
              &::after {
                content: $type;
                margin-left: 6px;
              }
            }
          }
        }
      }
    }
  }

  &__item {
    &::after {
      top: $item-h !important;
      left: 35%;
    }

    @each $id, $contents in $map {
      &#bar#{$id} {
        @include top-item();
        @include item-before(list.nth($contents, 1));
        &::after {
          @if list.nth($contents, 2) {
            content: list.nth($contents, 2);
          }
        }
        svg:not(.ft__secondary) {
          display: none;
        }
      }
    }

    &#barBack,
    &#barForward {
      @include top-item();
      @include svg-div(10px + 12px * 2, $item-h, 10px);
      &.toolbar__item--disabled {
        @include item-disabled();
      }
    }

    &.toolbar__item--win {
      @include win-control(12px);
    }

    &#maxWindow {
      @include win-control(10px);
    }

    &#closeWindow {
      @include win-control(10px);
      &:hover {
        background-color: map.get($color, "error", "base");
      }
    }
  }

  #drag {
    @include v-center($bar-h);
  }

  #windowControls {
    top: 0px - $interval !important;
  }
}
