@import "./_palette.scss";

// (?<=b\(var\(\$[a-z]+(-\w+)*)\)
// var\((?=\$[a-z]+([-][0-9])*)
// (?<=\$[a-z]+(-\w+)*)\)

// body,
// body[theme-mode="dark"] .semi-always-light {
$color-white: rgba($white, 1);
$color-black: rgba($black, 1);
$color-bg-0: $color-white;
$color-bg-1: $color-white;
$color-bg-2: $color-white;
$color-bg-3: $color-white;
$color-bg-4: $color-white;
$color-primary: rgba($blue-5, 1);
$color-primary-hover: rgba($blue-4, 1);
$color-primary-active: rgba($blue-6, 1);
$color-primary-disabled: rgba($blue-2, 1);
$color-primary-light-default: rgba($blue-0, 1);
$color-primary-light-hover: rgba($blue-1, 1);
$color-primary-light-active: rgba($blue-2, 1);
$color-secondary: rgba($yellow-5, 1);
$color-secondary-hover: rgba($yellow-6, 1);
$color-secondary-active: rgba($yellow-7, 1);
$color-secondary-disabled: rgba($yellow-2, 1);
$color-secondary-light-default: rgba($yellow-0, 1);
$color-secondary-light-hover: rgba($yellow-1, 1);
$color-secondary-light-active: rgba($yellow-2, 1);
$color-tertiary: rgba($neutral-5, 1);
$color-tertiary-hover: rgba($neutral-6, 1);
$color-tertiary-active: rgba($neutral-7, 1);
$color-tertiary-light-default: rgba($neutral-0, 1);
$color-tertiary-light-hover: rgba($neutral-1, 1);
$color-tertiary-light-active: rgba($neutral-2, 1);
$color-default: rgba($neutral-0, 1);
$color-default-hover: rgba($neutral-1, 1);
$color-default-active: rgba($neutral-2, 1);
$color-success: rgba($green-5, 1);
$color-success-hover: rgba($green-6, 1);
$color-success-active: rgba($green-7, 1);
$color-success-disabled: rgba($green-2, 1);
$color-success-light-default: rgba($green-0, 1);
$color-success-light-hover: rgba($green-1, 1);
$color-success-light-active: rgba($green-2, 1);
$color-danger: rgba($red-5, 1);
$color-danger-hover: rgba($red-6, 1);
$color-danger-active: rgba($red-7, 1);
$color-danger-light-default: rgba($red-0, 1);
$color-danger-light-hover: rgba($red-1, 1);
$color-danger-light-active: rgba($red-2, 1);
$color-warning: rgba($orange-5, 1);
$color-warning-hover: rgba($orange-6, 1);
$color-warning-active: rgba($orange-7, 1);
$color-warning-light-default: rgba($orange-0, 1);
$color-warning-light-hover: rgba($orange-1, 1);
$color-warning-light-active: rgba($orange-3, 1);
$color-focus-border: rgba($blue-5, 1);
$color-disabled-text: rgba($neutral-9, 0.35);
$color-disabled-border: rgba($neutral-3, 1);
$color-disabled-bg: rgba($neutral-4, 1);
$color-disabled-fill: rgba($neutral-1, 1);
$color-link: rgba($blue-5, 1);
$color-link-hover: rgba($blue-4, 1);
$color-link-active: rgba($blue-6, 1);
$color-link-visited: rgba($blue-3, 1);
$color-shadow: rgba(0, 0, 0, 0.04);
$color-nav-bg: $color-bg-1;
$color-fill-0: rgba($neutral-8, 0.05);
$color-fill-1: rgba($neutral-8, 0.09);
$color-fill-2: rgba($neutral-8, 0.13);
$color-border: rgba($neutral-1, 1);
$color-border-1: rgba($neutral-2, 1);
$color-border-2: rgba($neutral-3, 1);
$color-border-3: rgba($neutral-5, 1);
$color-text-0: rgba($neutral-9, 1);
$color-text-1: rgba($neutral-9, 0.8);
$color-text-2: rgba($neutral-9, 0.6);
$color-text-3: rgba($neutral-9, 0.35);
// font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
//   "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue",
//   Helvetica, Arial, sans-serif;
// -webkit-font-smoothing: antialiased;
$border-radius-extra-small: 2px;
$border-radius-small: 4px; 
$border-radius-medium: 6px;
$border-radius-large: 8px;
$border-radius-circle: 99999px;
// }
// body[theme-mode="dark"],
// body .semi-always-dark {
//   $color-white: #e4e7f5;
//   $color-black: rgba($black, 1);
//   $color-primary: rgba($blue-5, 1);
//   $color-primary-hover: rgba($blue-4, 1);
//   $color-primary-active: rgba($blue-6, 1);
//   $color-primary-disabled: rgba($blue-2, 1);
//   $color-primary-light-default: rgba($blue-0, 1);
//   $color-primary-light-hover: rgba($blue-1, 1);
//   $color-primary-light-active: rgba($blue-2, 1);
//   $color-secondary: rgba($yellow-5, 1);
//   $color-secondary-hover: rgba($yellow-6, 1);
//   $color-secondary-active: rgba($yellow-7, 1);
//   $color-secondary-disabled: rgba($yellow-2, 1);
//   $color-secondary-light-default: rgba($yellow-0, 1);
//   $color-secondary-light-hover: rgba($yellow-1, 1);
//   $color-secondary-light-active: rgba($yellow-2, 1);
//   $color-tertiary: rgba($neutral-5, 1);
//   $color-tertiary-hover: rgba($neutral-6, 1);
//   $color-tertiary-active: rgba($neutral-7, 1);
//   $color-tertiary-light-default: rgba($neutral-0, 1);
//   $color-tertiary-light-hover: rgba($neutral-1, 1);
//   $color-tertiary-light-active: rgba($neutral-2, 1);
//   $color-default: rgba($neutral-0, 1);
//   $color-default-hover: rgba($neutral-1, 1);
//   $color-default-active: rgba($neutral-2, 1);
//   $color-success: rgba($green-5, 1);
//   $color-success-hover: rgba($green-6, 1);
//   $color-success-active: rgba($green-7, 1);
//   $color-success-disabled: rgba($green-2, 1);
//   $color-success-light-default: rgba($green-0, 1);
//   $color-success-light-hover: rgba($green-1, 1);
//   $color-success-light-active: rgba($green-2, 1);
//   $color-danger: rgba($red-5, 1);
//   $color-danger-hover: rgba($red-6, 1);
//   $color-danger-active: rgba($red-7, 1);
//   $color-danger-light-default: rgba($red-6, 0.2);
//   $color-danger-light-hover: rgba($red-6, 0.35);
//   $color-danger-light-active: rgba($red-6, 0.5);
//   $color-danger-light-focus: rgba($red-6, 0.65);
//   $color-warning: rgba($orange-5, 1);
//   $color-warning-hover: rgba($orange-6, 1);
//   $color-warning-active: rgba($orange-7, 1);
//   $color-warning-light-default: rgba($orange-6, 0.2);
//   $color-warning-light-hover: rgba($orange-6, 0.35);
//   $color-warning-light-active: rgba($orange-6, 5);
//   $color-warning-light-focus: rgba($orange-6, 0.65);
//   $color-disabled-text: rgba($neutral-9, 0.35);
//   $color-disabled-border: rgba($neutral-9, 0.04);
//   $color-disabled-bg: rgba($neutral-2, 1);
//   $color-disabled-fill: rgba($neutral-8, 0.04);
//   $color-link: $color-primary;
//   $color-link-hover: $color-primary-hover;
//   $color-link-active: $color-primary-active;
//   $color-link-visited: $color-primary;
//   $color-shadow: rgba(0, 0, 0, 0.04);
//   $color-nav-bg: $color-bg-1;
//   $color-fill-0: rgba($neutral-8, 0.05);
//   $color-fill-1: rgba($neutral-8, 0.09);
//   $color-fill-2: rgba($neutral-8, 0.13);
//   $color-border: rgba($neutral-1, 1);
//   $color-border-1: rgba($neutral-2, 1);
//   $color-border-2: rgba($neutral-3, 1);
//   $color-border-3: rgba($neutral-5, 1);
//   $color-bg-0: rgba(22, 22, 26);
//   $color-bg-1: rgba(35, 36, 41);
//   $color-bg-2: rgba(53, 54, 60);
//   $color-bg-3: rgba(67, 68, 74);
//   $color-bg-4: rgba(79, 81, 89);
//   $color-text-0: rgba($neutral-9, 1);
//   $color-text-1: rgba($neutral-9, 0.8);
//   $color-text-2: rgba($neutral-9, 0.6);
//   $color-text-3: rgba($neutral-9, 0.35);
//   font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
//     "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue",
//     Helvetica, Arial, sans-serif;
//   -webkit-font-smoothing: antialiased;
//   $border-radius-extra-small: 2px;
//   $border-radius-small: 4px;
//   $border-radius-medium: 6px;
//   $border-radius-large: 8px;
//   $border-radius-circle: 99999px;
// }
