
@use "../../common" as *;

:root {
  --b3-protyle-inline-blockref-color: #{get($text, "brand")};
}

.protyle-wysiwyg [data-node-id] {
  span[data-type~="block-ref"],
  span[data-type~="file-annotation-ref"] {
    opacity: 1;
    border-radius: get($radius, "small") !important;
    &:hover {
      background-color: var(--b3-theme-primary-lightest);
    }
  }
}
