$empty-bg: $rc-container-bg;
$empty-color: $rc-text-primary;
.layout__empty {
  margin: 0;
  transform: translateY(-30px);
  background-color: $empty-bg;
  h1 {
    margin: 0;
    color: $empty-color;
  }
  .fn__hr {
    height: 12px;
  }
  .b3-list-item {
    font-size: 13px;
    width: 196px;
    margin: 4px 0 !important;
    span {
      margin-left: 5px;
    }
  }
}
