@use "../common" as *;
@use "../dialog/search";
@use "../component/list";
@use "status";

$wnd-base: get($bg, "base", 1);
$wnd-bg: get($bg, "page", 1);
$wnd-radius: get($radius, "medium");

//边窗动画
$time: get($transition-duration, "base");
$func: get($transition-function, "ease-in-out");
$scale: scale(0.01);

:root {
  // 动画效果
  --b3-width-transition: width #{$time} #{get(
      $transition-function,
      "ease-in-out"
    )};
}

@keyframes close {
  from {
    opacity: 1;
    max-height: 100%;
  }

  to {
    opacity: 0;
    transform: $scale;
    max-height: 0;
  }
}

@keyframes open {
  from {
    opacity: 0;
    max-height: 0;
  }

  to {
    opacity: 1;
    max-height: 100%;
  }
}

@mixin wnd {
  min-height: 10% !important;
  margin: $interval;
  border-radius: $wnd-radius;
  background-color: $wnd-bg;
  border: $fn-border;
}

//边窗
#layouts > .fn__flex {
  overflow: hidden;

  //两侧边窗
  > .fn__flex-column:not(.layout__center) {
    // 显示的边窗
    > .fn__flex {
      overflow: hidden;
      min-height: 0px !important;
      height: auto;
      // transition: all $time $func 0s !important;
      animation: open $time forwards $func;

      > div[data-type="wnd"] {
        @include wnd;
      }

      // 隐藏的边窗
      &.fn__none {
        display: flex !important;
        animation: close $time forwards $func;
      }
      
      &:has(.fullscreen){
        z-index: 2;
      }
    }
  }
}

.layout-tab-container {
  overflow-y: hidden;
  background-color: $wnd-bg;

  // 边窗容器
  > .fn__flex-1 {
    overflow: hidden;
    min-width: 0;

    //.navigation && ...
    > .fn__flex-1 {
      min-height: 0 !important;
      // 列表
      > .b3-list {
        min-width: 200px;
        margin: 0px 8px 4px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

// 居中窗口
.layout__center {
  background-color: transparent; //$wnd-base;

  [data-type="wnd"] {
    position: relative;
    @include wnd;
  }
}
