@use "../common" as *;
@use "../dialog/search";
@use "../component/list";
@use "status";

$wnd-base: get($bg, "base", 1);
$wnd-bg: get($bg, "page", 1);
$wnd-radius: get($radius, "medium");

//边窗动画
$time: get($transition-duration, "base");
$func: get($transition-function, "ease-in-out");
$scale: scale(0.1);

:root {
  // 动画效果
  --b3-width-transition: width #{$time} #{get(
      $transition-function,
      "ease-in-out"
    )};
}

@keyframes close {
  from {
    opacity: 1;
    transform: scale(1);
    max-height: 100%;
  }

  to {
    opacity: 0;
    transform: $scale;
    max-height: 0;
  }
}

@keyframes open {
  from {
    opacity: 0;
    transform: $scale;
    max-height: 0;
  }

  to {
    opacity: 1;
    transform: scale(1);
    max-height: 100%;
  }
}

@keyframes top-open {
  from {
    height: 100%;
  }

  to {
    height: 50%;
  }
}

@keyframes top-close-open {
  from {
    height: 0%;
  }

  to {
    height: 50%;
  }
}

@keyframes top-has-bottom-close {
  from {
    height: 50%;
  }

  to {
    height: 100%;
  }
}

@mixin wnd {
  min-height: 10% !important;
  margin: $interval;
  border-radius: $wnd-radius;
  background-color: $wnd-bg;
  border: $fn-border;
}

//边窗
#layouts > .fn__flex {
  overflow: hidden;

  //两侧边窗
  > .fn__flex-column:not(.layout__center) {
    // 显示的边窗
    > .fn__flex {
      overflow: hidden;
      transition: all $time $func 0s;
      animation: open $time forwards $func;
      
      // 隐藏的边窗
      &.fn__none {
        display: flex !important;
        animation: close $time forwards $func;
      }

      > div[data-type="wnd"] {
        @include wnd;
      }
    }
  }
}

.layout-tab-container {
  overflow-y: hidden;
  background-color: $wnd-bg;

  // 边窗容器
  > .fn__flex-1 {
    overflow: hidden;
    min-width: 0;

    //.navigation && ...
    > .fn__flex-1 {
      min-height: 0 !important;
      // 列表
      > .b3-list {
        min-width: 200px;
        margin: 0px 8px 8px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

// 居中窗口
.layout__center {
  background-color: transparent; //$wnd-base;

  [data-type="wnd"] {
    position: relative;
    @include wnd;

    // 标签搜索页面
    .fn__flex-column[style*="min-height"][style*="50%"]
      > .fn__flex:first-child {
      padding: 8px !important;
    }

    // 搜索历史按钮
    #searchHistoryBtn {
      @include component();
      width: 36px;

      svg {
        &:first-child {
          @include svg(12px);
        }

        &:last-child {
          @include svg(8px, $important: true);
          margin-left: 2px;
        }
      }
    }

    // 刷新按钮
    #globalSearchReload {
      @include icon-btn("page", get($component-size, "base"), 12px);
    }

    //搜索结果统计
    #globalSearchResult {
      @include component();
      margin: 0 $fn-space $interval !important;
      padding: 0 8px 4px;
      cursor: unset;
      background-color: transparent !important; //get($bg,"component");
    }

    // 搜索结果列表
    #globalSearchList {
      padding: 0;
      margin: 0 $fn-space;
    }

    // 搜索结果列表项
    [data-type="search-item"].b3-list-item {
      @include search.search-item();
    }
  }
}
