$dialog-account-border: $rc-border-3;
$dialog-account-button-bg-hover: $rc-brand-light;

.b3-dialog__container {
  &[style*="80vw"] {

    // .b3-tab-bar.b3-list.b3-list--background,
    //账号
    .config-account__center:first-child {
      border-right: 1px solid $dialog-account-border;
      margin: 16px 0px;

      #agreeLogin+span+span {
        line-height: 20px;
      }

      .b3-button--cancel {
        background-color: transparent;

        &:hover {
          background-color: $dialog-account-button-bg-hover;
        }

        svg {
          width: 12px;
          height: 12px;
          margin-right: 0;
        }
      }

      .config-account__info {
        flex: 1;

        .fn__hr--b+.fn__flex label {
          .b3-switch {
            transform: translateY(-1.8px);
            margin-left: 8px;
          }
        }
      }

    }

    #activationCode {
      font-size: 11px !important;
      padding: 1px 6px;
      top: 4px !important;
      right: 4px !important;
      color:  $rc-text-secondary;
      background-color: $rc-component-bg;
      height: 22px;

      &:hover {
        background-color: $rc-component-button;
      }
    }

  }
}