$dialog-search-header-bg: $rc-container-bg;
$dialog-search-header-border: $rc-border-3;
$dialog-text-field-bg: $rc-container-bg;

.b3-dialog__container {
  &[style*="80vw"] {

     
      // 向下图标
      // .search__arrowdown {
      //   // height: 8px;
      //   // width: 8px;
      //   // left: calc(49px - (49px - 16px) / 2);
      // }

    // 搜索结果横排
    >div>.fn__flex>.fn__flex-column {
      /*先把容器改成左右排列并自动换行*/
      flex-direction: row ;
      flex-wrap: wrap;

      // 搜索结果筛选行
      .b3-form__space--small {
        width: $dialog-large-width;
        margin: 0;
        height: 44px;
        padding: 8px 8px 8px 16px;
        border-bottom: 1px solid $rc-border-3;

        // 筛选项
        .b3-button--small {
          line-height: 20px;
          height: 28px;
          // font-size: 12px;

          &.b3-button--cancel {
            background-color: transparent;
            color: $rc-text-secondary;

            &:hover {
              background-color: $rc-component-bg  ;
            }
          }
        }

        // 搜索路径
        #searchPathInput {
          height: 28px;
          line-height: 28px;
        }

        // 块类型筛选按钮
        .svg.ft__on-surface {
          @include graphic(28px, 12px);
          border-radius: $rc-bradius-extra-small;

          &:hover {
            background-color: $rc-component-bg;
          }

          &.ft__primary {
            background-color: $rc-brand-light;

            &:hover {
              background-color: $rc-brand-light-hover;
            }
          }
        }
      }

      // 搜索结果列表
      #searchList {
        @media screen and (min-width: 960px) {
          float: left;
          width: 45%;
          height: calc(100% - 94px) ;
          padding: 16px 16px;
          margin: 0;
          // border-top: 1px solid $rc-border-3;
          border-right: 1px solid $rc-border-3;

          .b3-list-item[data-type="search-item"] {
            padding-bottom: 22px + 5px ;
            height: 22px * 2 + 5px * 3;

            .b3-list-item__meta {
              top: 22px + 5px * 2;
              right: 8px;
              max-width: 100%;
              position: absolute;
              white-space: nowrap;
              overflow: hidden ;
              text-overflow: ellipsis;
            }
          }
        }

        @media screen and (max-width: 960px) {
          float: left;
          /*width:45vw;*/
          width: calc(100%);
          height: calc(50% - 85px) ;
        }
      }

      // 搜索预览
      #searchPreview {
        width: 60%;
        height: calc(100% - 94px) ;
        border: none;
        border-bottom-left-radius: $dialog-border-radius;
        border-bottom-right-radius: $dialog-border-radius;

        // 面包屑
        .protyle-breadcrumb {
          // height: 40px;
          padding: 8px ;

          &__item .fn__ellipsis {
            display: -webkit-box;
          }
        }

        .protyle-content {
          .protyle-wysiwyg {
            padding: 16px 64px 90px ;
          }

          [data-type="search-mark"] {
            @extend %search-mark__model;
          }
        }
      }

      .search__header + .search__header:not(.fn__none) {
        ~ #searchList,
        ~ #searchPreview{
          height: calc(100% - 49px - 49px - 44px) ;
        }
      }
    }

    // 块类型筛选界面
    .spread-search__filter {
      padding-top: 0px;

      // 标题
      &::before {
        content: "块类型筛选";
        display: block;
        width: 128px;
        height: 60px;
        left: 0;
        right: 0;
        color: $rc-text-placeholder;
        padding: 0 auto;
        font-size: 12px;
        // margin-left: 42px;
        text-align: center;
        line-height: 60px;
      }

      // 块类型筛选项
      label {
        .b3-label__text {
          font-size: 13px ;
          height: 20px;
          line-height: 20px;
          margin: 0;
        }

        margin-bottom: 16px;
      }
    }
  }
}