@use "../common" as *;

@mixin card {
  box-shadow: get($shadow, 1);
  border-radius: get($radius, "large");
  transition: get($transition, "all");

  &:hover {
    box-shadow: get($shadow, 2);
    transform: translateY(-2px);
  }
}

.b3-tab-container[data-name="bazaar"] {
  //集市tab
  .layout-tab-bar {
    padding: 16px 16px 8px;

    &[style*="border"] {
      padding: 8px;
    }
  }
}

.bazaarPanel {
  // 筛选图标
  > .fn__flex > .svg {
    margin-left: 4px;
  }
  // 已下载
  &[data-type="downloaded"] {
    > .fn__flex .b3-button {
      width: 68px;
      @include item-focus();
      &.b3-button--outline {
        @include item("page");
      }
    }
  }
}

//集市卡片
.b3-card {
  $mar-lr: 12px;
  @include item-unchange("pop");
  @include card();

  &__img {
    margin: 16px $mar-lr 4px;
    width: calc(100% - $mar-lr * 2);
    border-radius: get($radius, "large");
    opacity: 0.8;

    img {
      object-fit: cover;
      border-radius: get($radius, "base");
    }
  }

  &__info {
    padding: 8px 16px 0px;

    .svg {
      @include svg(get($icon, "small"));
      margin-top: 3.5px;
    }
  }

  &__actions {
    height: get($component-size, "base") + $fn-space * 2;
    padding: $fn-space;

    > .block__icon {
      @include icon-btn("pop", get($component-size, "base"), 12px);
    }
  }

  &--current {
    .b3-card {
      &__info {
        background-color: get($bg, "focus", 1);
      }
      &__actions {
        background-color: get($bg, "focus", 1);
        > .block__icon {
          @include color-change("focus");
          @include item-focus();
        }
      }
    }
  }
}
