@use "sass:map";
@use "../common" as *;
@use "../component/form";
@use "../component/list";

//弹窗蒙版
$dialog-scrim: map.get($mask, "active");
//弹窗边框弧度
$dialog-radius: map.get($radius, "exlarge");

$large-width: 66vw;

$search-h: 50px;

:root {
  /* 遮罩 */
  --b3-mask-background: $dialog-scrim;
}

//弹窗
//蒙版
.b3-dialog__scrim {
  background-color: $dialog-scrim;
}

//大弹窗
.b3-dialog__container {
  box-shadow: map.get($shadow, 3);
  border-radius: $dialog-radius;
  background-color: map.get($bg, "page", 1);

  &[style*="80vw"] {
    width: $large-width !important;

    // 弹窗关闭按钮
    .b3-dialog__close {
      display: none;
    }

    // 笔记本设置界面标题
    .b3-dialog__header {
      border-color: map.get($border, 3);
    }

    // 顶部搜索框
    .search__header {
      width: $large-width;
      border-color: map.get($border, 3);
      border-radius: $dialog-radius $dialog-radius 0 0;
      @include form.search-input($search-h - 1px, 0, 17px);

      // 搜索文本框
      .b3-text-field {
        border-radius: $dialog-radius $dialog-radius 0 0;
        background-color: map.get($bg, "page", 1);

        &:hover,
        &:focus {
          box-shadow: unset;
          border: none;
        }
      }
    }

    // 侧边导航栏
    .b3-tab-bar,
    // 设置项界面
    .b3-tab-container {
      height: min(
        66.1vh,
        (list.$text-h + 16px * 2 + $fn-space) * 11 - $fn-space
      ) !important;
    }

    // 侧边导航栏
    .b3-tab-bar {
      margin: $fn-space;
      // padding: 0 $fn-space ;
      // border-right: $fn-border;
      width: 150px !important;

      // 导航按钮
      .b3-list-item--big {
        padding: 16px 24px;
        margin-bottom: $fn-space;

        &:last-child {
          margin-bottom: 0px;
        }

        // 导航图标
        .b3-list-item__graphic {
          @include svg(20px, 12px);
          margin-right: 18px;
        }
      }
    }

    //label
    .b3-label {
      // 搜索筛选设置
      .config-query {
        label {
          margin-top: 8px;
        }
      }
    }
  }
}
