@use "../common" as *;
@use "../component/list";

#keymapList {
  .b3-list {
    &-item {
      .b3-text-field {
        @include component("small");
      }

      &:hover {
        .b3-text-field {
          background-color: get($bg, "page", 1);
        }
      }

      .fn__space {
        width: $interval;
      }

      &__action {
        @include icon-btn("component", 24px, get($icon, "small"));
      }
    }

    &--border > ul {
      li {
        margin: 0 !important;
      }
      > ul::before {
        left: -21px - 34px;
      }
    }
  }
}
