
@use "sass:math";
@use "../common" as *;
@use "../component/list";
@use "big";

$w: get($component-size, "small");
$spacing: math.div(16px * 2 + 24px - $w, 2);
$padding: 24px;
$meta-w: 80px;

//小弹窗
.b3-dialog__container {
  &[style*="50vw"],
  &[style*="520px"] {
    width: 450px !important;
    // padding: 0 16px;

    .b3-dialog {
      //弹窗标题
      &__header {
        // 新建日记弹窗
        &.fn__none {
          display: block !important;

          &::before {
            content: "新建日记";
            display: block;
          }
        }
      }

      //弹窗关闭按钮
      &__close {
        @include item("component");
        @include item-close();
        @include component();
        @include svg($w, 8px);

        top: $spacing;
        right: $spacing;
      }

      // 属性弹窗
      &__content {
        padding: 16px $padding;

        // 书签右侧按钮 && 自定义属性删除按钮
        .block__icon {
          @include svg-div(get($component-size, "base"), 10px);
        }

        // 属性名
        .ft__on-surface,
        .b3-text-field[placeholder="属性名"] {
          font-size: get($font-size, "base");
          width: $meta-w !important;
          text-align: center !important;

          // 属性名和输入框的间隔
          + .fn__space {
            width: 16px;
          }
        }

        textarea {
          line-height: 18px;
        }

        // 属性弹窗第二条分割线
        div[style*="var(--b3-border-color)"] {
          height: 0 !important;
          background-color: transparent !important;
          border-bottom: $fn-border;
        }

        // 自定义属性区域
        .custom-attr__add {
          padding: 0;
          height: get($component-size, "base") * 4 + 16px * 3;

          // 自定义属性添加按钮
          .b3-button {
            width: $meta-w !important;
          }
        }
      }

      // 弹窗底部按钮
      &__action {
        padding: $padding;
        $space: 3%;

        .fn__space {
          width: $space;
        }

        .b3-button {
          @include item("pop");
          color: get($text, "primary");
          box-shadow: get($shadow, 0);
          letter-spacing: 0.3px;
          width: math.div(100% - $space, 2);

          // 确认按钮
          &.b3-button--text {
            @include item-primary();
          }
        }
      }
    }

    // PDF导出弹窗
    .b3-label {
      padding: 20px 8px;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
      }

      // 选项名
      .fn__flex-1:first-child {
        font-size: get($font-size, "base");
      }

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        .fn__flex-1:first-child {
          line-height: get($component-size, "base");
        }
      }

      // 第三行选项
      #scaleFactor {
        width: 200px;
      }
    }

    // 移动弹窗的搜索结果列表
    #foldList {
      margin: 16px $padding;
      .b3-list {
        &-item {
          &__showall {
            margin-left: list.$padding;
            line-height: list.$text-h;
          }
        }
      }
    }
  }

  &[style*="520px"] {
    width: 360px !important;
    .b3-dialog {
      &__content {
        padding: 28px $padding;
        .b3-text-field {
          @include component("medium");
        }
      }
    }
  }
}
