@use "../../common" as *;
@use "../selection";

//块嵌入
.protyle-wysiwyg [data-node-id].render-node[data-type="NodeBlockQueryEmbed"] {
  background-color: get($bg, "base", 1);
  padding: 36px 16px 16px;
  border: none;

  .protyle-wysiwyg__embed {
    border: none;
    background-color: get($bg, "page", 1);
    transition: get($transition, "all");
    padding: 4px 8px;
    opacity: 1;
    &:hover {
      background-color: selection.$select-bg;
      .dark & {
        background-color: selection.$select-dark;
      }
    }

    $embed-radius: get($radius, "base");
    &:nth-child(2) {
      border-radius: $embed-radius $embed-radius 0 0;
    }
    &:nth-last-child(3) {
      border-radius: 0 0 $embed-radius $embed-radius;
    }

    &:not(:nth-last-child(3)) {
      margin-bottom: 1px;
    }
  }

  .protyle-icon {
    @include item("base", 2);
  }
}
