@use "sass:math";
@use "../../common" as *;
@use "../gutters";

$left: -18px - gutters.$mar - 2px;

@mixin heading($lv) {
  @if $lv == 5 or $lv ==6 {
    $lv: 4;
  }
  $fz: 32px - $lv * 4px;
  $lh: $fz + 10px;
  font-size: $fz;
  line-height: $lh;
  margin-top: $lh;
  margin-bottom: math.div($lh, 2);
}

@mixin top($lv) {
  @if $lv == 5 or $lv ==6 {
    $lv: 4;
  }
  $fz: 32px - $lv * 4px;
  $lh: $fz + 10px;
  margin-top: math.div($lh, 2) !important;
  margin-bottom: math.div($lh, 4);
}

@for $i from 1 through 6 {
  h#{$i},
  .h#{$i} {
    .b3-typography &,
    .protyle-wysiwyg & {
      white-space: pre-wrap;
      word-break: break-word;
      padding: 0 2px;
      @include heading($i);
    }
    .protyle-wysiwyg [data-node-id].li > .protyle-action ~ & {
      @include top($i);
    }
  }
}

.protyle-wysiwyg div[fold="1"][data-type="NodeHeading"]:before {
  left: $left !important;
}

.protyle-wysiwyg [data-node-id].li > [data-type="NodeHeading"] {
  &[fold="1"]::before {
    display: none;
  }
}
