.b3-typography,
.protyle-wysiwyg {
    > .p,
    > p {
        // padding: 2px 0px;
        margin: 9px 0;
        line-height: 1.74;
    }
}

.protyle-wysiwyg .p[fold='1'] {
    height: auto !important;
    line-height: 1.74 !important;
}
