$code-bg: $rc-component-bg;
$code-border-radius: $rc-bradius-small;
$code-action-border-radius: $rc-bradius-extra-small;
$code-action-color: $rc-text-secondary;
$code-action-bg-hover: $rc-component-button;
$code-action-bg-active: $gray-4;

:root {
  // 代码片段背景
  --b3-protyle-code-background: #{$code-bg}; //rgba(27, 31, 35, 0.05);
  --b3-protyle-code-linenumber-hl: #{$highlight-bg};
}

//多行代码块
.code-block {
  background-color: $code-bg;
  border-radius: $code-border-radius;
  font-family: "HarmonyOS Sans SC", "JetBrains Mono";

  // 代码块按钮组
  &:hover .protyle-icons {
    opacity: 1 !important;
  }

  .protyle-action {
    right: 6px;
    background-color: transparent;
    transition: opacity 0.5s ease-out;

    %code-action {
      border-radius: $code-action-border-radius;
      font-size: 12px !important;
      display: flex;
      color: $code-action-color  !important;

      &:hover {
        background-color: $code-action-bg-hover;
      }

      &::after {
        content: "";
        display: flex;
        flex-direction: column;
        margin-left: 4px;
      }
    }

    // 代码语言按钮
    .protyle-action__language {
      @extend %code-action;
      text-transform: capitalize;
      height: 20px;
      padding: 0 5px;
      margin: 4px 0 0 4px !important;

      // 向下图标
      &::after {
        content: "";
        width: 8px;
        height: 20px;
        @include add_icon("expand_more",
          $code-action-color,
          18,
          "no-repeat center"
        );
      }
    }

    // 代码复制按钮
    .protyle-action__copy {
      @extend %code-action;
      padding: 4px 6px;
      height: 25px;
      border-radius: $code-action-border-radius 0 0 $code-action-border-radius ;
      background-color: $code-action-bg-hover;
      margin-top: 3px;
      margin-right: 1px;

      // 复制图标
      svg {
        display: flex;
        width: 11px;
        height: 11px;
        margin-top: 3px;
        margin-right: 4px;
      }

      // 复制文字
      &::after {
        content: "Copy";
        font-size: 11px;
        line-height: 1.3;
        height: 100%;
        position: unset;
        border-radius: unset;
        background-color: transparent;
        box-shadow: none;
        color: $code-action-color;
        padding: 0;
        margin: 0 auto;
        opacity: 1;
        transition: unset;
        transform: unset;
      }

      &:hover {
        background-color: $code-action-bg-active;
      }
    }

    // 代码菜单按钮
    .protyle-action__menu {
      height: 25px;
      width: 24px;
      margin: 3px 3px 0 0;
      padding: 0 6px;
      background-color: $code-action-bg-hover;
      border-radius: 0 $code-action-border-radius $code-action-border-radius 0;

      // 代码菜单图标
      svg {
        color: $code-action-color;
        width: 11px;
        height: 25px;
      }

      &:hover {
        background-color: $code-action-bg-active;
      }
    }
  }

  // 代码区
  .hljs {
    background-color: transparent !important;
    padding: 34px 16px 32px 22px !important;
    // font-size: 85% !important;
    line-height: 1.625;

    // 有行号的特殊情况
    &.protyle-linenumber {
      padding-left: 10px !important;
      margin-left: 50px;
    }
  }

  // 代码行号
  .protyle-linenumber__rows {
    font-size: 85%;
    background-color: transparent !important;
    padding: 34px 0px 32px 0px !important;
    line-height: 27px;
    width: 40px;
    margin-right: 10px;

    span {
      height: 1.625;

      &::before {
        // height: 22px;
        line-height: 1.625;
        color: $rc-text-placeholder;
      }
    }
  }
}

//行内代码块
.b3-typography code:not(.hljs),
.protyle-wysiwyg code:not(.hljs) {
  margin: 0 3px;
}