//标签
$tag-border-radius: $rc-bradius-max;

//标签
$tag-color: $rc-text-secondary;
$tag-border: 1px solid $rc-border-3;
$tag-shadow: rc-shadow(1);
$tag-bg-hover: $rc-component-bg;

:root {
  --b3-protyle-inline-tag-color: #{$tag-color};
}

span[data-type="tag"]:not(.dock__item):not(.b3-tooltips) {
  //   font-weight: bold;
  border-radius: $tag-border-radius;
  color: $tag-color;
  border: $tag-border !important;
  box-shadow: $tag-shadow;
  position: relative;
  padding: 0.1em 0.6em;
  font-size: 85%;
  // padding-right: 12px;
  // background-color: $rc-inline-tag-background;
  // border-color: rgba($rc-inline-tag-color, 0.2) !important;
  &:hover {
    background-color: $tag-bg-hover !important;
  }
  &::before {
    content: "#";
    display: inline-block;
  }
  // &::after {
  //   content: "";
  //   display: inline-block;
  //   position: absolute;
  //   top: 2px;
  //   width: 12px;
  //   height: 12px;
  //   @include add_icon("search", $rc-inline-tag-color, 18, "round");
  // }
}
