$embeds-bg: $rc-ui-bg;
$embed-border-radius: $rc-bradius-small;
$embed-bg: $rc-container-bg;
$embed-shadow: rc-shadow(4);
$embed-shadow-hover: rc-shadow(8);

//块嵌入
div[data-type="NodeBlockQueryEmbed"].render-node {
  background-color: $embeds-bg  !important;
  padding: 35px 16px 16px !important; //8px 28px 8px
  border-radius: $embed-border-radius;
  border: none !important;

  &.protyle-wysiwyg--hl {
    background-color: $highlight-bg  !important;
  }

  .protyle-wysiwyg__embed {
    border-radius: $embed-border-radius;
    background-color: $embed-bg;
    padding: 16px;
    margin-bottom: 16px;
    opacity: 1;
    box-shadow: $embed-shadow  !important;
    transition: all 0.3s ease-out;

    &:hover {
      box-shadow: $embed-shadow-hover  !important;
      transform: translateY(-2px);
    }
  }
}