//强调色
$mark-bg: transparent;

:root {
  // 编辑器搜索颜色
  --b3-protyle-search-background: #{$mark-bg};
  --b3-protyle-inline-mark-color: #{$rc-text-primary};
  --b3-protyle-inline-mark-background: #{$mark-bg};
}

mark {
  @extend %mark__model;
}
