//超级块横排
.protyle-wysiwyg [data-node-id].sb {
  &[data-sb-layout="col"] {
    margin: 20px 0;
  }

  &[data-sb-layout="row"] {
    margin-right: 6px !important;
    padding: 3px 2px;
    &:not(:last-child) .protyle-attr {
      right: 16px;
    }
  }
  
  // 第一级列表缩进
  >.list {
    margin: 0 7px;
  }

}