//超级块横排
.sb {
  &[data-sb-layout="col"] {
    margin: 20px 0;

    // >div:not(:first-child):not(.protyle-attr) {
    //   // margin-left: 12px !important;
    // }
  }

  &[data-sb-layout="row"] {
    margin: 0 6px !important;
    &:not(:last-child) .protyle-attr {
      right: 16px;
    }
  }

  >div:not(.sb):not(.protyle-attr):not(.list){
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  // 第一级列表缩进
  >.list {
    margin: 0 12px;
  }

}