//数量按钮
%counter__model {
  height: 22px;
  width: auto;
  padding: 0 7px;
  text-align: center;
  justify-content: center;
  line-height: 22px;
  border-radius: $rc-border-radius-extra-small;
  &:hover {
    background-color: $rc-theme-list-button;
  }
}

//界面上按钮
@mixin block__icon__model($width, $svg-width) {
  width: $width;
  height: $width;
  padding: 0;
  border-radius: $rc-border-radius-small;
  color: $rc-theme-text-0;
  &:hover {
    color: $rc-theme-text-0 !important;
    background-color: $rc-theme-surface-button;
  }
  &.ft__primary {
    color: $rc-theme-primary;
    &:hover {
      color: $rc-theme-primary !important;
      background-color: $rc-theme-surface-button-focus;
    }
  }
  svg {
    width: $svg-width;
    height: $svg-width;
    padding: calc((#{$width} - #{$svg-width}) / 2);
  }
}

@mixin graphic($width, $img-width) {
  width: $img-width !important;
  height: $img-width !important;
  margin: 0;
  padding: calc((#{$width} - #{$img-width}) / 2) !important;
}

@mixin add_icon($icon_name, $color, $size, $position) {
  background-color: $color;
  $icon_url: "#{$asset-path}/icons/#{$icon_name}_black_#{$size}dp.svg";
  -webkit-mask: url($icon_url) #{$position};
  mask: url($icon_url) #{$position};
}
