@import "main";
@import "semi-design/global";

$asset-path: "./src/assets";

//主色
$rc-theme-primary: $color-primary; //#5c48ec; //$antd-6; //
$rc-theme-primary-1: $color-primary-light-default; //#f0eefd; //$antd-1; //
$rc-theme-primary-2: $color-primary-light-hover; //#d8d5fb; //$antd-2; //
$rc-theme-primary-3: $color-primary-light-active; //#bebafa; //$antd-3; //
$rc-theme-primary-4: $blue-3; //$antd-4; //#9580f3;
$rc-theme-primary-5: $blue-4; //$antd-5; //#7963f0;
$rc-theme-primary-6: $blue-5;

$rc-theme-primary-light: rgba($rc-theme-primary, 0.5);
$rc-theme-primary-lighter: rgba($rc-theme-primary, 0.3);
$rc-theme-primary-lightest: rgba($rc-theme-primary, 0.1);

//中性色(Material Design)
$rc-theme-gray-0: $color-tertiary-light-default; //#ffffff; //$grey-0; //#f8f9fd; //
$rc-theme-gray-1: $color-tertiary-light-hover; //#fafafa; //$grey-1; //#f2f3f7; //
$rc-theme-gray-2: $neutral-2;
$rc-theme-gray-3: $neutral-3; //#f5f5f5; //$grey-2; //#e9eaee; //
$rc-theme-gray-4: $neutral-4; //#f0f0f0; //$grey-3; //$color-tertiary-light-active; //#dadbdf; //
$rc-theme-gray-5: $neutral-5; //$grey-4; //$color-tertiary-light-active; //#b6b7bb; //
$rc-theme-gray-6: $neutral-6;
$rc-theme-gray-7: $neutral-7;

$rc-fill-0: $color-fill-0;
$rc-fill-1: $color-fill-1;
$rc-bg-3: $color-bg-3;

//提示颜色
//成功
$rc-success-color: $color-success;
$rc-success-border: $color-success;
$rc-success-background: $color-success-light-default;
//危险
$rc-danger-color: $color-danger;
$rc-danger-border: $color-danger;
$rc-danger-background: $color-danger-light-default;
//警告
$rc-warning-color: $color-warning;
$rc-warning-border: $color-warning;
$rc-warning-background: $color-warning-light-default;

//文字颜色
$rc-theme-text-0: $color-text-0;
$rc-theme-text-1: $color-text-1;
$rc-theme-text-2: $color-text-2;
$rc-theme-text-3: $color-text-3;

//线条颜色
$rc-theme-border-0: $color-border;
$rc-theme-border-1: $color-border-1;
$rc-theme-border-2: $color-border-2;
$rc-theme-border-3: $color-border-3;
//边框圆角
$rc-border-radius-extra-small: 3px;
$rc-border-radius-small: 4px;
$rc-border-radius-medium: 6px;
$rc-border-radius-large: 8px;
$rc-border-radius-max: 9999px;
$rc-border-radius-circle: 50%;
//UI底色
$rc-theme-background: $rc-theme-gray-0;
//主文字颜色
$rc-theme-on-background: $rc-theme-text-1; //rgb(31, 34, 37);

//界面
//界面间空白宽度
$interval: "min(12px, max(6.5px, 0.520vw * 6.5 / 8))";
//界面文字颜色
$rc-theme-on-surface: $rc-theme-text-1; //rgb(53, 56, 59);
//界面底色
$rc-theme-surface-background: $color-white; //$rc-theme-gray-0;
//界面上按钮正常悬浮
$rc-theme-surface-button: $rc-theme-gray-1;
//界面上按钮选中悬浮
$rc-theme-surface-button-focus: $rc-theme-primary-1;
//各控件的正常底色（开关，选择菜单、输入框等）
$rc-theme-surface-control: $rc-theme-surface-button;
//边栏边框
$rc-theme-surface-border: rgb(238, 238, 238);
$rc-surface-boder: none; //1px solid $rc-theme-surface-border;
//边窗动画
$rc-width-time: 0.2s;
$wnd-transition: all $rc-width-time ease-out 0s;
//边窗阴影
$rc-theme-surface-shadow: none; //"0 4px 10px rgb(0 0 0 / 5%), 0 0 1px rgb(0 0 0 / 10%)";

//列表项正常悬浮
$rc-theme-list-hover: $rc-theme-gray-1;
//列表项上按钮正常悬浮
$rc-theme-list-button: $rc-theme-gray-3;
//列表项选中
$rc-theme-list-focus: $rc-theme-primary-1;
//列表项上按钮选中悬浮
$rc-theme-list-focus-button: $rc-theme-primary-2;
//列表项选中字体颜色
$rc-theme-list-focus-color: $rc-theme-primary;
//子列表缩进左边距
$list-left: 20px;
//子列表缩进最大深度
$list-depth: 7;
//列表文本行高
$list-text-height: 22px;
//折叠按钮宽度
$list-arrow-width: 20px;

//顶部工具栏
//顶部工具栏文字颜色
$rc-topbar-color: $rc-theme-text-0; //#424243;
//顶部工具栏悬浮
$rc-topbar-hover: $rc-theme-gray-3;
//顶部工具栏阴影
$rc-topbar-shadow: "0 4px 10px rgb(0 0 0 / 5%)";
//关闭按钮悬浮
$rc-close-window: rgba(232, 17, 35, 0.9);

//控件
//输入框边框
$rc-border-color: $rc-theme-border-1; //rgb(238, 238, 238);
//带边框按钮悬浮底色
$rc-button-cancel-hover: $rc-theme-primary-1;
//钉住动画
$pin-transition: transform 200ms ease;

//编辑器宽度
$rc-editor-width: "min(1380px, max(708px, 49vw))";
//编辑器两侧边距
$content-margin: "max(calc((100% - #{$rc-editor-width}) / 2), 96px)";

//菜单
//菜单阴影
$rc-menu-shadow: fluent-shadow(
  64
); //"rgb(0 0 0 / 20%) 0px 0px 1px, rgb(0 0 0 / 16%) 0px 10px 20px";
//菜单底色
$rc-menu-background: $rc-theme-surface-background;
//菜单分割线
$rc-menu-separator: $rc-theme-border-1; //rgb(242, 242, 242);

//弹窗
//弹窗阴影
$rc-dialog-shadow: fluent-shadow(
  64
); //"rgb(0 0 0 / 20%) 0px 0px 1px, rgb(0 0 0 / 20%) 0px 20px 50px";
//弹窗关闭按钮底色
$rc-dialog-close-background: $rc-theme-gray-2; //rgb(242, 242, 242);
//弹窗关闭按钮悬浮
$rc-dialog-close-hover: $rc-theme-gray-3; //rgb(234, 234, 234);
//弹窗分割线
$rc-dialog-border: $rc-theme-border-1; //rgb(234, 234, 234);
//弹窗边框弧度
$rc-dialog-radius: 10px;
//弹窗蒙版
$rc-dialog-scrim: rgba(36, 39, 41, 0.3);

//行内工具栏阴影
$rc-toolbar-shadow: fluent-shadow(
  16
); // "rgb(0 0 0 / 15%) 0px 5px 10px, rgb(0 0 0 / 20%) 0px 0px 1px";

//滚动条
$rc-scroll-color: $rc-theme-list-hover;
$rc-scroll-hover: $rc-theme-list-button;

//强调色
$rc-mark-background: transparent; //rgb(212, 240, 255);
$rc-mark-background-img: linear-gradient(
  transparent,
  transparent 33%,
  $rc-theme-primary-3
);

//提示条底色
$rc-tooltips-color: rgb(15, 15, 15);

//选中文字底色
$rc-selection-color: $rc-theme-primary-3;
//选择拖拽框底色
$rc-selection-border-color: $rc-theme-primary-3;
$rc-selection-background: rgba($rc-theme-primary, 0.1);

//列表块线条
$rc-list-border: $rc-theme-border-1; //rgb(213, 213, 213);

//代码块底色
$rc-code-background: $rc-fill-0; //rgb(247, 247, 247);

//通知栏阴影
$rc-snackbar-shadow: fluent-shadow(
  64
); // "rgb(0 0 0 / 20%) 0px 0px 1px, rgb(0 0 0 / 10%) 0px 15px 30px";

//超链接样式
//颜色
$rc-inline-link-color: $purple-6; //$rc-theme-secondary-6; //#2156db;//rgb(16, 85, 146);
//下划线
$rc-inline-link-border-color: $purple-4; //$rc-theme-secondary-4; //rgb(194, 217, 237);
$rc-inline-link-border: 1px solid $rc-inline-link-border-color;
//提示条阴影
$rc-inline-link-tooltip-shadow: fluent-shadow(
  16
); //"rgb(0 0 0 / 15%) 0px 5px 10px, rgb(0 0 0 / 20%) 0px 0px 1px";

//块引用样式
$rc-inline-blockref-color: $rc-theme-primary; //#2156db;
$rc-inline-blockref-hover: rgba($rc-theme-primary, 0.1);

//标签
$rc-inline-tag-color: $rc-theme-text-2; //rgba($rc-theme-on-background, 0.5);
// $rc-inline-tag-background: $rc-theme-list-hover;
$rc-inline-tag-hover: $rc-theme-list-hover;

//集市卡片
$rc-card-shadow: fluent-shadow(
  4
); //"rgb(0 0 0 / 5%) 0px 0px 1px, rgb(0 0 0 / 4%) 0px 15px 30px";
$rc-card-hover-shadow: fluent-shadow(
  8
); //"rgb(0 0 0 / 5%) 0px 0px 1px, rgb(0 0 0 / 12%) 0px 15px 30px";

//高亮底色
$rc-highlight: $rc-theme-primary-1; //rgba($rc-theme-primary, 0.1);
