$emoji-title-color: $rc-text-secondary;
$emoji-item-border-radius: $rc-bradius-small;
$emoji-item-bg-hover: $rc-component-bg;
$emoji-tab-border-radius: $rc-bradius-small;
//表情面板
.emojis {
  padding: 0 2px 0;
  > div:first-child {
    margin: 9px 0 4px;
    .fn__space:not(:first-child):not(:last-child){
      display: none;
    }
    // .fn__space:first-child,
    // .fn__space:last-child {
    //   display: none;
    // }
    input {
      margin: 0 ;
    }
    .block__icon {
      @include block__icon__model(30px, 11px);
      margin-left: 4px;
    }
  }

  .emojis__panel {
    padding-right: 0;
    // transform: translateY((32.8px - 24px)/2);
    .emojis__title {
      padding: 18px 0 8px;
      font-size: 11px;
      font-weight: 500;
      color: $emoji-title-color;
      letter-spacing: 0.3px;
      // &:first-child {
      // padding-top: 18px;
      // }
    }
    .fn__hr {
      display: none;
      & + .emojis__content {
        padding-top: 0;
      }
    }
    .emojis__content {
      div[style*="4px"] {
        height: 28px;
        line-height: 28px;
        width: 100%;
        margin: 0 ;
      }
      .emojis__item {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        height: 30px; 
        // width: 30px;
        // margin: 3px;
        font-size: 13px;
        border-radius: $emoji-item-border-radius;
        background-color: transparent;
        // border: 1px solid transparent;
        box-sizing: border-box;
        cursor: pointer;
        padding: 0 6px;
        margin: 1px;
        &:hover {
          background-color: $emoji-item-bg-hover;
        }
        img,
        svg{
          width: 16px;
          height: 16px;
          margin: 0 1px;
        }
      }
    }
    .b3-list & {
      max-height: 388px;
      .emojis__title:first-child {
        padding-top: 0;
      }
    }
  }
  > div:last-child {
    padding-top: 6px;
    border-radius: 0 0 $emoji-tab-border-radius $emoji-tab-border-radius;
    .emojis__type {
      svg{
        width: 14px;
        height: 14px;
      }
      &:first-child {
        border-radius: 0 0 0 $emoji-tab-border-radius;
      }
      &:last-child {
        border-radius: 0 0 $emoji-tab-border-radius 0;
      }
      &:hover{
        background-color: $rc-component-bg;
      }
    }
  }
}
