@use "sass:map";
@use "sass:math";
@use "../common" as *;

$b-bg: map.get($bg, "page");

$icon-w: map.get($component-size, "small");
$icon-svg-w: map.get($icon, "small");

$padding: $fn-space;

@mixin btn($type: "page", $important: false) {
  @include icon-btn($type, $icon-w, $icon-svg-w, true);

  &.ft__primary,
  &--active {
    @include focus($important);
    @include item("light", true);
  }

  &[data-type="close"] {
    @include item-close(true);
  }
}

//窗口顶栏
.block__icons {
  color: map.get($text, "secondary");
  padding: $padding;
  height: $icon-w + $padding * 2;
  font-size: map.get($font-size, "exsmall");
  background-color: $b-bg;

  &--active {
    background-color: $b-bg;
  }

  // 间隔
  .fn__space {
    width: $interval;
  }

  // 边窗顶栏logo
  .block__logo {
    svg {
      @include svg(map.get($icon, "small"));
      margin: 0 $padding;
    }
    // margin-right: $padding * 2;
  }

  //窗口顶栏按钮
  .block__icon {
    @include btn();
    &[disabled="disabled"] {
      @include item-disabled(true);
    }
    &[type="checkbox"] {
      width: $icon-svg-w;
      margin: 0 math.div($icon-w - $icon-svg-w, 2);
    }
  }

  // 计数块
  .listCount,
  .listMCount {
    @include counter(24px);
    margin-right: $interval;
    + .fn__space {
      display: none;
    }
  }
}
