@use "../layout/top-bar" as *;

body.body--win32 {
  .fullscreen {

    // 编辑器全屏
    > .protyle-breadcrumb {
      .fn__space {
        -webkit-app-region: drag;
      }

      padding: 3px $win-control-w * 3 3px 8px;
    }

    // 关系图全屏
    >.block__icons {
        padding: 3px $win-control-w * 3 3px 8px ;
        height: 30px;
    }
  }
}
