@use "../common" as *;
@use "../dialog/bazaar";
@use "../layout/status";

.sy__backlink {
  [data-treetype="backlink"].b3-list-item {
    @include list-root();
    + div {
      box-shadow: 10px 0 rgba(var(--page-1), 1) inset,
        11px 0 rgba(var(--border-3), 1) inset;
    }
    &:not(:first-child) {
      margin-top: $interval !important;
    }
  }
  .protyle {
    // box-shadow: get($shadow, 1);
    &-wysiwyg {
      padding-bottom: 5px !important;
      [data-node-id] {
        margin: 4px 0 !important;
        [contenteditable] {
          font-size: 90%;
        }
      }
    }
  }
  .layout-tab-container > & > .backlinkMList {
    min-height: status.$s-h - $interval !important;
  }
}
