//强调色
$search-mark-bg: $yellow-color-1;

:root {
  // 编辑器搜索颜色
  --b3-protyle-search-background: #{$search-mark-bg};
  --b3-protyle-inline-mark-color: #{$rc-text-primary};
  --b3-protyle-inline-mark-background: #{$search-mark-bg};
}

.b3-typography,
.protyle-wysiwyg {
  mark {
    background-color: transparent;
    background-image: linear-gradient(transparent, transparent 50%, var(--rc-brand-light) 75%, var(--rc-brand-light) 100%);
  }
}