.protyle-wysiwyg [data-node-id].iframe {
    .iframe-content {
        video {
            cursor: pointer;
        }

    }

    .protyle-action__drag {

        &,
        &::after {
            background-color: $rc-border-1  ;
            box-shadow: unset ;


        }

        height: 54px;
        bottom: -4px;

        &::after {
            width: 54px;
        }
    }
}