//行内公式块
span[data-type="inline-math"] {
  margin: 0 3px;
  .katex {
    font-size: 100% ;
    font-family: KaTeX_Main,var(--b3-font-family-math), "HarmonyOS Sans SC 01", Times New Roman,
      serif ;
  }
}
