//列表块线条
$list-border: $rc-border-3;

$list-point-bg-fold: var(--rc-gray-light);
$list-point-bg-fold-hover: var(--rc-gray-light-hover);

$list-done-opacity: 0.4;

$list-done-color: $rc-text-placeholder;
$list-done-border-color: $rc-border-2;

$link-done-color: $rc-text-disabled;
$link-done-color-hover: $rc-text-secondary;
$link-done-border-color: $rc-border-4;
$link-done-border-color-hover: $rc-border-2;

//完成后的块引用样式
$ref-done-color: $rc-brand-disabled;
$ref-done-bg-hover: $rc-brand-light;

//完成后的标签样式
$tag-done-color: $rc-text-disabled;

.protyle {
  .protyle-wysiwyg {

    // // 第一级列表缩进
    >.list {
      margin: 0 7px;
    }

    [data-node-id].li {

      // 解决单行子列表块表按钮显示问题
      >.list {
        padding-left: 0;
        margin-left: 34px ;
        // transform: translateX(16px);
      }

      // 列表块子元素左侧线条
      .list::before {
        border-color: $list-border  ;
        left: -18px;
      }

      // 非列表块子元素左侧线条
      >[data-node-id]:before {
        border-color: $list-border  ;
      }

      // 有序列表按钮位置调整
      // .protyle-action--order {
      //   // transform: translateX(1px);
      // }

      // 列表按钮悬浮底色
      >.protyle-action {
        &:hover::after {
          background-color: $list-point-bg-fold-hover  ;
        }
      }
    }
  }
}


//折叠后列表按钮样式
.protyle-wysiwyg [data-node-id].li[fold="1"]>.protyle-action {

  // color: $rc-text-primary;
  &::after {
    background-color: $list-point-bg-fold  ;
    // transform: translateX(0.5px);
  }

  &:hover::after {
    background-color: $list-point-bg-fold-hover  ;
  }

  // 待办列表特殊情况
  &.protyle-action--task::after {
    border-radius: unset ;
  }
}

// 待办列表项完成后各子块的特殊样式
.protyle-wysiwyg {
  .protyle-task--done * {
    color: $list-done-color  ;
    border-color: $list-done-border-color  ;

    //完成后的超链接样式
    &[data-node-id] span[data-type="a"]:not(:empty) {
      color: $link-done-color  ;
      border-color: $link-done-border-color  ;

      &::before {
        opacity: $list-done-opacity  ;
      }

      &:hover {
        color: $link-done-color-hover  ;
        border-color: $link-done-border-color-hover  ;
      }
    }

    // 完成后的块引用
    &[data-type="block-ref"] {
      color: $ref-done-color  ;

      &:hover {
        background-color: $ref-done-bg-hover  ;
      }
    }

    // 完成后的标签块
    &[data-type="tag"] {
      color: $tag-done-color  ;
    }

    // 完成后的有样式子块
    &[style*="color"] {
      opacity: $list-done-opacity;
    }

    // 完成后的键盘块
    kbd {
      border-color: $rc-border-4  ;
    }

    // 完成后的标记块
    mark {
      &::after {
        opacity: 0.5;
      }
    }
  }
}

// 导出预览页
.b3-typography {

  >ul,
  >ol {
    padding-left: 42px;
  }

  // 四种情况
  ul ol,
  ol ol,
  ul ul,
  ol ul {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      display: block;
      left: -14px;
      top: 0;
      bottom: 0;
      height: 100%;
      border-right: 1px solid $rc-border-3;
    }
  }

  ol li::marker {
    display: block;
    transform: translateX(-20px);
  }

  // 调整待办列表输入框的位置
  .protyle-task>input {
    left: -1.4em;
  }

  // 子列表为无序列表或待办列表
  ol>li>ul,
  ol>li>ol {
    &::before {
      left: -12px;
    }
  }

  // 代表列表完成后字体颜色
  .protyle-task--done p {
    color: $list-done-color;
  }
}