//块引用样式
$ref-color: $rc-brand;
$ref-bg-hover: var(--rc-brand-light);
$ref-border-radius: $rc-bradius-small;

:root {
  --b3-protyle-inline-blockref-color: #{$ref-color};
}

span[data-type="block-ref"] {
  border-radius: $ref-border-radius;
  &:hover {
    background-color: $ref-bg-hover ;
  }
}
