@use "../../common" as *;
@use "heading";
@use "list";

$bq-color: get($text, "secondary");

$side-left: $fn-space;
$side-w: 4px;
$pad-l: 12px;

//引述块
@mixin bq {
  position: relative;
  background-color: transparent;
  border: none;

  &::after {
    content: "";
    display: block ;
    position: absolute;
    width: $side-w;
    height: calc(100% - 8px * 2);
    top: $side-left;
    bottom: $side-left;
    left: $side-left;
    z-index: 0;
    border-radius: get($radius, "max");
    background-color: get($text, "primary");
  }
}

.b3-typography,
.protyle-wysiwyg {
  .bq {
    @include bq();
    padding: 4px 0;
    // 一级子元素
    > [data-node-id] {
      margin-left: $side-left + $side-w;
      padding-left: $pad-l;
      &[data-type="NodeHeading"] {
        &:first-child {
          margin-top: $pad-l + $side-w;
        }
        &::before {
          left: heading.$left - $side-left !important;
        }
      }
    }

    // 所有子元素
    [data-node-id] {
      color: $bq-color;
    }

    > .list {
      margin-left: $side-left + $side-w + list.$left;
      padding: 0;
    }

    &[fold="1"] {
      height: 48px !important;
      > div:first-child {
        font-size: 1em !important;
        line-height: 1.625 !important;
        height: auto !important;
        margin-top: 4px !important;
      }
    }
  }
}

.b3-typography blockquote {
  @include bq();

  > * {
    margin-left: $side-left + $side-w;
    padding-left: $pad-l;
  }

  > ul {
    padding-left: list.$action-w;
  }

  * {
    color: $bq-color;
  }
}
