@use "sass:map";
@use "../../common" as *;
@use "list";

//超级块横排
.protyle-wysiwyg {
  [data-node-id].sb {
    > [data-type="NodeHeading"]:first-child {
      margin-top: 20px;
    }

    .code-block {
      margin-top: 0;
    }

    &[data-sb-layout="col"] {
      margin: 1em 0;
      > [data-node-id]:not(:nth-last-child(2)) {
        margin-right: 1em;
      }
    }

    &[data-sb-layout="row"] {
      padding: 0 8px;
    }

    // 第一级列表缩进
    > .list {
      margin: 0 list.$left;
    }
  }
}
