@import "../vendors/TDesign/global";

// 色板
// 主色
$brand-1: $brand-color-1;
$brand-2: $brand-color-2;
$brand-3: $brand-color-3;
$brand-4: $brand-color-4;
$brand-5: $brand-color-5;
$brand-6: $brand-color-6;
$brand-7: $brand-color-7;
$brand-8: $brand-color-8;
$brand-9: $brand-color-9;
$brand-10: $brand-color-10;

// 中性色
$gray-1: $gray-color-1;
$gray-2: $gray-color-2;
$gray-3: $gray-color-3;
$gray-4: $gray-color-4;
$gray-5: $gray-color-5;
$gray-6: $gray-color-6;
$gray-7: $gray-color-7;
$gray-8: $gray-color-8;
$gray-9: $gray-color-9;
$gray-10: $gray-color-10;
$gray-11: $gray-color-11;
$gray-12: $gray-color-12;
$gray-13: $gray-color-13;
$gray-14: $gray-color-14;

// 提示颜色
$success-1: $success-color-1;
$success-2: $success-color-2;
$success-3: $success-color-3;
$success-4: $success-color-4;
$success-5: $success-color-5;
$success-6: $success-color-6;
$success-7: $success-color-7;
$success-8: $success-color-8;
$success-9: $success-color-9;
$success-10: $success-color-10;

$warning-1: $warning-color-1;
$warning-2: $warning-color-2;
$warning-3: $warning-color-3;
$warning-4: $warning-color-4;
$warning-5: $warning-color-5;
$warning-6: $warning-color-6;
$warning-7: $warning-color-7;
$warning-8: $warning-color-8;
$warning-9: $warning-color-9;
$warning-10: $warning-color-10;

$error-1: $error-color-1;
$error-2: $error-color-2;
$error-3: $error-color-3;
$error-4: $error-color-4;
$error-5: $error-color-5;
$error-6: $error-color-6;
$error-7: $error-color-7;
$error-8: $error-color-8;
$error-9: $error-color-9;
$error-10: $error-color-10;

// 文字 & 图标 颜色
$rc-font-gray-1: $font-gray-1;
$rc-font-gray-2: $font-gray-2;
$rc-font-gray-3: $font-gray-3;
$rc-font-gray-4: $font-gray-4;

$rc-font-white-1: $font-white-1;
$rc-font-white-2: $font-white-2;
$rc-font-white-3: $font-white-3;
$rc-font-white-4: $font-white-4;