@use "sass:map";
@use "var" as *;

:root {
  // 主色
  --b3-theme-primary: rgb(var(--brand-base));
  --b3-theme-primary-light: rgba(var(--brand-6), 0.5);
  --b3-theme-primary-lighter: rgba(var(--brand-6), 0.3);
  --b3-theme-primary-lightest: rgba(var(--brand-6), 0.2);
  --b3-theme-secondary: rgb(var(--warning-base));
  --b3-theme-background: rgb(var(--page-1));
  --b3-theme-background-light: rgb(var(--page-2));
  --b3-theme-surface: rgb(var(--base-1));
  --b3-theme-surface-light: rgb(var(--base-1));
  --b3-theme-error: rgb(var(--error-base));

  // 文字颜色
  --b3-theme-on-primary: var(--text-anti);
  --b3-theme-on-secondary: var(--text-anti);
  --b3-theme-on-background: var(--text-primary);
  --b3-theme-on-surface: var(--text-secondary);
  --b3-theme-on-surface-light: var(--text-placeholder);
  --b3-theme-on-error: var(--text-anti);

  // 线条
  --b3-border-color: rgb(var(--border-3));

  /* 动画效果 */
  --b3-transition: #{map.get($transition, "all")};

  // 阴影
  --b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  --b3-dialog-shadow: #{map.get($shadow, 3)};

  /* 编辑器搜索颜色 */
  //   --b3-protyle-search-border-color: #f2e680;
  //   --b3-protyle-search-current-background: #a5d3fe;

  /* 所见即所得行内元素颜色 */
  --b3-protyle-inline-strong-color: var(--text-primary);
  --b3-protyle-inline-em-color: var(--text-primary);
  --b3-protyle-inline-s-color: var(--text-primary);
}
