@use "sass:map";
@use "sass:math";
@use "var" as *;
@use "utils" as *;

@mixin focus_before($top, $left: 0) {
  position: relative;

  &::before {
    @include reset-style();
    @include reset-position();
    content: "";
    display: block;
    position: absolute;
    top: $top;
    bottom: $top;
    left: $left;
    width: 3px;
    height: calc(100% - $top * 2);
    background-color: map.get($color, "brand", "base");
    border-radius: map.get($radius, "max");
  }
}

@mixin history-btn {
  width: 36px;
  height: 30px;
  padding: 5px 8px;
  border-radius: map.get($radius, "base");

  svg {
    &:first-child {
      width: 12px;
      height: 12px;
    }

    &:last-child {
      width: 8px;
    }
  }
}

@mixin search-item {
  $text-h: 20px;
  $padding: $interval;
  padding-bottom: $text-h + $padding;
  height: $text-h * 2 + $padding * 3;

  .b3-list-item__meta {
    top: $text-h + $padding * 2;
    right: 8px;
    max-width: 100%;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@mixin add_icon($icon_name, $color, $size, $position) {
  background-color: $color;
  $icon_url: "#{$asset-path}/icons/#{$icon_name}_black_#{$size}dp.svg";
  -webkit-mask: url($icon_url) #{$position};
  mask: url($icon_url) #{$position};
}

@mixin list-btn {
  @include btn-on-component();
  border-radius: map.get($radius, "exsmall");
  &::after {
    display: none !important;
  }
}

@mixin list-item {
  @include item-component();
  font-size: map.get($font-size, "small");
  border-radius: map.get($radius, "small");
}

@mixin list-focus {
  color: map.get($text, "brand");
  background-color: map.get($bg, "brand");
  &:hover {
    color: map.get($text, "brand");
    background-color: map.get($bg, "brand") !important;
  }
}

@mixin counter($h: 20px) {
  @include center();
  @include v-center($h);
  @include list-btn();
  width: auto;
  margin: 0;
  background-color: map.get($bg, "component");
  padding: 0 math.div($h - 8px, 2);
}

@mixin emoji_icon($width, $fz, $icon-width) {
  padding: 0;
  width: $width;
  height: $width;
  // 原生emoji
  font-size: $fz;
  line-height: $width;

  // 自定义emoji
  img,
  // twitter-emoji
  svg.custom-icon {
    @include svg($width, $icon-width);
  }
}
