@use "sass:math";
@use "sass:list";
@use "var" as *;
@use "function" as *;

@mixin reset-style {
  opacity: 1;
  transform: unset;
  margin: 0;
  padding: 0;
  border: unset;
  border-radius: unset;
  box-shadow: unset;
  background-color: transparent;
  outline: unset;
  position: unset;
}

@mixin reset-position {
  top: unset;
  bottom: unset;
  right: unset;
  left: unset;
}

@mixin v-center($h) {
  height: $h;
  line-height: $h;
  vertical-align: middle;
}

@mixin center {
  text-align: center;
  justify-content: center;
  align-items: center;
}

@mixin text-overflow-hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin svg($w, $args...) {
  width: $w is-important(list.length($args) != 0);
  height: $w is-important(list.length($args) != 0);
  margin: 0;
  display: block;

  @if list.length($args) == 0 {
    padding: 0;
  }

  @if list.length($args) == 1 {
    @if list.nth($args, 1) != true {
      $svg-w: list.nth($args, 1);
      padding: math.div($w - $svg-w, 2);
    } @else {
      padding: 0 !important;
    }
  }
  @if list.length($args) == 2 {
    $svg-w: list.nth($args, 1);
    padding: math.div($w - $svg-w, 2) is-important(list.nth($args, -1));
  }
}

@mixin svg-div($w, $svg-w, $args...) {
  width: $w;
  margin: 0;

  svg {
    @include svg($svg-w);
  }

  @if list.length($args) == 0 {
    height: $w;
    padding: math.div($w - $svg-w, 2);
  }

  @if list.length($args) == 1 {
    @if list.nth($args, 1) != true {
      $h: list.nth($args, 1);
      height: $h;
      padding: math.div($h - $svg-w, 2) math.div($w - $svg-w, 2);
    } @else {
      height: $w;
      padding: math.div($w - $svg-w, 2) !important;
      svg {
        @include svg($svg-w, true);
      }
    }
  }

  @if list.length($args) == 2 {
    $h: list.nth($args, 1);
    height: $h;
    padding: math.div($h - $svg-w, 2) math.div($w - $svg-w, 2) !important;
    svg {
      @include svg($svg-w, true);
    }
  }
}

@mixin color($type, $important: false) {
  color: get($text, $type) is-important($important);
}

@mixin color-change($type, $important: false) {
  &:hover,
  &:active {
    color: get($text, $type) is-important($important);
  }
}

@mixin item($type, $start: 1, $important: false) {
  background-color: get($bg, $type, $start) is-important($important);
  transition: get($transition, "all");
  &:hover {
    background-color: get($bg, $type, $start + 1) is-important($important);
  }
  &:active {
    background-color: get($bg, $type, $start + 2) is-important($important);
  }
}

@mixin item-unchange($type, $start: 1, $important: fault) {
  transition: get($transition, "all");
  &,
  &:hover,
  &:focus,
  &:active {
    background-color: get($bg, $type, $start) is-important($important);
  }
}

@mixin item-tran($type) {
  @include item($type);
  background-color: transparent;
}

@mixin item-focus($important: false) {
  @include item("focus", 1, $important);
  @include color("focus", $important);
  &:focus {
    background-color: get($bg, "focus", 1) is-important($important);
  }
}

@mixin item-primary($important: false) {
  @include item("primary", 1, $important);
  @include color("anti", $important);
}

@mixin item-disabled($important: false) {
  cursor: not-allowed;
  color: get($text, "disabled");
  &:hover,
  &:active {
    background-color: transparent is-important($important);
  }
  &::after {
    display: none;
  }
}

@mixin item-close($important: false) {
  transition: get($transition, "all");
  &:hover {
    color: get($text, "anti") is-important($important);
    background-color: get($color, "error", "base") is-important($important);
  }
  svg {
    @include svg(get($icon, "exsmall"));
  }
}

@mixin component-base($type: "base") {
  font-size: get($font-size, $type);
  border-radius: get($radius, $type);
  height: get($component-size, $type);
}

@mixin component($type: "base", $border: 0) {
  @include component-base($type);
  transition: get($transition, "all");

  padding: get($component-padding, $type);
  line-height: get($component-size, $type) -
    list.nth(get($component-padding, $type), 1) * 2 - $border * 2;
}
