//块引用窗口
.block__popover {
  box-shadow: #{$rc-dialog-shadow};
  opacity: 0;
  margin-top: 25px;
  border-radius: $rc-border-radius-large;
  &--open {
    opacity: 1;
    margin-top: 0px;
    transition: opacity, margin-top 0.3s ease-out;
  }
  // max-height: 671.5px + 36px - 28px !important;
  // &.block__popover--top {
  //   max-height: 214.8px + 36px - 28px;
  // }
  .block__icons--border {
    min-height: 36px;
    z-index: 9;
    border-radius: $rc-border-radius-large $rc-border-radius-large 0 0;
    // border-bottom: 1px solid $rc-border-color;
    // box-shadow: #{$rc-topbar-shadow};
    // background-color: $rc-theme-background;
    .block__icon {
      @include block__icon__model(28px, 14px);
      // transform: translateY(37px) translateX(2px);
      margin: 0 6px 0 0;
      z-index: 99;
      &[data-type="pin"] {
        svg {
          transform: rotate(45deg);
          transition: $pin-transition;
          &.ft__primary {
            transform: rotate(0deg);
            transition: $pin-transition;
          }
        }
        &[aria-label="取消钉住"] {
          background-color: $rc-theme-surface-button-focus;
          &:active {
            background-color: $rc-theme-primary-3 !important;
          }
        }
      }
      &[data-type="close"] {
        @include block__icon__model(28px, 10px);
      }
    }
  }
  .block__content {
    border-radius: 0 0 $rc-border-radius-large $rc-border-radius-large;
    min-height: 74px+45px;
    &::-webkit-scrollbar {
      background-color: transparent !important;
    }
    .block__edit {
      min-height: 74px+45px;
      // .protyle-breadcrumb {
      //   padding-right: 74px;
      // }
      .protyle-content {
        min-height: 74px;
      }
    }
  }
}
