//块引用窗口
.block__popover {
  box-shadow: #{$rc-dialog-shadow};
  .block__icons--border {
    .block__icon {
      @include block__icon__model(28px, 14px);
      transform: translateY(37px) translateX(2px);
      margin: 0 6px 0 0;
      z-index: 99;
      &[data-type="pin"] {
        svg {
          transform: rotate(45deg);
          transition: $pin-transition;
          &.ft__primary {
            transform: rotate(0deg);
            transition: $pin-transition;
          }
        }
        &[aria-label="取消钉住"] {
          &:hover {
            background-color: $rc-theme-surface-button-focus;
          }
        }
      }
      &[data-type="close"] {
        @include block__icon__model(28px, 12px);
      }
    }
  }
  .protyle-breadcrumb {
    padding-right: 74px;
  }
}
