//面包屑
.protyle-breadcrumb {
  padding: 6px 8px;
  // height: 45px;
  .protyle-breadcrumb__bar {
    padding: 2px 0;
  }
  .fullscreen > & {
    .fn__space {
      -webkit-app-region: drag;
    }
    .block__icon {
      transform: translateY(-4px);
    }
    height: 40px;
    padding-right: 126px !important;
  }
  .fn__space {
    width: 0;
  }
  .protyle-breadcrumb__item {
    border-radius: 4px;
    padding: 0 6px;
    margin: 0 6px;
    height: 24px;
    line-height: 1;
    &:first-child {
      margin-left: 0;
    }
    &:hover {
      background-color: $rc-theme-list-hover;
    }
    svg {
      width: 12px;
      height: 12px;
      margin: 6px 0;
      &.ft__primary {
        color: $rc-theme-on-background;
      }
    }
    .protyle-breadcrumb__text:not(:empty) {
      margin-left: 4px;
    }
  }
  .block__icon {
    @include block__icon__model(28px, 14px);
    margin-right: 6px;
    // margin: 8.5px 6px 0 0;
  }
}
