

//弹窗

//蒙版
.b3-dialog__scrim {
  background-color: rgba($rc-theme-on-background, 0.05);
}
//大弹窗
.b3-dialog__container {
  box-shadow: #{$rc-dialog-shadow};
  $radius: 10px;
  border-radius: $radius;
  .b3-dialog__close {
    display: none;
  }
  .b3-text-filed.b3-text-filed--text {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
  }
  #searchPreview {
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
  }
  //小弹窗
  &[style="width:50vw"] {
    width: 420px !important; //320px !important;
    background-color: $rc-theme-background;
    padding: 0 16px;
    //弹窗标题
    .b3-dialog__header {
      font-size: 16px;
      font-weight: 500;
      color: $rc-theme-on-background;
      padding: 19px 0 18px 0;
      border-bottom: 1px solid rgb(234, 234, 234);
    }
    //弹窗关闭按钮
    .b3-dialog__close {
      display: block;
      color: rgba($rc-theme-on-background, 0.4);
      background-color: rgb(242, 242, 242);
      border: 1px solid transparent;
      align-items: center;
      width: 24px;
      height: 24px;
      padding: 5px;
      box-sizing: border-box;
      border-radius: 50%;
      cursor: pointer;
      user-select: none;
      transform: translateX(-50px) translateY(9px);
      &:hover {
        color: rgba($rc-theme-on-background, 0.4);
        background-color: rgb(234, 234, 234);
      }
    }
    //弹窗输入框
    .b3-dialog__content,
    .b3-form__space {
      padding: 16px 0;
      font-size: 15px;
      margin: 0;
      min-height: 40px;
      line-height: 40px;
      .block__icon {
        @include block__icon__model(28px, 10px);
      }
      .ft__on-surface {
        font-size: 15px;
        width: 80px !important;
        text-align: center !important;
      }

      .b3-text-filed[placeholder="属性名"] {
        text-align: center !important;
        width: 76px !important;
      }
      .fn__space {
        width: 15px;
      }
      .b3-button {
        width: 76px !important;
        svg {
          width: 10px;
          height: 10px;
        }
      }
    }
    //弹窗中的搜索按钮
    .b3-form__icon-icon {
      top: (72px - 16px)/2;
    }

    .b3-text-filed {
      background-color: $rc-theme-surface-control;
      border: 1px solid $rc-border-color;
      height: 40px;
      padding: 0px 10px;
      border-radius: 6px;
      font-size: 15px;
      font-weight: 400;
      //多行文本框
      &[rows="1"] {
        line-height: 38px;
      }
      &:focus {
        box-shadow: none;
      }
    }
    //弹窗按钮
    .b3-dialog__action {
      padding: 0;
      margin-bottom: 16px;
      .fn__space {
        width: 2%;
      }
      .b3-button {
        // font-weight: 600;
        height: 40px;
        letter-spacing: 0.3px;
        border: 1px solid transparent;
        width: 49%;
        &.b3-button--text {
          background-color: $rc-theme-primary;
          color: #fff;
          &:hover {
            background-color: rgba($rc-theme-primary, 0.9);
          }
        }
        &.b3-button--cancel {
          color: $rc-theme-primary;
          border: 1px solid $rc-theme-primary;
          &:hover {
            background-color: $rc-button-cancel-hover;
          }
        }
      }
    }
  }
}
