//弹窗
//蒙版
.b3-dialog__scrim {
  background-color: $rc-dialog-scrim; //rgba($rc-theme-on-background, 0.05);
}
//大弹窗
.b3-dialog__container {
  box-shadow: #{$rc-dialog-shadow};
  border-radius: $rc-dialog-radius;

  div[style="height:auto"] > div {
    border-radius: 0 0 10px 10px;
  }
  .b3-dialog__close {
    display: none;
  }
  .b3-text-filed.b3-text-filed--text {
    border-top-left-radius: $rc-dialog-radius;
    border-top-right-radius: $rc-dialog-radius;
  }
  #searchPreview {
    border-bottom-left-radius: $rc-dialog-radius;
    border-bottom-right-radius: $rc-dialog-radius;
  }
  //集市tab
  .fn__flex.b3-list--background {
    padding-top: 8px;
    .b3-list-item {
      margin-right: 8px;
    }
  }

  //集市卡片
  .b3-card {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 8px;
    box-shadow: #{$rc-card-shadow};
    border: 1px solid rgb(238, 238, 238);
    transition: all 300ms cubic-bezier(0.2, 0.91, 0.85, 0.96) 0s;
    &:hover {
      box-shadow: #{$rc-card-hover-shadow};
    }
    .b3-card__img {
      // margin: 12px 16px 8px 16px;
      margin: 16px 16px 0 16px;
      width: calc(100% - 16px * 2);
      border-radius: 4px;
      // transform: translateY(45.4px);
      img {
        object-fit: cover !important;
        border-radius: 4px;
      }
    }
    // .b3-card__info{
    //   margin: 16px 16px 0 16px;
    //   padding: 0 0 10px 0;
    //   border-bottom: 1px solid rgb(247, 247, 247);
    //   font-size: 16px;
    //   transform: translateY(-128px);
    // }
  }
  &[style*="80vw"] {
    $setting-height: "min(70vh, 64px * 11 + 8px)";
    .b3-tab-bar.b3-list.b3-list--background,
    .b3-tab-container {
      height: #{$setting-height} !important;
    }
  }
  //小弹窗
  &[style*="50vw"],
  &[style*="520px"] {
    width: 470px !important;
    background-color: $rc-theme-background;
    padding: 0 16px;
    //弹窗标题
    .b3-dialog__header {
      font-size: 16px;
      font-weight: 500;
      color: $rc-theme-on-background;
      padding: 19px 0 18px 0;
      border-bottom: 1px solid $rc-dialog-border;
    }
    //弹窗关闭按钮
    .b3-dialog__close {
      display: block;
      color: rgba($rc-theme-on-background, 0.4);
      background-color: $rc-dialog-close-background;
      border: 1px solid transparent;
      align-items: center;
      width: 24px;
      height: 24px;
      padding: 5px;
      box-sizing: border-box;
      border-radius: 50%;
      cursor: pointer;
      user-select: none;
      transform: translateX(-50px) translateY(9px);
      &:hover {
        color: rgba($rc-theme-on-background, 0.4);
        background-color: $rc-dialog-close-hover;
      }
    }
    //弹窗输入框
    .b3-dialog__content,
    .b3-form__space {
      padding: 16px 0;
      font-size: 15px;
      margin: 0;
      min-height: 40px;
      line-height: 40px;
      .block__icon {
        @include block__icon__model(28px, 10px);
      }
      .ft__on-surface,
      .b3-text-filed[placeholder="属性名"] {
        font-size: 15px;
        width: 80px !important;
        text-align: center !important;
      }
      .fn__space {
        width: 15px;
      }
      div[style*="var(--b3-border-color)"] {
        background-color: $rc-dialog-border !important;
      }
      .custom-attr__add {
        padding: 0;
        height: 152px;
      }
      .b3-button {
        width: 80px !important;
        svg {
          width: 10px;
          height: 10px;
        }
      }
    }
    //弹窗中的搜索按钮
    .b3-form__icon-icon {
      top: (73.85px - 16px)/2;
    }

    .b3-text-filed {
      background-color: $rc-theme-surface-control;
      border: 1px solid $rc-border-color;
      height: 40px;
      padding: 0px 10px;
      border-radius: 6px;
      font-size: 15px;
      font-weight: 400;
      //多行文本框
      &[rows="1"] {
        line-height: 38px;
      }
      &:focus {
        box-shadow: none;
      }
    }
    //弹窗按钮
    .b3-dialog__action {
      padding: 0;
      margin-bottom: 16px;
      .fn__space {
        width: 2%;
      }
      .b3-button {
        // font-weight: 600;
        height: 40px;
        letter-spacing: 0.3px;
        border: 1px solid transparent;
        width: 49%;
        &.b3-button--text {
          background-color: $rc-theme-primary;
          color: #fff;
          &:hover {
            background-color: rgba($rc-theme-primary, 0.9);
          }
        }
        &.b3-button--cancel {
          color: $rc-theme-primary;
          border: 1px solid $rc-theme-primary;
          &:hover {
            background-color: $rc-button-cancel-hover;
          }
        }
      }
    }
  }
  &[style*="520px"] {
    width: 320px !important;
  }
}
