.dock--vertical {
  width: 46px;
  margin-left: $interval;
  margin-right: $interval;
  z-index: 43;
  div:first-child:not(:empty) {
    @extend %dock--vertical_model;
    margin-top: $interval;
  }
  div:last-child:not(:empty) {
    @extend %dock--vertical_model;
    margin-bottom: $interval;
  }
  .dock__item[data-index="0"]::after {
    margin: 0 10px;
    top: -28px;
  }
  .dock__item[data-index="1"]::after {
    bottom: 70%;
  }
}
