//输入框
.b3-text-field {
  border: 1px solid transparent !important;
  border-radius: $rc-border-radius-small;
  box-shadow: none;
  &:not(.b3-text-field--small):not(.b3-text-field--text) {
    //:not(.b3-form__icon-input)
    background-color: $rc-theme-surface-control;
  }
  .b3-list-item > & {
    background-color: $rc-theme-surface-background !important;
  }
  &:hover,
  &:focus {
    box-shadow: none;
    border: 1px solid $rc-theme-border-2 !important;
  }

  &.b3-text-field--small {
    height: 24px;
    &:hover,
    &:focus {
      border: 1px solid transparent !important;
      box-shadow: #{fluent-shadow(4)};
    }
  }
  // &:focus {
  //   box-shadow: 0 0 0 2px $rc-theme-gray-1;
  // }

  //   &:not(.b3-form__icon-input):focus {
  //     box-shadow: none;
  //     border: 1px solid $rc-theme-primary-5 !important;
  //   }
  //   &.b3-form__icon-input:focus {
  //     box-shadow: none;
  //     border: 1px solid $rc-border-color !important;
  //   }
}
