//菜单
%menu__model {
  border-radius: $rc-border-radius-medium;
  padding: 7px 6px 6px;
  min-width: 200px;
  // opacity: 1;
  // transition: opacity 150ms ease;
  // &.fn__none{
  //   display: block !important;
  //   opacity: 0;
  // }
  .b3-menu__item {
    .b3-menu__icon {
      transition: all 0.3s ease 0s;
      color: $rc-theme-text-2;
    }
    &:hover {
      .b3-menu__icon {
        color: $rc-theme-text-0;
      }
    }
  }
}

//菜单
.b3-menu {
  @extend %menu__model;
  .b3-list-item,
  &__item:not(.b3-menu__item--readonly):not(.b3-menu__item--custom) {
    color: $rc-theme-text-0;
    height: 31.2px;
    min-width: 0px;
    padding: 8px;
    font-weight: normal !important;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: $rc-border-radius-small !important;
    transition: all 0.3s ease 0s;
    .b3-menu__icon {
      width: 12px;
      height: 12px;
      &--arrow {
        width: 10px;
        height: 10px;
      }
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__item--custom {
    padding: 0 8px;
    .b3-menu__icon,
    .fn__hr {
      display: none;
    }
    // &:first-child .b3-menu__label {
    //   padding: 6px 0;
    // }
    // &:not(:first-child) .b3-menu__label {
    //   padding: 0 0 6px 0;
    // }
  }
  & &__submenu {
    $sub-menu-vertical: 10px;
    @extend %menu__model;
    margin-left: $sub-menu-vertical;
    margin-right: $sub-menu-vertical;
    top: -9px;
    .b3-menu__item {
      .b3-menu__icon {
        transition: all 0.3s ease 0s;
        color: $rc-theme-text-2;
      }
      &:hover {
        .b3-menu__icon {
          color: $rc-theme-text-0;
        }
      }
    }
  }
  &__separator {
    margin-left: -6px;
    margin-right: -6px;
    width: calc(100% + 12px);
    padding-top: 4px;
    margin-bottom: 4px;
    border-bottom: 1px solid $rc-menu-separator;
    padding: 0;
    height: 0;
  }
  &__item--readonly {
    font-size: 12px;
    line-height: 16px;
    color: rgba($rc-theme-on-background, 0.4);
    margin-bottom: 4px;
  }
  &__item--custom.b3-menu__item--current {
    background-color: $rc-menu-background;
  }
  .b3-list--background {
    padding: 0px 2px 2px;
    margin: 0;
    .b3-list-item {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  > .fn__flex-column > input {
    margin: 1px 2px 8px !important;
  }
  // button .fn__hr--small{
  //   display: none;
  // }
}
