//滑条
.b3-slider {
    height: 44px;
    &::-webkit-slider-thumb {
      width: 20px;
      height: 20px;
      box-shadow: fluent-shadow(2);
      border: 5px solid $rc-theme-surface-background;
      border-radius: $rc-border-radius-circle;
      background-color: $rc-theme-primary;
      margin-top: -8px;
      transform: unset !important;
      transition: border 0.1s ease-out;
  
      &:hover {
        box-shadow: fluent-shadow(2);
        transform: unset;
        border-width: 3px;
        background-color: $rc-theme-primary-5;
      }
      &:active {
        box-shadow: fluent-shadow(2);
        transform: unset;
        border-width: 6px;
        background-color: $rc-theme-primary-5;
      }
    }
    &::-webkit-slider-runnable-track {
      height: 4px;
      background-color: $rc-theme-primary;
      border-radius: 2px;
    }
  }