//通知弹窗
.b3-snackbar {
    .b3-snackbar__content {
      display: inline-flex;
      border-radius: $rc-border-radius-small !important;
      box-shadow: #{$rc-snackbar-shadow} !important;
      color: $rc-theme-on-surface;//$rc-theme-primary;
      // border: 1px solid $rc-theme-primary;
      background-color: $rc-theme-surface-background;//$rc-theme-primary-2;
      padding: 10px 16px;
      font-size: 14px;
      // padding-left: 15px;
  
      &::before {
        content: "";
        margin-top: 2px;
        display: inline-flex;
        width: 16px;
        height: 16px;
        margin-right: 8px;
        @include add_icon("info", $rc-theme-primary, 18, "round");
      }
      a {
        color: $rc-theme-primary;
      }
      .b3-snackbar__close {
        width: 12px;
        height: 12px;
        right: 15px;
        top: 15px;
      }
    }
    &--error {
      .b3-snackbar__content {
        // color: $rc-danger-color;
        // border-color: $rc-danger-border;
        // background-color: $rc-danger-background;
        &::before {
          @include add_icon("warning", $rc-danger-color, 18, "round");
        }
      }
    }
  }