//开关
.b3-switch {
  background-color: $rc-theme-surface-control;
  width: 44px;
  height: 22px;
  border-radius: 100px;
  border: none;
  transition: all 0.2s ease-in-out;
  &::before {
    display: none !important;
  }
  &::after {
    background-color: $rc-theme-surface-background !important;
    border: none;
    width: 18px;
    height: 18px;
    left: 2px;
    top: 2px;
    bottom: unset;
    box-shadow: 0 2px 4px #00230b33;
    border-radius: 9px;
  }
  &:active {
    &::after {
      width: 23.4px;
    }
  }
  &:checked {
    background-color: $rc-theme-primary;
    &::after {
      right: 20px;
      left: unset;
      top: 2px;
      bottom: unset;
      transform: translateX(18px);
      transition: all 0.2s ease-in-out;
    }
  }
}
