$topbar-height: 30px;
//顶部工具栏
%toolbar_before {
  z-index: 1;
  width: 26px;
  height: auto;
  display: flex;
  top: unset;
  bottom: unset;
  right: unset;
  left: 8px;
  margin: 0 auto;
  opacity: 1;
  transform: none;
  font-size: 13px;
  color: $rc-topbar-color;
}

//顶部工具栏
.toolbar {
  height: $topbar-height;
  // z-index: 3;
  // background-color: $rc-theme-surface-background;
  // box-shadow: #{$rc-topbar-shadow};
  // margin-bottom: 21px;
  #toolbarVIP {
    &:empty {
      -webkit-app-region: drag;
      padding: 5px #{$interval};
      width: 36px;
      height: $topbar-height - 10px;
      &::before {
        content: "";
        display: block;
        width: 36px;
        background-image: url("#{$asset-path}/icons/siyuan.svg");
        background-repeat: round;
        z-index: 0;
      }
      svg{
        width: 36px;
      }
    }
    // &:hover {
    //   @each $id in DailyNote, Search, Dock, ThemeMode, Sync {
    //     ~ .toolbar__item#bar#{$id} {
    //       padding: 0 8px;
    //       width: calc(#{$topbar-height} * 7 / 5);
    //       opacity: 1;
    //       transition: width 0.2s ease-out, padding 0.2s ease-out,
    //         opacity 0.2s ease-out;
    //     }
    //   }
    // }
  }
  .toolbar__item {
    color: $rc-topbar-color;
    height: $topbar-height;
    cursor: unset;
    &:hover {
      background-color: $rc-topbar-hover;
    }
    &:not(#barMore):not(#barBack):not(#barForward):not(#closeWindow):not(.toolbar__item--action) {
      width: calc(#{$topbar-height} * 7 / 5);
      svg:not(.ft__secondary) {
        display: none;
      }
    }
    @each $id in DailyNote, Search, Dock, ThemeMode, Sync {
      &#bar#{$id} {
        // transform: translateX(-50px);
        // padding: 0;
        // width: 0;
        // opacity: 0;
        // transition: width, padding, opacity 0.3s ease-out;
        &::before {
          @extend %toolbar_before;
          content: '#{$id}';
        }
        // &:hover {
        //   padding: 0 8px;
        //   width: calc(#{$topbar-height} * 7 / 5);
        //   opacity: 1;
        //   ~ .toolbar__item:not(#barMore):not(#barBack):not(#barForward):not(#closeWindow):not(.toolbar__item--action) {
        //     padding: 0 8px;
        //     width: calc(#{$topbar-height} * 7 / 5);
        //     opacity: 1;
        //   }
        // }
      }
    }
    &#barDailyNote::before {
      content: "日记";
    }
    &#barSearch::before {
      content: "搜索";
    }
    &#barDock::before {
      content: "边栏";
    }
    &#barThemeMode::before {
      content: "暗黑";
    }
    &#barSync::before {
      content: "同步";
    }
    &#barMore {
      width: 36px;
      padding: 0 11px;
    }
    &#barBack,
    &#barForward {
      svg {
        width: 12px;
        height: 12px;
      }
    }
    &.toolbar__item--action {
      width: 42px;
      padding: 0 14px;
    }
    &#restoreWindow,
    &#maxWindow {
      // padding-top: 4px;
      z-index: -1;
    }
    &#maxWindow {
      padding: 0 16px;
      svg{
        width: 10px;
      }
    }
    &#closeWindow {
      z-index: -1;
      width: 42px;
      padding: 0 16px;
      &:hover {
        color: #fff;
        background-color: $rc-close-window;
      }
    }
    // &.b3-tooltips__se::after {
    //   // left: 35%;
    // }
    // &.b3-tooltips__sw::after {
    //   // right: 35%;
    // }
    &::after {
      display: none;
    }
  }
  .fn__ellipsis {
    line-height: $topbar-height;
    // color: $color-text-3;
  }
}
