@keyframes wnd-close-left {
  from {
    opacity: 1;
    transform: translateX(0);
    max-height: 100%;
  }
  50% {
    opacity: 0;
    transform: translateX(-50%);
    max-height: 100%;
  }
  to {
    opacity: 0;
    transform: translateX(-50%);
    max-height: 0;
  }
}

@keyframes wnd-close-right {
  from {
    opacity: 1;
    transform: translateX(0);
    max-height: 100%;
  }
  50% {
    opacity: 0;
    transform: translateX(50%);
    max-height: 100%;
  }
  to {
    opacity: 0;
    transform: translateX(50%);
    max-height: 0;
  }
}

%wnd {
  min-height: 10% !important;
  margin: #{$interval} !important;
  border-radius: $rc-border-radius-medium;
  border: $rc-surface-boder;
  transition: $wnd-transition;
  background-color: $rc-theme-surface-background;
  box-shadow: #{$rc-theme-surface-shadow};
}

//边窗
#layouts > .fn__flex {
  overflow: hidden;
  //两侧边窗共有属性
  > .fn__flex-column {
    transition: var(--b3-width-transition) !important;
    > .fn__flex {
      overflow-x: hidden;
      > div[data-type="wnd"] {
        @extend %wnd;
        opacity: 1;
        transform: translateX(0);
        .layout-tab-container {
          overflow-y: hidden;
          & > .fn__flex-1 {
            overflow: hidden;
            min-width: 0;
            > .fn__flex-1 {
              min-height: 0 !important;
            }
            .b3-list > .b3-list-item {
              color: $rc-theme-text-0;
              // box-shadow: #{fluent-shadow(4)};
              font-weight: 600;
            }
          }
        }
      }
    }
    > .fn__none:not(.layout__resize) {
      display: flex !important;
      animation: wnd-close-right $rc-width-time * 2 forwards ease-in-out;
      > div[data-type="wnd"] {
        @extend %wnd;
        opacity: 0;
        transform: translateX(50%);
      }
    }
  }
  //左侧边窗特殊处理
  > .fn__flex-shrink:not(.layout__center) {
    > .fn__none:not(.layout__resize) {
      animation: wnd-close-left $rc-width-time * 2 forwards ease-in-out !important;
      > div[data-type="wnd"] {
        transform: translateX(-50%);
      }
    }
  }
  .layout__center {
    // transition: width 0.01ms linear !important;
    div[data-type="wnd"] {
      position: relative;
      @extend %wnd;
      #searchHistoryBtn,
      #globalSearchReload {
        @include block__icon__model(30px, 14px);
      }
    }
    .b3-form__space--small {
      margin: 8px;
    }
  }
}
