$button-bg-hover: $rc-brand-hover;
$button-outline-bg: $rc-brand-light;
$button-outline-bg-hover: $rc-brand-light-hover;
// $button-outline-bg-active: $brand-light-active;

//按钮
.b3-button {
  border: none;
  box-shadow: unset;
  height: 30px;
  font-size: 13px;

  &:hover {
    background-color: $button-bg-hover;
  }

  &:hover,
  &:focus {
    box-shadow: unset;

  }

  &--small,
  &--cancel,
  &--outline {

    background-color: $button-outline-bg;
    color: $rc-brand;

    &:hover {
      background-color: $button-outline-bg-hover ;
    }
  }

  &--text {
    background-color: transparent;

    &:hover {
      background-color: $button-outline-bg;
    }
  }


  &--small {
    padding: 4px 8px;
    height: 24px;
    font-size: 12px;
    border-radius: $rc-bradius-extra-small;
  }

  &--outline {

    svg {
      width: 10px;
      height: 10px;
    }
  }
}