//表单
.b3-form__space--small {
  .block__icon {
    @include block__icon__model(28px, 14px);
  }
}

.b3-form__icon:not(.b3-form__icon--small):not(.search__header) {
  .b3-form__icon-icon {
    width: 10px;
    height: 10px;
    top: 10px;
  }
  .b3-form__icon-input {
    padding-left: 26px !important;
  }
}