$input-border-radius: $rc-bradius-small;
$input-font-size: 13px;
$input-border: 1px solid $rc-border-4;
$input-border-bottom: 1px solid $rc-border-2;
$input-bg: $rc-component-bg;
$input-shadow-focus: 0 -3px 0 -2px inset $rc-brand;
$input-border-bottom-focus: 1px solid $rc-brand;

//输入框
.b3-text-field {
  border-radius: $input-border-radius;
  box-shadow: none;
  border: $input-border !important;
  border-bottom: $input-border-bottom !important;
  background-color: $input-bg;
  font-size: $input-font-size ;
  padding: 4px 10px;
  line-height: 20px;
  height: 30px;

  &:hover,
  &:focus {
    box-shadow: none;
  }

  &:focus {
    box-shadow: $input-shadow-focus;
    border-bottom: $input-border-bottom-focus ;
  }

}