$list-item-border-radius: $rc-bradius-small;
$list-font-size: 13px;
$list-text-height: 20px;
$list-wnd-height: 30px;
$list-item-color: $rc-text-primary;
$list-item-bg-hover: $rc-component-bg;
//折叠按钮宽度
$list-arrow-width: 20px;
$list-button-border-radius: $rc-bradius-extra-small;
$list-button-bg-hover: $rc-component-button;

//子列表缩进左边距
$list-left: 22px;
//子列表缩进最大深度
$list-depth: 7;

//列表项选中字体颜色
$list-item-color-focus: $rc-brand;

//列表项选中
$list-item-bg-focus: $rc-component-bg-select;
//列表项上按钮选中悬浮
$list-button-bg-focus: $rc-component-button-select;

$list-item-meta-color: $rc-text-placeholder;
$list-item-meta-color-focus: $brand-4;

:root {
  // 列表
  --b3-list-hover: #{$list-item-bg-hover};
}

.b3-list-item {
  height: auto;
  border-radius: $list-item-border-radius;
  line-height: $list-text-height;
  font-size: $list-font-size;
  padding: calc(($list-wnd-height - $list-text-height) / 2);
  margin: 4px 0;

  * {
    color: $list-item-color  !important;
  }

  &:hover {
    background-color: $list-item-bg-hover;
  }

  // 折叠按钮
  .b3-list-item__toggle {
    height: $list-text-height;
    padding: 0 !important;

    // 无子元素
    &.fn__hidden {
      width: 0 !important;
      margin: 0 !important;
      padding: 0 !important;
    }

    // 鼠标悬浮
    &.b3-list-item__toggle--hl:hover {
      background-color: transparent;
    }

    // 折叠图标
    .b3-list-item__arrow {
      @include graphic($list-arrow-width, 8px);

      // 无子元素
      &.fn__hidden {
        width: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
      }
    }
  }

  // 列表图标（大纲、标签等）
  .b3-list-item__graphic {
    @include graphic($list-text-height, 10px);
    margin-right: 4px;

    // 图标悬浮后有弹窗
    &.popover__block {
      border-radius: $list-button-border-radius;
      margin-right: 4px;

      &:hover {
        background-color: $list-button-bg-hover;
      }
    }
  }

  //列表emoji
  .b3-list-item__icon {
    @include emoji_icon($list-text-height, 12px, 12px);
    border-radius: $list-button-border-radius;

    &:hover {
      background-color: $list-button-bg-hover;
    }

    // &:active {
    //   background-color: $gray-6 !important;
    // }

    &::after {
      display: none;
    }
  }

  // 列表文本
  .b3-list-item__text {
    line-height: $list-text-height;
  }

  // 列表按钮
  .b3-list-item__action {
    @include graphic($list-text-height, 12px);
    border-radius: $list-button-border-radius;
    margin-left: 4px;

    &:hover {
      background-color: $list-button-bg-hover;
    }

    // &:active {
    //   background-color: $gray-6 !important;
    // }

    &::after {
      display: none;
    }

    +.fn__space {
      display: none;
    }
  }

  // 列表计数块
  .counter:not(:empty) {
    @extend %counter__model;

    &::after {
      display: none;
    }
  }

  // 次级信息
  &__meta {
    color: $list-item-meta-color  !important;
  }

  // 块引用菜单列表
  &--two {
    .b3-list-item__first {
      .b3-list-item__graphic.popover__block {
        margin-left: 0 !important;
      }
    }

  }

  // 列表选中态
  &--focus {
    color: $list-item-color-focus  !important;
    background-color: $list-item-bg-focus  !important;

    .counter:not(:empty) {
      background-color: $list-item-bg-focus  !important;
    }

    * {
      color: $list-item-color-focus  !important;
    }

    .counter,
    .b3-list-item__icon,
    .b3-list-item__action,
    .b3-list-item__graphic.popover__block {
      &:hover {
        background-color: $list-button-bg-focus  !important;
      }

      // &:active {
      //   background-color: $brand-3 !important;
      // }
    }

    // 次级信息
    .b3-list-item__meta {
      color: $list-item-meta-color-focus  !important;
    }
  }

  // 子元素向右缩进 && 左侧辅助线
  &+ul {
    position: relative;

    // 左侧辅助线
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 2px;
      width: 0px;
      height: calc(100% - 2px);
      border-left: 1px solid $rc-border-3;
    }
  }

  // 递进函数
  @mixin recursive-item-margin($cur, $end) {
    +ul {

      &::before {
        left: calc(#{$list-left} * #{$cur} - #{$list-left} / 2);
      }

      &>.b3-list-item {
        margin-left: $list-left * $cur  !important;

        @if $cur < $end {
          @include recursive-item-margin($cur + 1, $end);
        }
      }
    }
  }

  @include recursive-item-margin(1, $list-depth);

  // 文档树笔记本加粗
  &[data-type="navigation-root"] {
    background-color: $rc-component-bg;
    margin-bottom: 8px;
  }
}

.b3-list,
.b3-list--background {
  margin: 0px 8px 8px;

  // 列表为空
  .b3-list--empty {
    color: $rc-text-placeholder;
    font-size: $list-font-size  !important;
  }
}

// 大纲 - 标题
.sy__outline>.b3-list-item {
  margin: 0 8px 8px;
  background-color: $rc-component-bg;

  &:hover {
    background-color: $rc-component-button;
  }

  .b3-list-item__graphic {
    @include emoji_icon($list-text-height, 12px, 12px);
  }

}

// 文档树拖拽样式
.file-tree {
  .dragover {
    background-color: $rc-component-bg-select;

    &__top {
      background-color: $rc-component-bg-select;
      box-shadow: 0 -2px $rc-brand;
    }

    &__bottom {
      background-color: $rc-component-bg-select;
      box-shadow: 0 2px $rc-brand;
    }
  }
}