$list-item-border-radius: $rc-bradius-small;
$list-font-size: 13px;
$list-text-height: 20px;
$list-wnd-height: 30px;
$list-item-color: $rc-text-primary;
$list-item-bg-hover: $rc-component-bg;
//折叠按钮宽度
$list-arrow-width: 16px;
$list-button-border-radius: $rc-bradius-extra-small;
$list-button-bg-hover: $rc-component-button;

//子列表缩进左边距
$list-left: 22px;
//子列表缩进最大深度
$list-depth: 7;

//列表项选中字体颜色
$list-item-color-focus: $rc-brand;

//列表项选中
$list-item-bg-focus: $rc-component-bg-select;
//列表项上按钮选中悬浮
$list-button-bg-focus: $rc-component-button-select;

$list-item-meta-color: $rc-text-placeholder;
$list-item-meta-color-focus: $brand-4;

:root {
  // 列表
  --b3-list-hover: #{$list-item-bg-hover};
}

.b3-list-item {
  height: auto;
  border-radius: $list-item-border-radius;
  line-height: $list-text-height;
  font-size: $list-font-size;
  padding: calc(($list-wnd-height - $list-text-height) / 2) !important;
  margin: 4px 0;

  * {
    color: $list-item-color  !important;
  }

  &:hover {
    background-color: $list-item-bg-hover;
  }

  // 折叠按钮
  &__toggle {
    height: $list-text-height;
    padding: 0 !important;
    margin-right: 1px;

    // 无子元素
    &.fn__hidden {
      width: 0 !important;
      margin: 0 !important;
      padding: 0 !important;
    }

    // 鼠标悬浮
    &.b3-list-item__toggle--hl:hover {
      background-color: transparent;
    }

    // 折叠图标
    .b3-list-item__arrow {
      @include graphic($list-arrow-width, 8px);

      // 无子元素
      &.fn__hidden {
        width: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
      }
    }
  }

  // 列表图标（大纲、标签等）
  &__graphic {
    @include graphic($list-text-height, 10px);
    margin-right: 4px;

    // 图标悬浮后有弹窗
    &.popover__block {
      border-radius: $list-button-border-radius;
      margin-right: 4px;

      &:hover {
        background-color: $list-button-bg-hover;
      }

      // 反链展开时的特殊情况
      .backlink--more &{
        margin-top: 1px
      }
    }
  }

  //列表emoji
  &__icon {
    @include emoji_icon($list-text-height, 12px, 12px);
    border-radius: $list-button-border-radius;

    &:hover {
      background-color: $list-button-bg-hover;
    }

    // &:active {
    //   background-color: $gray-6 !important;
    // }

    &::after {
      display: none;
    }
  }

  // 列表文本
  &__text {
    line-height: $list-text-height;
  }

  // 列表按钮
  &__action {
    @include graphic($list-text-height, 12px);
    border-radius: $list-button-border-radius;
    margin-left: 4px;

    &:hover {
      background-color: $list-button-bg-hover;
    }

    // &:active {
    //   background-color: $gray-6 !important;
    // }

    &::after {
      display: none;
    }

    +.fn__space {
      display: none;
    }
  }

  // 列表计数块
  .counter:not(:empty) {
    @extend %counter__model;

    &::after {
      display: none;
    }
  }

  // 次级信息
  &__meta {
    color: $list-item-meta-color  !important;
  }

  // 块引用菜单列表
  &--two {
    .b3-list-item__first {
      .b3-list-item__graphic.popover__block {
        margin-left: 0 !important;
      }
    }

  }

  // 列表选中态
  &--focus {
    color: $list-item-color-focus  !important;
    background-color: $list-item-bg-focus  !important;

    .counter:not(:empty) {
      background-color: $list-item-bg-focus  !important;
    }

    * {
      color: $list-item-color-focus  !important;
    }

    .counter,
    .b3-list-item__icon,
    .b3-list-item__action,
    .b3-list-item__graphic.popover__block {
      &:hover {
        background-color: $list-button-bg-focus  !important;
      }

      // &:active {
      //   background-color: $brand-3 !important;
      // }
    }

    // 次级信息
    .b3-list-item__meta {
      color: $list-item-meta-color-focus  !important;
    }
  }

  // 子元素向右缩进 && 左侧辅助线
  // 循环阴影辅助线
  @function cyclic($cur) {

    $side-margin: calc(6px + $list-arrow-width / 2);
    $temp: "#{$side-margin - 1px} 0 #{$rc-container-bg} inset, #{$side-margin} 0 #{$rc-border-3} inset";

    @if $cur >1 {
      @for $i from 1 to $cur {
        $side-margin: calc($list-left * $i + 6px + $list-arrow-width / 2);
        $temp : $temp +", "+"#{$side-margin - 1px} 0 #{$rc-container-bg} inset, #{$side-margin} 0 #{$rc-border-3} inset";
      }
    }

    @return $temp;

  }

  // 递归函数
  @mixin recursive-item-margin($cur, $end) {
    +ul {
      box-shadow: #{cyclic($cur)};

      &>.b3-list-item {
        margin-left: $list-left * $cur  !important;

        @if $cur < $end {
          @include recursive-item-margin($cur + 1, $end);
        }
      }
    }
  }

  @include recursive-item-margin(1, $list-depth);

}

.b3-list,
.b3-list--background {
  margin: 0px 8px 8px;

  // 列表为空
  .b3-list--empty {
    color: $rc-text-placeholder;
    font-size: $list-font-size  !important;
  }
}

%first_list_item {
  position: relative;
  background-color: $rc-component-bg;

  &::before {
    @include focus_before(8px, 0px);
  }
}

// 文档树笔记本
[data-type="navigation-root"] {
  margin-bottom: 8px;
  @extend %first_list_item;
}

// 大纲
.sy__outline {

  // 标题
  >.b3-list-item {
    margin: 0 8px 8px;
    padding-left: 8px !important;
    @extend %first_list_item;

    &:hover {
      background-color: $rc-component-button;
    }

    .b3-list-item__graphic {
      @include emoji_icon($list-text-height, 12px, 12px);
    }

    &:empty {
      margin: 0;
      padding: 0;
    }
  }

  // 大纲列表
  >.fn__flex-1>.b3-list {
    margin: 0 11px 8px;
  }
}

// 文档树拖拽样式
.file-tree {
  .dragover {
    background-color: $rc-component-bg-select;

    // 当前文档的上方
    &__top {
      background-color: $rc-component-bg-select;
      box-shadow: 0 -2px $rc-brand;
    }

    // 当前文档的下方
    &__bottom {
      background-color: $rc-component-bg-select;
      box-shadow: 0 2px $rc-brand;
    }
  }
}

// 书签界面
.sy__bookmark {

  // 书签项
  >.fn__flex-1>.b3-list>.b3-list-item {
    @extend %first_list_item;

    // 书签图标
    .b3-list-item__graphic {
      display: none;
    }
  }
}