//菜单底色
$menu-shadow: fluent-shadow(64);
$menu-bg: $rc-container-bg;
$menu-font-size: 13px;
$menu-border-radius: $rc-bradius-medium;

$menu-icon-color: $rc-text-secondary;
$menu-icon-color-hover: $rc-text-primary;

$menu-transition: transform 0.2s ease-out;

$menu-item-color: $rc-text-primary;
$menu-item-height: 30px;
$menu-item-border-radius: $rc-bradius-small;

//菜单分割线
$menu-separator: 1px solid $rc-border-3;

$menu-readonly-color: $rc-text-placeholder;
$menu-accelerator-color: $rc-text-secondary;
$sub-menu-vertical: 10px;

:root {
  // 菜单
  --b3-menu-background: #{$menu-bg};
  // 阴影
  --b3-dialog-shadow: #{$menu-shadow};
}

//菜单
%menu__model {
  border-radius: $menu-border-radius;
  padding: 6px 6px 6px;
  min-width: 200px;
  font-size: $menu-font-size;

  transform: scale(1);
  transition: $menu-transition;

  &.fn__none {
    display: block !important;
    opacity: 0;
    transform: scale(0.97);
    padding: 0;
    z-index: -99 !important;
  }

  >.b3-menu__item {
    >.b3-menu__icon {
      transition: all 0.3s ease 0s;
      color: $menu-icon-color;
    }

    &:hover {
      >.b3-menu__icon {
        color: $menu-icon-color-hover;
      }
    }

    // 自定义菜单项（文本框或滑条）
    &--custom {

      padding: 0 2px;

      .fn__hr,
      .fn__hr--small,
      >.b3-menu__icon {
        display: none;
      }

      &:hover,
      &.b3-menu__item--current {
        background-color: transparent !important;
      }
    }
  }

}

//菜单
.b3-menu {
  @extend %menu__model;

  .b3-list-item,
  &__item {
    color: $menu-item-color;
    min-width: 0px;
    margin: 2px 0;
    padding: 0 8px;
    justify-content: space-between;
    align-items: center;
    border-radius: $menu-item-border-radius;
    transition: all 0.3s ease 0s;

    // 图标
    .b3-menu__icon {
      width: 10px;
      height: 10px;

      // 向右箭头
      &--arrow {
        width: 10px;
        height: 10px;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  & &__submenu {
    @extend %menu__model;
    top: -8px;
    border: none;
    margin-left: $sub-menu-vertical;
    margin-right: $sub-menu-vertical;

    //【外观】二级菜单
    &--row {
      width: 410px;

      // 每个样式选项
      .b3-menu__item {
        margin: 4px 0;

        .b3-menu__label {
          span {
            box-shadow: unset !important;
            width: 22px;
            height: 22px;
            border: 1px solid $rc-border-3;
            // font-size: 0px;
          }
        }

        // 鼠标选项
        &--current {
          background-color: $menu-bg  !important;

          .b3-menu__label {
            span {
              border-color: $rc-border-1;
            }
          }
        }
      }
    }
  }

  // 分割线
  &__separator {
    margin-left: -2px;
    margin-right: -2px;
    width: calc(100% + 4px);
    border-bottom: $menu-separator;
    height: 0;
    background-color: transparent;
  }

  // 其他信息
  &__item--readonly {
    font-size: 12px;
    line-height: 16px;
    color: $menu-readonly-color;
    margin-bottom: 4px;
  }

  // 菜单项快捷键
  &__accelerator {
    color: $menu-accelerator-color;
  }

  // 块引用菜单
  &.b3-list ,
  &.b3-list--background {
    padding: 8px;

    .b3-list-item {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }


  &#commonMenu {

    .b3-text-field{
      margin-bottom: 6px;
    }

    // 添加文档标签菜单 输入框
    >.fn__flex-column>input {
      margin: 2px 2px 8px !important;
    }

    // 添加文档标签菜单 列表
    .b3-list--background {
      padding: 0px 2px 2px;
      margin: 0;
  
      .b3-list-item {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

  }

  //快捷命令菜单
  &.hint--menu {
    column-count: 4;
    column-gap: 16px;
    column-rule: 1px solid $rc-border-3;
    max-height: none !important;
    width: auto !important;
    min-width: 200px !important;
    margin: 0;

    >.emojis {
      column-span: all;
      width: 658px - 8px*2;
    }

    .b3-list-item {

      .b3-list-item__meta,
      .b3-menu__accelerator {
        color: $rc-text-placeholder  !important;
      }

      &.b3-list-item--focus {

        .b3-list-item__meta,
        .b3-menu__accelerator {
          color: $brand-4  !important;
        }
      }
    }
  }
}