$snackbar-shadow: fluent-shadow(16);
$snackbar-border-radius: $rc-bradius-small;
$snackbar-color: $rc-text-primary;
$snackbar-bg: $rc-container-bg;
$snackbar-info-color: $rc-brand;
$snackbar-link-color: $rc-brand;
$snackbar-danger-color: $rc-error;

//通知弹窗
.b3-snackbars {

  .fn__flex-1 {
    padding: 16px 16px 0 64px;
  }

  .b3-snackbar {

    .b3-snackbar__content {
      position: relative;
      color: $snackbar-color; //$rc-brand;
      box-shadow: $snackbar-shadow  !important;
      background-color: $snackbar-bg; //$brand-2;
      border-radius: $snackbar-border-radius  !important;
      padding: 13px 16px 13px 16px+18px+12px;
      font-size: 14px;
      max-width: 30vw;
      line-height: 22px;
      // height: 22px + 13px * 2;

      // 提示种类图标
      &::before {
        content: "";
        margin-top: 2px;
        display: block;
        position: absolute;
        left: 16px;
        top: calc(50% - 18px / 2);
        width: 18px !important;
        height: 18px;
        margin: 0;
        // margin-right: 8px;
        @include add_icon("info", $snackbar-info-color, 18, "round");
      }

      a {
        color: $snackbar-link-color;
      }

      .fn__space{
        width: 4px;
      }
    }

    // 提示关闭按钮
    .b3-snackbar__close {
      display: none;
    }

    // 危险提示
    &--error {
      .b3-snackbar__content {

        &::before {
          @include add_icon("warning", $snackbar-danger-color, 18, "round");
        }
      }
    }
  }

  // 提示内按钮
  .b3-button {
    background-color: $rc-brand-light;
    padding: 2px 6px !important;
    font-size: 11px;
    line-height: 18px;
    transform: translateY(-2px);
    height: 18px + 2px * 2;

    // height: 22px;
    &:hover {
      background-color: $rc-brand-light-hover  !important;
    }
  }

  // 全部已读按钮
  >.b3-button {
    margin: 0;
    padding: 8px 16px 16px !important;
    background-color: transparent;
    width: auto;
    height: 28px + 8px + 16px;

    svg,
    &::before {
      display: none !important;
    }

    &::after {
      display: flex;
      margin: 0;
      opacity: 1;
      width: auto;
      margin: 0;
      content: '全部已读';
      box-shadow: fluent-shadow(16);
      position: unset;
      transform: unset;
      color: $rc-text-anti;
      background-color: $rc-brand;
    }

    &:hover {
      background-color: transparent !important;

      &::after {
        background-color: $rc-brand-hover;
        color: $rc-text-anti;
      }
    }
  }
}