$switch-bg: $rc-container-bg;
$switch-bg-hover: $rc-container-bg;
$switch-bg-active: $rc-container-bg;
$switch-bg-checked: $rc-brand;
$switch-bg-checked-hover: $rc-brand-hover;
$switch-bg-checked-active: $rc-brand-active;

$switch-border-width: 1px;
$switch-border-color: $rc-border-1;

$switch-width: 38px + $switch-border-width * 2;
$switch-height: 18px + $switch-border-width * 2;
$switch-border-radius: $rc-bradius-max;

$switch-button-bg: $rc-border-1;
$switch-button-bg-checked: $rc-container-bg;
$switch-button-width: 12px;
$switch-button-width-hover: 14px;
$switch-button-width-active: 20px;
// $switch-button-shadow: 0 2px 4px #00230b33;

$switch-interval: calc(
  ($switch-height - $switch-button-width) / 2 - $switch-border-width
);
$switch-interval-hover: calc(
  ($switch-height - $switch-button-width-hover) / 2 - $switch-border-width
);

//开关
.b3-switch {
  background-color: $switch-bg;
  width: $switch-width;
  height: $switch-height;
  border-radius: $switch-border-radius;
  border: $switch-border-width solid $switch-border-color;
  transition: all 0.2s ease-in-out;

  &::before {
    display: none !important;
  }

  &::after {
    background-color: $switch-button-bg !important;
    border: none;
    width: $switch-button-width;
    height: $switch-button-width;
    left: $switch-interval;
    top: $switch-interval;
    bottom: unset;
    box-shadow: none;
    // box-shadow: $switch-button-shadow;
    border-radius: $rc-bradius-max;
  }

  &:hover {
    background-color: $switch-bg-hover;

    &::after {
      width: $switch-button-width-hover;
      height: $switch-button-width-hover;
      left: $switch-interval-hover;
      top: $switch-interval-hover;
    }
  }

  &:active {
    background-color: $switch-bg-active;

    &::after {
      width: $switch-button-width-active;
    }
  }

  &:checked {
    background-color: $switch-bg-checked;
    border-color: $switch-bg-checked;

    &::after {
      background-color: $switch-button-bg-checked !important;
      right: $switch-interval + $switch-button-width;
      left: unset;
      top: $switch-interval;
      bottom: unset;
      transform: translateX($switch-button-width);
      transition: all 0.2s ease-in-out;
    }

    &:hover {
      background-color: $switch-bg-checked-hover;
      border-color: $switch-bg-checked-hover;

      &::after {
        // right: 2px;
        top: $switch-interval-hover;
        right: $switch-interval-hover + $switch-button-width;
      }
    }

    &:active {
      background-color: $switch-bg-checked-active;
      border-color: $switch-bg-checked-active;
    }
  }
}
