@use "sass:map";
@use "../common" as *;

//按钮
.b3-button {
  @include reset-style();
  @include component();
  @include item("brand");

  svg {
    @include svg(map.get($icon, "small"));
  }

  &--small,
  &--cancel,
  &--outline {
    color: map.get($text, "brand");
    @include item("light");
  }

  &--outline svg {
    margin-right: $interval;
  }

  &--text {
    background-color: transparent;
    &:hover {
      background-color: map.get($bg, "light");
    }
    &:active {
      background-color: map.get($hover, "light");
    }
  }

  &--small {
    @include component("small");
  }

  &--progress {
    box-shadow: unset;
    color: transparent;
    background-color: map.get($bg, "component") !important;
    > span {
      background-color: map.get($bg, "brand");
    }
  }

  &:hover,
  &:focus {
    box-shadow: unset;
  }
}
