@use "sass:map";
@use "../common" as *;

//滑条
.b3-slider {
  height: map.get($component-size, "base");
  padding: 0 1px;

  &::-webkit-slider-thumb {
    width: 18px;
    height: 18px;
    box-shadow: map.get($shadow, 0);
    border: 4px solid map.get($bg, "pop");
    border-radius: map.get($radius, "circle");
    background-color: map.get($bg, "brand");
    margin-top: -6.5px;
    transform: unset !important;
    transition: border map.get($transition-duration, "base")
      map.get($transition-function, "fast");

    &:hover {
      border-width: 2px;
      background-color: map.get($hover, "brand");
    }

    &:active {
      border-width: 4.5px;
      background-color: map.get($active, "brand");
    }
  }

  &::-webkit-slider-runnable-track {
    height: 4px;
    background-color: map.get($bg, "brand");
    border-radius: map.get($radius, "max");
  }
}
