//界面上按钮
@mixin block__icon__model($width, $svg-width) {
  width: $width;
  height: $width;
  padding: 0;
  border-radius: $rc-bradius-small;
  color: $rc-text-primary;

  &:hover {
    color: $rc-text-primary  !important;
    background-color: $rc-component-bg;
  }

  // &:active {
  //   background-color: $gray-4;
  // }

  &.ft__primary,
  &--active {
    color: $rc-brand;
    background-color: $rc-component-bg-select;

    &:hover {
      background-color: $rc-component-bg-select  !important;
      color: $rc-brand  !important;
    }

    // &:active {
    //   background-color: $brand-3;
    // }
  }

  &[disabled="disabled"] {
    color: $rc-text-disabled;

    &:hover {
      background-color: transparent;
      color: $rc-text-disabled  !important;
    }

    &::after {
      display: none;
    }
  }

  &[type="checkbox"] {
    width: $svg-width  !important;
    margin: 0 calc(($width - $svg-width) / 2);
  }

  svg {
    width: $width;
    height: $width;
    padding: calc(($width - $svg-width) / 2);
  }
}

@mixin graphic($width, $img-width) {
  width: $width  !important;
  height: $width  !important;
  margin: 0;
  padding: calc((#{$width} - #{$img-width}) / 2) !important;

  svg {
    width: $img-width;
    height: $img-width;
  }
}

@mixin add_icon($icon_name, $color, $size, $position) {
  background-color: $color;
  $icon_url: "#{$asset-path}/icons/#{$icon_name}_black_#{$size}dp.svg";
  -webkit-mask: url($icon_url) #{$position};
  mask: url($icon_url) #{$position};
}

@mixin focus_before($top, $left) {
  content: "";
  display: block;
  position: absolute;
  top: $top;
  bottom: $top;
  left: $left;
  width: 3px;
  height: calc(100% - $top * 2);
  transform: unset;
  opacity: 1;
  background-color: $rc-brand;
  margin: 0;
  border-radius: 25%;//$rc-bradius-max;
}

@mixin emoji_icon($width, $fz, $icon-width) {
  padding: 0 !important;
  width: $width;
  height: $width;
  // 原生emoji
  font-size: $fz;
  line-height: $width;

  // 自定义emoji
  img,
  // twitter-emoji
  svg.custom-icon {
    @include graphic($width, $icon-width);
  }

}