//数量按钮
%counter__model {
  height: 22px;
  width: auto;
  padding: 0 7px;
  text-align: center;
  justify-content: center;
  line-height: 22px;
  color: $rc-text-secondary;
  background-color: $rc-component-bg;
  border-radius: $rc-bradius-extra-small;
  &:hover {
    background-color: $rc-component-button;
  }
  // &:active {
  //   background-color: $gray-6;
  // }
}

%mark__model {
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 65%;
    left: 0px;
    right: 0px;
    height: 35%;
    border-radius: $rc-bradius-max;
    opacity: 0.4;
    background-color: $brand-7;
  }
}
