@use '../common' as *;
//选择菜单

.b3-select {
    @include component();
    box-shadow: unset;
    background-color: get($bg, 'component', 1);
    padding-right: 24px;
    &:hover,
    &:focus,
    &:focus-visible {
        box-shadow: unset;
    }
}
