@use "../common" as *;
$select-bg: rgba(var(--brand-6), 0.3);
$select-dark: get($bg, "page", 4);

::selection {
  background-color: $select-bg;

  .dark & {
    background-color: $select-dark;
  }
}

// 拖拽选中
.protyle-wysiwyg .dragover {
  @include drag();
}
