$dialog-account-border: $rc-border-3;
$dialog-account-button-color: $rc-brand;
$dialog-account-button-bg-hover: $rc-brand-light;

.b3-dialog__container {
  &[style*="80vw"] {

    // .b3-tab-bar.b3-list.b3-list--background,
    //账号
    .config-account__center:first-child {
      border-right: 1px solid $dialog-account-border;
      margin: 16px 24px;

      #agreeLogin+span+span {
        line-height: 20px;
      }

      .b3-button {
        color: $dialog-account-button-color;

        &:hover {
          background-color: $dialog-account-button-bg-hover;
        }
        svg{
          width: 14px;
          height: 14px;
          margin-right: 0;
        }
      }

      .config-account__info {
        flex: 1;

        .fn__hr--b+.fn__flex label {

          // line-height: 20px;
          input {
            transform: translateY(-1.8px);
          }
        }
      }

      .b3-switch {
        margin-left: 8px;
      }
    }

    #activationCode {
      font-size: 11px !important;
      padding: 1px 6px;
      top: 4px !important;
      right: 4px !important;

      &:hover {
        background-color: $rc-component-button;
      }
    }

  }
}