//弹窗蒙版
$dialog-scrim: rgba(36, 39, 41, 0.3);
//弹窗阴影
$dialog-shadow: fluent-shadow(64);
//弹窗边框弧度
$dialog-border-radius: $rc-bradius-extra-large;


$dialog-large-width: 68vw;

$dialog-header-border: $rc-border-3;

$dialog-tabs-bg: $rc-container-bg;
$dialog-tabs-height: "min(66.1vh, 60px * 11 - 8px)";

$dialog-label-bg: $rc-container-bg;
$dialog-label-border: $rc-border-3;
$dialog-label-text: $rc-text-secondary;

//弹窗
//蒙版
.b3-dialog__scrim {
  background-color: $dialog-scrim;
}

//大弹窗
.b3-dialog__container {
  box-shadow: $dialog-shadow;
  border-radius: $dialog-border-radius;

  div[style="height:auto"]>div {
    border-radius: 0 0 $dialog-border-radius $dialog-border-radius  !important;
  }

  &[style*="80vw"] {
    width: $dialog-large-width  !important;

    // 弹窗关闭按钮
    .b3-dialog__close {
      display: none;
    }

    // 笔记本设置界面标题
    .b3-dialog__header {
      border-color: $dialog-header-border;
    }

    // 侧边导航栏
    .b3-tab-bar,
    // 设置项界面
    .b3-tab-container {
      height: #{$dialog-tabs-height} !important;
      background-color: $dialog-tabs-bg;
    }

    // 侧边导航栏
    .b3-tab-bar {
      // border-radius: $tab-bar-border-radius;
      padding-right: 4px;
      margin-top: 8px;
      width: 160px !important;

      // 导航按钮
      .b3-list-item--big {
        padding: 16px 24px;
        margin: 8px 0 0 !important;

        &:first-child {
          margin-top: 0px !important;
        }

        // 导航图标
        .b3-list-item__graphic {
          @include graphic(20px, 12px);
          margin-right: 22px;
        }
      }
    }

    //label
    .b3-label {
      background-color: $dialog-label-bg;
      border-color: $dialog-label-border;

      .b3-label__text {
        color: $dialog-label-text  !important;
      }

      // 搜索筛选设置
      .config-query {
        label {
          margin-top: 8px;
        }
      }
    }
  }
}