.b3-dialog__container {

    // 底层元素
    div[style*="80vh"]>.fn__flex-column {
        background-color: $rc-container-bg;
        border-radius: $rc-bradius-extra-large;

        // 顶部导航栏
        &>.layout-tab-bar {
            margin: 0 8px;
            border-bottom: 1px solid $rc-border-3;
            padding: 16px 8px;
        }

    }

    // 主界面
    #historyContainer {

        // 侧栏列表
        %list {

            .b3-list {
                background-color: $rc-container-bg !important;
                border-radius: $rc-bradius-small;

                .b3-list-item {
                    margin-right: 0;
                }
            }

            // 一级列表
            >.b3-list {
                padding: 8px 16px;
                margin: 8px 0;
                width: 300px !important;
                border-right: 1px solid $rc-border-3;
            }
        }

        // 文档历史界面
        >[data-type="doc"] {
            @extend %list;

            // 文档展示
            .history__text {
                background-color: $rc-container-bg  !important;
            }
        }

        // 资源历史界面
        >[data-type="assets"] {
            @extend %list;

            .history__asset {
                background-color: $rc-container-bg  !important;
            }
        }

        // 笔记本历史界面
        >[data-type="notebook"] {
            margin: 0;
            background-color: $rc-container-bg  !important;
            padding: 16px;


            .b3-list-item {
                &:hover {
                    background-color: $rc-component-bg  !important;
                }

                // 回退按钮
                .b3-list-item__action {
                    width: auto !important;
                    height: auto !important;
                    font-size: 10px;
                    padding: 0px 6px !important;

                    svg {
                        width: 8px;
                        height: 8px;
                    }

                    .fn__space {
                        width: 4px;
                    }
                }
            }

        }

        // 数据快照界面
        .history__repo {
            @extend %list;
            background-color: $rc-container-bg;

            .history__repoheader {
                padding: 16px;
                background-color: $rc-container-bg  !important;
            }

            // 第二行操作栏
            >.history__repoheader {
                border-bottom: 1px solid $rc-border-3;
                padding: 16px 8px;
                margin: 0 8px;

                // 前进后退按钮
                .block__icon {
                    padding: 9px;

                    svg {
                        width: 10px;
                        height: 10px;
                    }

                    // 无法点击
                    &[disabled="disabled"] {
                        color: $rc-text-disabled;
                    }

                    &::after {
                        display: none;
                    }
                }

                // 侧栏列表
                +.fn__flex-1 {
                    @extend %list;

                }
            }

            > .b3-list li{
                list-style: none;
            }
        }

    }
}