$dialog-readme-border-radius: $dialog-border-radius;
$dialog-readme-side-bg: $rc-container-bg;
$dialog-readme-side-border-radius: $rc-bradius-medium;
$dialog-readme-return-color: $rc-text-secondary;
$dialog-readme-return-bg-hover: $rc-component-bg;
$dialog-readme-nav-border-radius: $rc-bradius-max;
$dialog-readme-nav-shadow: rc-shadow(1);
$dialog-readme-nav-border: $rc-border-3;
$dialog-readme-main-border-radius: $rc-bradius-medium;
$dialog-readme-main-bg: $rc-container-bg;
$dialog-readme-main-code-bg: $rc-component-bg;
$dialog-readme-main-margin: 96px;

//集市Readme
.config-bazaar__readme {
  border-radius: $dialog-readme-border-radius;

  // 侧栏
  .item__side {
    background-color: $dialog-readme-side-bg;
    border-radius: $dialog-readme-side-border-radius;

    // 按钮
    .b3-button--outline {
      // 返回按钮
      &[data-type="goBack"] {
        
        margin: 8px;
        color: $dialog-readme-return-color;
        padding: 8px;
        background-color: transparent;

        &:hover {
          background-color: $dialog-readme-return-bg-hover;
        }

        // 返回图标
        svg {
          width: 12px;
          height: 12px;
          transform: translateX(1px);
        }
      }
    }

    // 侧栏顶部标签
    .item__nav {
      width: auto;
      margin: 12px 70px;
      height: 24px;
      line-height: 24px;
      border-radius: $dialog-readme-nav-border-radius;
      box-shadow: $dialog-readme-nav-shadow;
      border: 1px solid $dialog-readme-nav-border;
      font-size: 12px;
      transform: translateX(-24px) translateY(0px);
    }
  }

  // Readme主页
  .item__main {
    border-radius: $dialog-readme-main-border-radius;
    background-color: $dialog-readme-main-bg;

    // 预览图
    .item__preview {
      border-radius: unset;
      margin-bottom: 0;

      // 预览图全屏时
      &--fullscreen {
        border-radius: $rc-bradius-extra-large;
      }
    }

    // Readme正文
    .item__readme {
      box-sizing: content-box;
      padding: 16px $dialog-readme-main-margin 30vh !important;

      // 代码块
      code {
        background-color: $dialog-readme-main-code-bg;
      }
    }
  }
}