@use "../common" as *;
@use "block-icons";

$pop-radius: get($radius, "exlarge");
$pop-bg: get($bg, "page", 1);
$content-min-height: 74px;
$bread-crumb-height: 32px;

//块引用窗口
.block {
  &__popover {
    box-shadow: get($shadow, 3);
    border-radius: $pop-radius;

    opacity: 0;
    margin-top: 25px;
    &--open {
      opacity: 1;
      margin-top: 0px;
      transition: opacity,
        margin-top get($transition-duration, "base")
          get($transition-function, "ease-in-out");
    }
  }

  &__icons--border {
    border-radius: $pop-radius $pop-radius 0 0;
    background-color: $pop-bg;
    -webkit-app-region: no-drag;
    .block__icon + .fn__space {
      width: $fn-space;
    }
  }

  &__content {
    border-radius: 0 0 $pop-radius $pop-radius;
    background-color: $pop-bg;
  }

  &__edit {
    border: none;
    min-height: 28px + 120px !important;

    .protyle {
      &-breadcrumb {
        // &__bar {
        //   position: relative;
        //   &::after {
        //     content: "";
        //     position: absolute;
        //     display: inline-block;
        //     width: -webkit-fill-available;
        //     top: 50%;
        //     margin-left: 8px;
        //     height: 1px;
        //     background-color: get($border, 3);

        //     // border-top: $fn-border;
        //     // z-index: 0;
        //   }
        // }

        &__item--active {
          .protyle-breadcrumb__text:not(:empty) {
            color: get($text, "placeholder");
            &:hover {
              color: get($text, "primary");
            }
          }
        }
      }

      &-content {
        background-color: $pop-bg;
      }
    }
  }
}
