@use '../common' as *;
@use '../layout/top-bar';

body.body--window {
    .layout-tab-bar {
        opacity: 1 !important;
        &--readonly {
            padding-right: top-bar.$win-control-w * 3 !important;
        }
    }
    .toolbar__window {
        @include top-bar.win-controls();
        -webkit-app-region: no-drag;
    }
}
