@use '../common' as *;
@use '../layout/top-bar';

body.body--window {
    .toolbar__window {
        @include top-bar.win-controls();
        -webkit-app-region: no-drag;
    }
    #pinWindow {
        svg {
            transition: transform get($transition-duration, 'base')
                get($transition-function, 'ease-in-out');
        }
        &.toolbar__item--active svg {
            transform: rotate(-45deg);
        }
    }
}
