@use "../common" as *;

//按钮
.b3-button {
  @include reset-style();
  @include component();
  @include item("primary");

  svg {
    @include svg(get($icon, "small"));
  }

  &:hover,
  &:focus {
    box-shadow: unset;
  }

  &--progress {
    box-shadow: unset;
    color: transparent;
    position: relative;
    background-color: get($bg, "component", 1) !important;
    > span {
      background-color: get($bg, "primary", 1);
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &--small,
  &--cancel,
  &--outline {
    @include item-focus();
  }

  &--outline svg {
    margin-right: $interval;
  }

  &--text {
    @include item("focus", 0);
    @include color-change("focus");
  }

  &--white {
    @include item-unchange("page");
  }

  &--small {
    @include component("small");
  }
}
