
@use "../common" as *;

//滑条
.b3-slider {
  height: get($component-size, "base");
  // padding: 0 1px;

  &::-webkit-slider-thumb {
    @include item("primary");
    width: 18px;
    height: 18px;
    box-shadow: get($shadow, 0);
    border: 4px solid get($text, "anti");
    border-radius: get($radius, "circle");
    margin-top: -6.5px;
    transform: unset !important;
    transition: border get($transition-duration, "base")
      get($transition-function, "fast");

    &:hover {
      border-width: 2px;
    }

    &:active {
      border-width: 4.5px;
    }
  }

  &::-webkit-slider-runnable-track {
    height: 4px;
    background-color: get($bg, "primary", 1);
    border-radius: get($radius, "max");
  }
}
