//多行代码块
.hljs {
  background-color: $rc-code-background;
  padding: 34px 16px 32px 22px !important;
  font-size: 80%;
  line-height: 1.625;
  &.protyle-linenumber {
    padding-left: 10px !important;
    margin-left: 50px;
  }
  // &::-webkit-scrollbar-thumb {
  //   box-shadow: inset 0 0 10px 10px $rc-scroll-hover;
  // }
}
.code-block {
  // .protyle-wysiwyg--hl,
  background-color: $rc-code-background;
  // background-color: transparent;
  border-radius: $rc-border-radius-small;
  font-family: "HarmonyOS Sans SC", "JetBrains Mono";
  &:hover .protyle-icons{
    opacity: 1 !important;
  }
  .protyle-icons {
    left: 8px;
    top: 8px;
    right: 6px;
    background-color: transparent;
    transition: opacity 0.5s ease-out;
    %code-action {
      border-radius: $rc-border-radius-extra-small;
      font-size: 12px;
      display: flex;
      color: $rc-theme-on-surface;
      &:hover {
        background-color: $rc-theme-list-button;
      }
      &::after {
        content: "";
        display: flex;
        flex-direction: column;
        margin-left: 4px;
      }
    }
    // display: block;
    .protyle-action__language {
      text-transform: capitalize;
      @extend %code-action;
      height: 20px;
      padding: 0 5px;
      &::after {
        content: "";
        width: 10px;
        height: 20px;
        @include add_icon(
          "expand_more",
          rgba($rc-theme-on-surface, 0.5),
          18,
          "no-repeat center"
        );
      }
    }
    .protyle-action__copy {
      @extend %code-action;
      position: absolute;
      top: -2px;
      right: 0;
      padding: 4px 6px;
      height: 17px;
      background-color: $rc-theme-list-button;
      svg {
        display: flex;
        width: 12px;
        height: 17px;
        margin-right: 4px;
      }
      &::before {
        display: none;
      }
      &::after {
        content: "Copy";
        font-size: 12px;
        line-height: 1.2;
        height: 100%;
        position: unset;
        border-radius: unset;
        background-color: transparent;
        box-shadow: none;
        color: $rc-theme-on-surface;
        padding: 0;
        margin: 0 auto;
        opacity: 1;
        transition: unset;
        transform: unset;
      }
      &:hover {
        background-color: $rc-theme-gray-3;
      }
      &:active {
        background-color: $rc-theme-gray-5;
      }
    }
  }
  .hljs {
    background-color: transparent !important;
  }
  .protyle-linenumber__rows {
    font-size: 80%;
    // flex-direction: column;
    background-color: transparent !important;
    padding: 33px 0px 32px 0px !important;
    line-height: 21px;
    width: 40px;
    margin-right: 10px;
    span {
      height: 21px;
    }
  }
}

// code {
//   // font-size: 70% !important;
// }
