.protyle-background {
  //有题头图，无emoji
  &[style*="30vh"] {
    border-bottom: 36px solid transparent !important;
    .protyle-icons {
      top: 30vh;
    }
  }
  //有题头图，有emoji
  &[style*="30vh"][style*="40px"] {
    min-height: 30vh !important;
    border-bottom: 72px solid transparent !important;
    .protyle-icons {
      top: calc(30vh + 36px);
    }
  }
  //无题头图，有emoji
  &[style*="40px"][style*="48px"] {
    min-height: 96px+78px+36px !important;
    margin: 0px !important;
    .protyle-background__icon {
      top: 96px;
      margin: 0 0 36px 3px;
    }
    .protyle-icons {
      top: 96px+78px;
    }
  }
  //无题头图，无emoji
  min-height: 108px;
  margin: 0 !important;
  //题头按钮组
  .protyle-icons {
    background-color: transparent;
    margin: 8px 0 4px;
    height: 24px;
    top: 72px;
    left: #{$content-margin};
    transition: opacity 100ms ease;
    opacity: 0;
    .b3-tooltips {
      display: inline-flex;
      height: 28px;
      border-radius: 4px;
      padding: 0 8px 0 6px;
      color: rgba($rc-theme-on-surface, 0.4);
      background-color: transparent;
      &:hover {
        background-color: $rc-theme-list-hover;
      }
      svg {
        width: 14px;
        height: 14px;
        padding: 7px 6px 0 0;
        display: inline-flex;
      }
      &::after {
        display: inline-flex;
        height: 28px;
        font-size: 14px;
        line-height: 28px;
        transform: none;
        transition: none;
        opacity: 1;
        color: rgba($rc-theme-on-surface, 0.4);
        background-color: transparent;
        position: static;
        margin: 0;
        padding: 0;
      }
      input {
        width: 100% !important;
        font-size: 0;
      }
    }
  }
  //题头emoji
  .protyle-background__icon {
    left: #{$content-margin} !important;
    width: 78px;
    height: 78px;
    font-size: 54px;
    top: calc(30vh - 42px);
    line-height: 78px;
    text-align: center;
    border-radius: 4px;
    svg {
      width: 78px;
      height: 78px;
    }
    &:hover {
      background-color: rgba($rc-theme-list-button, 0.5);
    }
  }
  &:hover {
    .protyle-icons {
      opacity: 1;
    }
  }
}
