.protyle-background {
  //无题头图，无emoji
  min-height: 108px !important;
  margin: 0 !important;
  padding: 0;
  //无题头图，有emoji
  &[style*="64px"] {
    min-height: 96px+78px+36px !important; //+36px
    margin: 0px !important;
    .protyle-background__iconw {
      top: 96px;
      // .protyle-icons {
      //   margin-top: calc(78px / 2 + 8px );
      // }
      // margin: 0 0 36px 3px;
      // .protyle-background__icon{
      //   float: left;
      // }
      // .protyle-icon {
      //   float: left;
      // }
    }
  }
  //有题头图
  &[style*="30vh"] {
    min-height: 30vh !important;
    border-bottom: calc(78px / 2 + 8px + 24px + 4px) solid transparent !important;
    //有题头图，无emoji
    .protyle-background__iconw {
      top: calc(30vh - 39px) !important;
      // 有题头图，有emoji
      // .protyle-icons {
      //   margin-top: calc(78px / 2 + 8px + 44px);
      // }
      .protyle-background__icon.fn__none + .protyle-icons {
        margin-top: calc(78px + 8px);
      }
    }
  }
  // 按钮组
  %protyle-icons__model {
    background-color: transparent;
    margin: 8px 0 4px;
    height: 28px;
    transition: opacity 300ms ease-in;
    opacity: 0;
    z-index: -99;
    .b3-tooltips {
      display: inline-flex;
      height: 28px;
      border-radius: $rc-border-radius-small;
      padding: 0 8px 0 6px;
      // color: $rc-theme-text-2;
      background-color: transparent;
      &:hover {
        background-color: $rc-theme-surface-button;
      }
      svg {
        width: 14px;
        height: 14px;
        padding: 7px 6px 0 0;
        color: $rc-theme-text-3;
        // opacity: 0.5;
        display: inline-flex;
      }
      &::after {
        display: inline-flex;
        z-index: 0;
        height: 28px;
        font-size: 14px;
        line-height: 28px;
        transform: none;
        transition: none;
        opacity: 1;
        color: $rc-theme-text-3;
        background-color: transparent;
        position: static;
        margin: 0;
        padding: 0;
      }
      input {
        width: 100% !important;
        font-size: 0;
      }
    }
  }
  //题头图
  .protyle-background__img {
    .protyle-icons {
      &:not([style]) {
        @extend %protyle-icons__model;
        background-color: $rc-theme-surface-background;
        color: $rc-theme-on-background;
        height: 26px;
        // margin: 0 8px;
        left: auto;
        right: #{$content-margin};
        box-shadow: rgb(15 15 15 / 10%) 0px 0px 0px 1px,
          rgb(15 15 15 / 10%) 0px 2px 4px;
        .b3-tooltips {
          background-color: $rc-theme-surface-background;
          border-radius: unset;
          height: 26px;
          svg {
            // display: none;
            color: $rc-theme-text-1;
            width: 10px;
            height: 10px;
            padding-top: calc((26px - 10px) / 2);
          }
          &::after {
            font-size: 12px;
            line-height: 26px;
            color: $rc-theme-text-1;
          }
          &:first-child {
            border-radius: $rc-border-radius-small 0 0 $rc-border-radius-small;
            svg {
              width: 9px;
              height: 9px;
              padding-top: calc((26px - 9px) / 2);
            }
          }
          &:last-child {
            border-radius: 0 $rc-border-radius-small $rc-border-radius-small 0;
          }
          &:not(:last-child) {
            border-right: 1px solid $rc-theme-border-1;
          }
          &:nth-child(4){
            &::after{
              content: '调整';
            }
          }
          &:hover {
            background-color: $rc-theme-list-hover;
          }
        }
      }
      &[style*="right"] {
        background: rgba(0, 0, 0, 0.4);
        border-radius: $rc-border-radius-extra-small;
        color: white;
        width: auto;
        height: 25.2px;
        text-align: center;
        top: calc(50% - 25.2px / 2) !important;
        left: calc(50% - 90px) !important;
        margin: 0 !important;
        span {
          width: auto;
          height: 25.2px;
          font-size: 12px;
          padding: 0em 18px;
          line-height: 25.2px;
          &:hover {
            background-color: unset;
          }
        }
      }
      &[style*="opacity"]:not([style*="right"]) {
        @extend %protyle-icons__model;
        z-index: 1;
        background-color: $rc-theme-surface-background;
        color: $rc-theme-on-background;
        height: 26px;
        // margin: 0 8px;
        right: #{$content-margin};
        box-shadow: rgb(15 15 15 / 10%) 0px 0px 0px 1px,
          rgb(15 15 15 / 10%) 0px 2px 4px;
        span {
          background-color: $rc-theme-surface-background;
          border-radius: unset;
          height: 26px;
          line-height: 26px;
          color: $rc-theme-text-1;
          padding: 0 6px;
          &:first-child {
            border-radius: $rc-border-radius-extra-small 0 0 $rc-border-radius-extra-small;
          }
          &:last-child {
            border-radius: 0 $rc-border-radius-extra-small $rc-border-radius-extra-small 0;
          }
          &:not(:last-child) {
            border-right: 1px solid $rc-theme-border-1;
          }
          &:hover {
            background-color: $rc-theme-list-hover;
          }
        }
      }
    }
    &:hover .protyle-icons {
      opacity: 1;
      z-index: 99;
    }
  }

  //文档icon组
  .protyle-background__iconw {
    left: #{$content-margin} !important;
    height: auto;
    width: 256px;
    margin-left: 3px;
    display: block;
    //题头按钮组
    .protyle-icons {
      @extend %protyle-icons__model;
      // top: 72px;
      // left: #{$content-margin};
    }
    //题头emoji
    .protyle-background__icon {
      // left: #{$content-margin} !important;
      width: 78px;
      height: 78px;
      font-size: 54px;
      top: calc(30vh - 42px);
      line-height: 78px;
      text-align: center;
      border-radius: $rc-border-radius-small;
      svg {
        width: 78px;
        height: 78px;
      }
      &:hover {
        background-color: rgba($rc-theme-list-button, 0.5);
      }
    }
  }

  &:hover {
    .protyle-background__iconw .protyle-icons {
      opacity: 1;
    }
  }
}

//文档标题
.protyle-title {
  margin: 0 #{$content-margin} !important;
  max-width: #{$rc-editor-width};
  &:hover .protyle-title__icon {
    opacity: 0.6;
  }
  .protyle-title__icon {
    transform: translateX(-6px);
    border-right: 6px solid transparent;
    &:hover {
      opacity: 1;
    }
    &::after {
      right: 100%;
      left: auto;
    }
  }
  .protyle-title__input {
    // height: 54px;
    font-weight: 700;
    color: $rc-theme-text-0;
    padding: 3px 2px;
    background-color: $rc-theme-surface-background;
  }
}
