@function avg-fs($max, $min, $index) {
  // @if $index == 1 {
  //   @return $max;
  // }
  // @if $index == 2 {
  //   @return $max;
  // }
  // @if $index == 3 {
  //   @return $max - 8px;
  // }
  // @if $index == 4 {
  //   @return $max - 8px;
  // }
  // @if $index == 5 {
  //   @return $min;
  // }
  @if $index == 6 {
    @return $min;
  }
  $interval: calc(($max - $min) * ($index - 1) / 4);
  $result: calc(#{$max} - #{$interval});
  @return $result;
}

$max-fs: 30px;
$min-fs: 16px;

@mixin heading($index) {
  font-size: avg-fs($max-fs, $min-fs, $index);
  margin-top: 1.2em;
  margin-bottom: 0.5em;
  @if $index == 1 {
    line-height: 1.23;
  }
  @if $index == 2 {
    line-height: 1.35;
  }
  @if $index == 3 {
    line-height: 1.35;
  }

  @if $index == 4 {
    line-height: 1.4;
  }
  @if $index == 5 {
    line-height: 1.5;
  }
  @if $index == 6 {
    line-height: 1.5;
  }
}

.b3-typography,
.protyle-wysiwyg {
  @for $i from 1 through 6 {
    & > h#{$i}:first-child,
    & > .h#{$i}:first-child {
      margin-top: 0;
    }
    h#{$i},
    .h#{$i} {
      color: $rc-theme-text-0;
      white-space: pre-wrap;
      word-break: break-word;
      padding-top: 2px;
      padding-bottom: 2px;
      @include heading($i);
      [spellcheck="false"] {
        min-height: 0;
      }
    }
  }
}
