.protyle-wysiwyg [data-node-id].li {
  > [data-node-id]:before {
    border-color: $rc-list-border !important;
    left: -18px !important;
  }
  .list::before {
    border-color: $rc-list-border !important;
    left: -2px !important;
    top: 2px;
    bottom: -2px;
  }
}
.b3-typography > .li > .protyle-action,
.protyle-wysiwyg > .li > .protyle-action {
  transform: translateX(10px);
}

//折叠后样式
.protyle-wysiwyg [data-node-id].li[fold="1"] > .protyle-action {
  &::after {
    opacity: 0.2 !important;
    background-color: $rc-theme-gray-5 !important;
    transform: translateX(0.5px);
  }
  &:hover::after {
    background-color: $rc-theme-gray-5 !important;
    opacity: 0.4 !important;
  }
  &.protyle-action--task::after {
    border-radius: unset !important;
  }
}

$rc-task-done-opacity: 0.4;
.protyle-task--done .p * {
  color: rgba($rc-theme-on-surface, $rc-task-done-opacity);
  border-color: rgba($rc-theme-on-surface, $rc-task-done-opacity);
  //完成后的超链接样式
  &[data-type="a"] {
    color: rgba($rc-inline-link-color, $rc-task-done-opacity) !important;
    border-color: rgba(
      $rc-inline-link-border-color,
      $rc-task-done-opacity
    ) !important;
    &::after {
      background-color: rgba(
        $rc-inline-link-color,
        $rc-task-done-opacity
      ) !important;
    }
    &:hover {
      border-color: rgba(
        $rc-inline-link-color,
        $rc-task-done-opacity
      ) !important;
    }
  }
  //完成后的块引用
  &[data-type="block-ref"] {
    color: rgba($rc-inline-blockref-color, $rc-task-done-opacity) !important;
    &:hover {
      background-color: $rc-theme-primary-1 !important;
    }
  }
  &[data-type="tag"] {
    color: rgba($rc-theme-on-background, $rc-task-done-opacity) !important;
  }
  &[style*="color"] {
    opacity: $rc-task-done-opacity;
  }
}
