.list {
  &::before {
    border-color: $rc-list-border !important;
    top: 0 !important;
  }
}

.b3-typography > .li > .protyle-action,
.protyle-wysiwyg > .li > .protyle-action {
  transform: translateX(10px);
}

.protyle-action {
  .li[fold="1"] > & {
    &::after {
      opacity: 0.1 !important;
      background-color: $rc-theme-on-surface !important;
    }
    &:hover::after {
      opacity: 0.3 !important;
    }
  }
  &::after {
    opacity: 0.3 !important;
  }
  &.protyle-action--task::after {
    border-radius: 0px !important;
  }
}
