//标签
span[data-type="tag"]:not(.dock__item) {
//   font-weight: bold;
  border-radius: $rc-border-radius-small;
  color: $rc-inline-tag-color;
  border: none !important;
  position: relative;
  padding-right: 12px;
  // background-color: $rc-inline-tag-background;
  // border-color: rgba($rc-inline-tag-color, 0.2) !important;
  &:hover {
    background-color: $rc-inline-tag-hover !important;
  }
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 2px;
    width: 12px;
    height: 12px;
    @include add_icon("search", $rc-inline-tag-color, 18, "round");
  }
}
