.protyle-util {
  border-radius: 6px;
  &[style*="width"] {
    width: 320px !important;
    .b3-form__space--small {
      display: flex;
      flex-direction: row;
      input:first-child {
        display: flex;
        margin-right: 12px;
      }
      .fn__hr {
        display: none;
        + input {
          display: none;
        }
      }
      .fn__flex {
        .fn__flex-1 {
          display: none;
        }
        button:hover{
            background-color: $rc-theme-surface-button;
        }
      }
    }
  }
}
